# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Webscraping Project 4 Lab

Week 4 | Day 4

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com (or other sites at your team's discretion). In the second part, the focus is on using listings with salary information to build a model and predict high or low salaries and what features are predictive of that result.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

In [1]:
URL = "http://www.indeed.com/jobs?q=data+scientist&l=New+York&start=20"
#URL = "http://www.indeed.com/viewjob?cmp=StreetID&t=Quantitative+Analyst&jk=7310f6c4a3e64d86&q=data+scientist+%2420%2C000"
#URL = "http://www.indeed.com/cmp/The-Real-Deal/jobs/Research-Analyst-f7ca8bb533116aa5?sjdu=Zzi_VW2ygsY1fzh3Ma9ZsPaqOkFrOZiF9heaw3NaNTj0OQvZGGtRbaXwwfcz5j-Cmo2b5pswEqp4hwhkngvpEg"
#URL = "http://www.indeed.com/viewjob?cmp=DTS&t=Senior+Machine+Learning+Data+Engineer&jk=52f498ef4a67d884&q=data+scientist+%2420%2C000"

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup

In [3]:
## YOUR CODE HERE
import requests
import bs4
from bs4 import BeautifulSoup
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium import webdriver

dcap = dict(DesiredCapabilities.PHANTOMJS)
dcap["phantomjs.page.settings.userAgent"] = (
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36"
)

driver = webdriver.PhantomJS(executable_path='/Applications/anaconda/anaconda/bin/phantomJS', desired_capabilities=dcap)
driver.set_window_size(1024, 768) 

URL = "http://www.indeed.com/jobs?q=data+scientist&l=New+York&start=20"

driver.get(URL)
page_html = driver.page_source
soup = BeautifulSoup(page_html, "lxml")
print(soup.prettify())

WebDriverException: Message: 'phantomJS' executable needs to be in PATH.

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- Make sure these functions are robust and can handle cases where the data/field may not be available.
- Test the functions on the results above
- Include any other features you may want to use later (e.g. summary, #of reviews...)

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

### Complete the following code to collect results from multiple cities and starting points. 
- Indeed.com only has salary information for an estimated 20% of job postings. You may want to add other cities to the list below to gather more data. 
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [415]:
################################################################
############### EDIT THESE CONSTANTS
############### 
###############        EDIT THESE CONSTANTS

MAX_RESULTS_PER_CITY = 1000      ### DO NOT SET MORE THAN 1000
URL_SEARCH_TERM = 'Data Scientist' ### DO NOT SET MORE THAN SINGLE SEARCH TERM (TITLE)
CITY_SET = ['New York', 'Chicago', 'San Francisco', 'Austin', 'Atlanta', '', 'Boston', 'Seattle'\
            'Los Angeles','Washington, DC', 'San Jose','Denver', 'Atlanta','Houston',\
            'Dallas','Nashville','San Diego','Cleveland','Minneapolis','Baltimore','Philadelphia','Detroit']
###############
################################################################


import requests
import bs4
import pandas as pd
from bs4 import BeautifulSoup
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium import webdriver
import datetime
import urllib

def extract_location_from_resultRow(result):
    try:
        location = (result.find(class_='location').text.strip())
    except:
        location = ''
    return location

def extract_company_from_resultRow(result):
    try:
        company = (result.find(class_='company').text.strip())
    except:
        company = ''
    return company

def extract_jkid_from_resultRow(result):
    try:
        row = (result.find(class_='jobtitle turnstileLink'))
        jkid = result['data-jk']
    except: 
        jkid = ''
    return jkid

def extract_title_from_resultRow(result):
    try:
        title = (result.find(class_='turnstileLink'))
        title_text = title.text
    except: 
        title_text = ''
    return title_text

def extract_salary_from_resultRow(result):
    try:
        salary = (result.find(class_='snip').find('nobr').text)
    except:
        salary = ''
    salary_text = salary
    return salary_text

def extract_reviews_from_resultRow(result):
    try:
        reviews = (result.find(class_='slNoUnderline').text.strip().strip(' reviews').replace(',',''))
    except: 
        reviews = ''
    return reviews

def extract_stars_from_resultRow(result):
    try: 
        stars = (result.find(class_='rating')['style']).split(';background-position:')[1].split(':')[1].split('px')[0].strip()
    except: 
        stars = ''
    return stars

def extract_date_from_resultRow(result):
    try: 
        date = (result.find(class_='date').text.strip(' ago').strip())
    except: 
        date = ''
    return date

def extract_summary_from_resultRow(result):
    try: 
        summary = (result.find("span", {"itemprop" : "description"}).text.strip())
    except: 
        summary = ''
    return summary

dcap = dict(DesiredCapabilities.PHANTOMJS)
dcap["phantomjs.page.settings.userAgent"] = ("Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36")

driver = webdriver.PhantomJS(executable_path='/Applications/anaconda/anaconda/bin/phantomJS', desired_capabilities=dcap)
driver.set_window_size(1024, 768) 

for city in CITY_SET:
    job_dict = []
    now = datetime.datetime.now()
    for start in range(0, MAX_RESULTS_PER_CITY, 10):

        URL = "http://www.indeed.com/jobs?q="+urllib.quote(URL_SEARCH_TERM)+"&l="+urllib.quote(city)+"&start="+str(start)
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"data-tn-component" : "organicJob"}):

            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            jkid = extract_jkid_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            reviews = extract_reviews_from_resultRow(i)
            stars = extract_stars_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict.append([location, company, summary, jkid, title, salary, stars, reviews, post_date, now])
            
        job_df = pd.DataFrame(job_dict, columns=['location', 'company', 'summary', 'jkid', 'title', 'salary', 'stars', 'reviews', 'post_date', 'pull_date'])       

    job_df.to_csv('scrape'+city+'_'+str(MAX_RESULTS_PER_CITY)+'.csv', encoding='utf-8')

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [44]:
import numpy as np
import pandas as pd
from selenium import webdriver
import datetime
import urllib
import urllib2
import re
from time import sleep # To prevent overwhelming the server between connections
from collections import Counter # Keep track of our term counts
from nltk.corpus import stopwords # Filter out stopwords, such as 'the', 'or', 'and'

In [34]:

master_df = pd.read_csv('master.csv')

# DELETE ANY HEADER ROWS LEFT OVER FROM CSV MERGE
try: master_df = master_df[master_df['reviews'] != 'reviews'] 
except: pass

In [35]:
###### REVIEWS CLEAN TO FLOAT
######

master_df['reviews'] = master_df['reviews'].fillna(0)

def indeed_review_cleanup(review): 
    try:
        review = review.str.replace(',','')
        review = review.strip(' reviews')
        review = review.strip(' review')
        review = review.strip('reviews')
        review = review.strip()
        review = float(review)
    except:
        #print review
        pass
    return review

master_df['clean_review'] = master_df[['reviews']].applymap(lambda x:indeed_review_cleanup(x))

master_df['clean_review'].sort_values().unique()

master_df['clean_review'] = master_df['clean_review'].astype(float)
master_df['reviews'] = master_df['clean_review']
master_df.drop('clean_review', axis=1, inplace=True)

#########  END CLEAN REVIEWS
###################

In [36]:
###### POST_DATE CLEAN TO FLOAT
######

try:
    master_df['clean_post_date'] = master_df['post_date']
except: pass


def post_date_to_day_float(dateValue):
    try:
        temp = dateValue
        dateValue.replace('s','')
        if 'day' in dateValue:
            temp = dateValue.split()[0]
        elif 'hour' in dateValue:
            temp = dateValue.split()[0]
            temp = float(temp)/24
        elif 'minute' in dateValue:
            temp = dateValue.split()[0]
            temp = float(temp)/24/60
        if '+' in dateValue:
            temp = 45           
    except: 
        pass
    return temp

master_df['clean_post_date'] = master_df[['clean_post_date']].applymap(lambda x: post_date_to_day_float(x))

master_df['clean_post_date'].sort_values().unique()

master_df['clean_post_date'] = master_df['clean_post_date'].astype(float)
master_df['post_date'] = master_df['clean_post_date']
master_df.drop('clean_post_date', axis=1, inplace=True)
master_df.rename(columns = {'post_date':'post_date_daysAgo'}, inplace=True)

#########  END CLEAN POST_DATE
###################

In [37]:
###### STARS CLEAN TO FLOAT
######


master_df['clean_stars'] = master_df['stars'].fillna(0)
master_df['clean_stars'] = master_df[['stars']].astype(float).applymap(lambda x: x//6/2)


master_df['stars'] = master_df['clean_stars']
master_df.drop('clean_stars', axis=1, inplace=True)


#########  END CLEAN STARS
###################

In [38]:
#####Create JOB_LINK column from JKID
#####

master_df['job_link'] = master_df[['jkid']].applymap(lambda x: 'http://www.indeed.com/rc/clk?jk='+x)

#########  END JOB_LINK COLUMN
###################

In [39]:
##### Location Cleanup
#####

def location_cleanup(location):
    temp = location
    temp_city = location.split(',')[0]
    try:
        temp_state = location.split(',')[1].split()[0]
    except: 
        temp_state = ''
    return temp_city+", "+temp_state
    
master_df['location_clean'] = master_df[['location']].applymap(lambda x: location_cleanup(x))
master_df['location_clean'].sort_values().unique()

master_df['location'] = master_df['location_clean']
master_df.drop('location_clean', axis=1, inplace=True)

#########  END LOCATION CLEANUP COLUMN
###################

In [40]:
##### Salary Cleanup
#####

master_df['salary'] = master_df['salary'].fillna(0)

def cleanup_salary(salary):
    if "year" in str(salary):
        temp = salary.strip(" a year")
        temp = temp.split('-')
        low_range = int(temp[0].strip().replace("$","").replace(",",""))
        high_range = int(temp[-1].strip().replace("$","").replace(",",""))
        avg = (low_range + high_range) / 2
        salary_list = [low_range,high_range,avg]
    elif "month" in str(salary):
        temp = salary.replace("a month","")
        temp = temp.split('-')
        low_range = int(temp[0].replace("$","").replace(",",""))*12
        high_range = int(temp[-1].replace("$","").replace(",",""))*12
        avg = (low_range + high_range) / 2
        salary_list = [low_range,high_range,avg]
    elif "hour" in str(salary):
        temp = salary.replace("an hour","")
        temp = temp.split('-')
        low_range = float(temp[0].replace("$","").replace(",",""))*2080
        high_range = float(temp[-1].replace("$","").replace(",",""))*2080
        avg = (low_range + high_range) / 2
        salary_list = [low_range,high_range,avg]
    else:
        salary_list = [0,0,0]
        low_range = 0
        high_range = 0
        avg = 0
        
    return low_range, high_range, avg

master_df['salary_clean'] = master_df[['salary']].applymap(lambda x: cleanup_salary(x))

master_df['salary'] = master_df['salary_clean']
master_df.drop('salary_clean', axis=1, inplace=True)

#########  END SALARY CLEANUP COLUMN
###################

In [65]:
has_salary = master_df[master_df['salary'] != (0,0,0)].shape[0]
all_records = master_df.shape[0]
print "Job listings with salary info:", has_salary
print "Total job listings: ", all_records
print "Salaried listings / Total listings", round((float(has_salary) / all_records) * 100, 3), '%'
master_df.head(5)
master_df['title'].sort_values().unique()

# stacked = pd.DataFrame(master_df['summary'].str.split().tolist()).stack()
# final = pd.DataFrame(stacked.value_counts())
# final.reset_index(inplace=True)
# final['unique'] = final['index'].sort_values().unique()
# final['unique']
# import nltk
# final['tagged'] = final[['index']].applymap(lambda x: nltk.pos_tag(x.strip()))
# final.info()
master_df.shape

Job listings with salary info: 616
Total job listings:  13138
Salaried listings / Total listings 4.689 %

(13138, 14)

In [47]:
URL = 'https://www.expatistan.com/cost-of-living/index/north-america' 
driver = webdriver.PhantomJS(executable_path='/Users/amishdalal/Downloads/phantomjs-2.1.1-macosx/bin/phantomjs')
driver.set_window_size(1024, 768) 
driver.get(URL)
soup = BeautifulSoup(driver.page_source,'lxml')
print soup.prettify()

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <title>
   Cost of Living Ranking in North America (USA and Canada). Updated Oct 2016
  </title>
  <meta content="2016 Cost Of Living in US and Canada. What are the most expensive, and the cheapest, American cities?" name="description"/>
  <meta content="Cost of Living Ranking in North America (USA and Canada). Updated Oct 2016" property="og:title"/>
  <meta content="website" property="og:type"/>
  <meta content="2016 Cost Of Living in US and Canada. What are the most expensive, and the cheapest, American cities?" property="og:description"/>
  <meta content="//d2y05869ftj0yg.cloudfront.net/images/map-preview.png" property="og:image"/>
  <meta content="https://www.expatistan.com/cost-of-living/index" property="og:url"/>
  <meta content="Expatistan, cost of living comparisons" property="og:site_name"/>
  <meta content="502752123,gerardo.robledillo" property="fb:admins"/>
  <meta content="145554152152105" property="fb:page_id"/>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link href="https://plus.google.com/116871999905881326091" rel="publisher"/>
  <link href="https://d2y05869ftj0yg.cloudfront.net/stylesheets/cache/expatistan.050.hrh.css" media="screen" rel="stylesheet" type="text/css"/>
  <script async="" src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_US.FttDLlUdXcw.O/m=auth/exm=plusone/rt=j/sv=1/d=1/ed=1/am=EQ/rs=AGLTcCO6rxixa7pa711_uOW2yjCmjc9Cfw/cb=gapi.loaded_1">
  </script>
  <script async="" src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_US.FttDLlUdXcw.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=EQ/rs=AGLTcCO6rxixa7pa711_uOW2yjCmjc9Cfw/cb=gapi.loaded_0">
  </script>
  <script async="" gapi_processed="true" src="https://apis.google.com/js/plusone.js" type="text/javascript">
  </script>
  <script async="" src="//www.google-analytics.com/ga.js">
  </script>
  <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.3&amp;appId=120841561302378">
  </script>
  <script src="https://d2y05869ftj0yg.cloudfront.net/javascripts/cache/expatistan.050.hrh.js" type="text/javascript">
  </script>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="F47618516423F3A8E60A452A6355C810" name="msvalidate.01"/>
  <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
  <script type="text/javascript">
   window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"https://www.expatistan.com/tos#cookies","theme":"light-bottom"};
  </script>
  <script src="//d2y05869ftj0yg.cloudfront.net/javascripts/cookieconsent2.1.0.9.min.js" type="text/javascript">
  </script>
  <!-- End Cookie Consent plugin -->
  <script src="//www.google.com/jsapi?callback=googleLoadCallback" type="text/javascript">
  </script>
  <script src="https://www.google.com/uds/?file=visualization&amp;v=1&amp;packages=geochart&amp;async=2" type="text/javascript">
  </script>
  <link href="https://www.google.com/uds/api/visualization/1.0/b5ac9efed10eef460d14e653d05f5fbf/ui+en.css" rel="stylesheet" type="text/css"/>
  <script src="https://www.google.com/uds/api/visualization/1.0/b5ac9efed10eef460d14e653d05f5fbf/format+en,default+en,ui+en,geochart+en.I.js" type="text/javascript">
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/light-bottom.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
   .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
  </style>
 </head>
 <body class=" " onload="initialize();">
  <div id="wrapper">
   <!-- start header -->
   <div class="cf" id="header">
    <div class="left">
     <a href="https://www.expatistan.com/">
      <div class="sprite sprite-logo" title="Expatistan, cost of living comparisons">
      </div>
      <div class="sprite sprite-sublogo">
      </div>
     </a>
    </div>
    <div class="right">
     <div id="select_city">
      <form action="/" id="compare_form" method="GET" onsubmit="return compare_cities('header');">
       <div class="holder" id="first_city">
        <div class="label">
         Compare cost of living between
        </div>
        <div class="input">
         <!-- TODO: add hint_content class if value is empty -->
         <input aria-autocomplete="list" aria-haspopup="true" autocomplete="off" class="home_input city-2 hint_content ui-autocomplete-input" id="city_other_english_name" name="city[other][english_name]" role="textbox" size="28" type="text" value="where you want to move"/>
         <input class="handle" name="city[other][handle]" type="hidden" value=""/>
        </div>
       </div>
       <div class="holder" id="second_city">
        <div class="label" style="padding-right:0px;">
         and
        </div>
        <div class="input">
         <input aria-autocomplete="list" aria-haspopup="true" autocomplete="off" class="home_input city-1 ui-autocomplete-input" id="city_this_english_name" name="city[this][english_name]" role="textbox" size="28" type="text" value="Paris"/>
         <input class="handle" name="city[this][handle]" type="hidden" value="Paris"/>
        </div>
       </div>
       <div class="holder round" id="button">
        <input class="submit" name="commit" type="submit" value="Compare!"/>
       </div>
      </form>
     </div>
     <div id="error_message" style="display:none;">
      Please, fill in both cities
     </div>
     <div style="width:400px;height:27px;float:right;padding-top:6px;">
      <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 400px; height: 24px; background-position: initial initial; background-repeat: initial initial;">
       <iframe data-gapiattached="true" frameborder="0" hspace="0" id="I0_1476739096455" marginheight="0" marginwidth="0" name="I0_1476739096455" scrolling="no" src="https://apis.google.com/se/0/_/+1/fastbutton?usegapi=1&amp;annotation=inline&amp;width=400&amp;origin=https%3A%2F%2Fwww.expatistan.com&amp;url=https%3A%2F%2Fwww.expatistan.com%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en_US.FttDLlUdXcw.O%2Fm%3D__features__%2Fam%3DEQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCO6rxixa7pa711_uOW2yjCmjc9Cfw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1476739096455&amp;parent=https%3A%2F%2Fwww.expatistan.com&amp;pfname=&amp;rpctoken=80232372" style="position: static; top: 0px; width: 400px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px;" tabindex="0" title="+1" vspace="0" width="100%">
       </iframe>
      </div>
     </div>
    </div>
   </div>
   <!-- end header -->
   <div class="cf" id="content">
    <div class="cf">
     <ul id="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <a href="/cost-of-living" itemprop="item">
        <span itemprop="name">
         Cost of Living
        </span>
       </a>
       <meta content="1" itemprop="position"/>
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
       <span itemprop="name">
        Index
       </span>
       <meta content="2" itemprop="position"/>
      </li>
     </ul>
     <div class="home-module centered" style="width:auto;margin-left:auto;margin-right:auto;">
      <h1>
       Expatistan's Cost of Living Map of North America
      </h1>
      <script type="text/javascript">
       $( document ).ready(function() {
        // Load Google AJAX APIs loader module (google.load)
        var script = document.createElement('script');
        script.src = '//www.google.com/jsapi?callback=googleLoadCallback';
        script.type = 'text/javascript';
        document.getElementsByTagName('head')[0].appendChild(script);
    });
  function googleLoadCallback() {
    google.load('visualization', '1', {'packages': ['geochart'], 'callback' : start});
//  google.setOnLoadCallback(start);
  }

  var data = null;
  var geomap = null;
  var region = '021';
  var options = {};
  var counter = 0;

  function setupMap(countryCode) {
    geomap = new google.visualization.GeoChart(document.getElementById('countryMap'));

    options = {
      region: countryCode,
      //resolution: 'provinces',
      displayMode: 'markers',
      markerOpacity: 1,
      colorAxis: {colors: ['0BFF00', 'FFFE00', 'FF0A00']},
      sizeAxis:  {minSize: 6,  maxSize: 8},
      datalessRegionColor: 'F4F3F0',
      backgroundColor: 'A5BFDD',
      width: 948,
      height: 586,
      enableRegionInteractivity: true
    }

      google.visualization.events.addListener(geomap, 'select', function() {
        var selection = geomap.getSelection()[0];
        goToCity(cities[selection.row]);
      });

      google.visualization.events.addListener(geomap, 'regionClick', function(c) {
        zoomIn(c.region);
      });
  }
  function setupData() {
    var cityCount = cities.length;
    data = new google.visualization.DataTable();
    data.addRows(cityCount);
    data.addColumn('number', 'Latitude');
    data.addColumn('number', 'Longitude');
    data.addColumn('string', 'DESCRIPTION');
    data.addColumn('number', 'Cost Of Living Index');
    data.addColumn('number', 'Population')
    data.addColumn({type:'string', role:'tooltip'}); // https://developers.google.com/chart/interactive/docs/roles
  }
  function start() {
    setTimeout(function(){
      setupMap(region);
      setupData();
      loadCities();
      geomap.draw(data, options);
    },100);
  }
  function loadCities() {
    for (var i=0; i<cities.length; i++) {
      var city = cities[i];
      loadCity(city[0],city[1],city[2],city[3],city[4],city[5]);
    }
  }
  function loadCity(lat,lng,name,idx,population,tooltip) {
    data.setValue(counter,0,lat);
    data.setValue(counter,1,lng);
    data.setValue(counter,2,name);
    data.setValue(counter,3,idx);
    data.setValue(counter,4,population);
    data.setValue(counter,5,tooltip);
    counter += 1;
  }
  function goToCity(city) {
    var url = 'https://www.expatistan.com/cost-of-living/ghost'.replace("ghost",city[6]);
    this.document.location.href = url;
  }
  function zoomIn(toRegion) {
    console.log('zoomIn',toRegion,region);
    if (region == 'world') {
      region = countryToRegionMapping[toRegion];
    } else {
      region = toRegion;
    }
    setupMap(region);
    geomap.draw(data, options);
  }
  function zoomOut() {
    console.log('zoomOut',region);
    if (countryToRegionMapping[region]) {
      region = countryToRegionMapping[region];
    } else {
      region = 'world';
    }
    setupMap(region);
    geomap.draw(data, options);
  }
  function redirectToMainMap() {
  }
  var cities = [
        [40.7143,-74.006,'New York City',281,8008278,'Cost of Living Index: 281','new-york-city','US'],
        [37.7793,-122.419,'San Francisco, California',278,808976,'Cost of Living Index: 278','san-francisco','US'],
        [38.8951,-77.0364,'Washington D.C.',263,552433,'Cost of Living Index: 263','washington-d-c','US'],
        [42.3584,-71.0598,'Boston, Massachusetts',229,589141,'Cost of Living Index: 229','boston','US'],
        [37.3394,-121.895,'San Jose, California',228,894943,'Cost of Living Index: 228','san-jose-california','US'],
        [21.3089,-157.826,'Honolulu, Hawaii',227,909000,'Cost of Living Index: 227','honolulu','US'],
        [34.0522,-118.244,'Los Angeles, California',223,3694820,'Cost of Living Index: 223','los-angeles','US'],
        [37.8044,-122.271,'Oakland, California',221,390724,'Cost of Living Index: 221','oakland-california','US'],
        [47.6062,-122.332,'Seattle, Washington',212,569369,'Cost of Living Index: 212','seattle','US'],

In [97]:
c = []
r = []
for city in soup.findAll('table',class_="city-index"):
    for cities in soup.findAll('td',class_='city-name'):
        c.append(cities.text)
    for rank in soup.findAll('td',class_='price-index'):
        r.append(rank.text)


COL = pd.DataFrame([c, r]).T
COL = COL.rename(columns = {0:'Cities',1:'price_index'})
COL['Cities'] = COL['Cities'].apply(lambda x: str(x).split(',')).apply(lambda x: x[0]).apply(lambda x: str(x).replace(' (United States)',''))
COL['price_index'] = COL['price_index'].astype(int)
new_base  = COL.loc[0,'price_index']
COL['COL_new'] = COL['price_index'].apply(lambda x: float(new_base)/x)
COL.loc[16,'Cities'] = 'Minneapolis'
COL.loc[2,'Cities'] = 'Washington, DC'
print master_df.shape
master_df = pd.merge(master_df,COL.iloc[:,[0,-1]], left_on='search_city',right_on='Cities',how='left')
del master_df['Cities']
del master_df['Unnamed: 0']
del master_df['Unnamed: 0.1']
master_df
# print COL['Cities'].unique()
# print master_df['search_city'].unique()
# COL

(13138, 17)

,location,company,summary,jkid,title,salary,stars,reviews,post_date_daysAgo,pull_date,search_city,job_link,COL_new_x,COL_new_y,COL_new_x,COL_new_y
0,"Atlanta, GA",KPMG,"Machine learning, data visualization, statisti...",53b7f855d4891e19,Data Scientist,"(0, 0, 0)",4.0,1768.0,2.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=53b7f855d4891e19,1.502674,1.502674,1.502674,1.502674
1,"Atlanta, GA",ASSURANT,"3+ years of relevant experience in analytics, ...",9ecd8095dd0355f8,Data Scientist,"(0, 0, 0)",3.5,1107.0,10.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=9ecd8095dd0355f8,1.502674,1.502674,1.502674,1.502674
2,"Atlanta, GA",360i,The Associate Data Scientist will be mentored ...,c2b6dcbcb0895072,Associate Data Scientist,"(0, 0, 0)",4.0,9.0,11.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=c2b6dcbcb0895072,1.502674,1.502674,1.502674,1.502674
3,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,40d8215afa28f4bb,HEALTH SCIENTIST,"(88305, 114802, 101553)",4.5,64.0,1.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=40d8215afa28f4bb,1.502674,1.502674,1.502674,1.502674
4,"Atlanta, GA",Vesta Corporation,"Or PhD in Computer Science, Statistics, Applie...",24cec20de39398ca,Senior Data Scientist,"(0, 0, 0)",3.0,31.0,9.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=24cec20de39398ca,1.502674,1.502674,1.502674,1.502674
5,"Atlanta, GA",Cox Automotive,Interprets problems and develops solutions to ...,4dd0428a36b610d7,Data Scientist,"(0, 0, 0)",3.0,42.0,12.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=4dd0428a36b610d7,1.502674,1.502674,1.502674,1.502674
6,"Atlanta, GA",ASSURANT,The primary objective of this position is to e...,ed7467a761020f51,Sr Data Scientist - Fraud,"(0, 0, 0)",3.5,1107.0,1.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=ed7467a761020f51,1.502674,1.502674,1.502674,1.502674
7,"Atlanta, GA",Ga. Dept. of Admin. Services,SQL Server knowledge for developing queries an...,134c301ec3ba87c4,Statistical Data Analyst,"(0, 0, 0)",NaN,0.0,5.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=134c301ec3ba87c4,1.502674,1.502674,1.502674,1.502674
8,"Atlanta, GA",State Farm Mutual Automobile Insurance Company,Academic background in quantitative discipline...,594e039f37d4ec5d,Research Statistician,"(0, 0, 0)",4.0,3358.0,3.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=594e039f37d4ec5d,1.502674,1.502674,1.502674,1.502674
9,"Atlanta, GA",Honeywell,"Data modeling, mining, pattern analysis, data ...",9b253c3eeae5f37a,Analytics Data Scientist,"(0, 0, 0)",3.5,3474.0,10.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=9b253c3eeae5f37a,1.502674,1.502674,1.502674,1.502674
10,"Atlanta, GA",Google,The Google Cloud training team already develop...,b96291bcf9c19e0a,"Cloud Instructor (Big Data, Machine Learning),...","(0, 0, 0)",4.0,1218.0,3.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=b96291bcf9c19e0a,1.502674,1.502674,1.502674,1.502674
11,"Atlanta, GA",Travelport,Developing and implementing advanced analytics...,324aa9db249c02a7,Data Scientist,"(0, 0, 0)",4.0,52.0,30.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=324aa9db249c02a7,1.502674,1.502674,1.502674,1.502674
12,"Atlanta, GA",Kabbage,"As a part of the Data Science team, you will d...",6e3ccea1c8472429,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=6e3ccea1c8472429,1.502674,1.502674,1.502674,1.502674
13,"Atlanta, GA",Home Depot,3 years of experience in data mining and stati...,07d2ec530def558d,DATA SCIENTIST,"(0, 0, 0)",3.5,20594.0,29.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=07d2ec530def558d,1.502674,1.502674,1.502674,1.502674
14,"Atlanta, GA",360i,Data Scientist will work directly with 360i cl...,abb5e77d57d05bfb,Sr Data Scientist,"(0, 0, 0)",4.0,9.0,19.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=abb5e77d57d05bfb,1.502674,1.502674,1.502674,1.502674
15,"Atlanta, GA","eHire, LLC",Strong background in applying statistical mach...,f0341f282e4dc253,Sr Data Scientist,"(150000, 150000, 150000)",NaN,0.0,16.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=f0341f282e4dc253,1.502674,1.502674,1.502674,1.502674
16,"Atlanta, GA",Bastille,Position Bastille is seeking badass Data Scien...,f5d182f58df6fd06,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=f5d182f58df6fd06,1.502674,1.502674,1.502674,1.502674
17,"Atlanta, GA",Honeywell,"Masters degree in Computer Science, Mathemati...",3ab193931df8ad50,"Sr Data Scientist - Atlanta, GA","(0, 0, 0)",3.5,3474.0,24.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=3ab193931df8ad50,1.502674,1.502674,1.502674,1.502674
18,"Atlanta, GA",Georgia Tech Research Institute,The Georgia Tech Research Institute's Machine ...,0b18bd331be1a5ca,Machine Learning-Data Science Computer Vision ...,"(0, 0, 0)",4.0,255.0,11.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=0b18bd331be1a5ca,1.502674,1.502674,1.502674,1.502674
19,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,ece367560a42bf9b,Health Scientist (Informatics),"(104349, 135656, 120002)",4.5,64.0,2.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=ece367560a42bf9b,1.502674,1.502674,1.502674,1.502674
20,"Atlanta, GA",HD Supply,Responsible for modeling complex enterprise pr...,5e4122b4e399341b,Data Scientist,"(0, 0, 0)",3.5,489.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=5e4122b4e399341b,1.502674,1.502674,1.502674,1.502674
21,"Atlanta, GA",Stackfolio,A competitive full-time salary as well as a gr...,be3a7444db34e9a3,Lead Data Scientist,"(80000, 80000, 80000)",NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=be3a7444db34e9a3,1.502674,1.502674,1.502674,1.502674
22,"Atlanta, GA",KPMG,"Machine learning, data visualization, statisti...",57dc2330cb3ed3c0,Sr Associate - Data Scientist,"(0, 0, 0)",4.0,1768.0,24.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=57dc2330cb3ed3c0,1.502674,1.502674,1.502674,1.502674
23,"Atlanta, GA",SunTrust,Performs sophisticated data analytics (encompa...,16b342fb19d2cf92,"Consumer Banking Data Scientist - Atlanta, GA","(0, 0, 0)",3.5,2101.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=16b342fb19d2cf92,1.502674,1.502674,1.502674,1.502674
24,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. S...,c033d176ea5a13bf,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=c033d176ea5a13bf,1.502674,1.502674,1.502674,1.502674
25,"Alpharetta, GA",Verizon,Apply machine learning and statistical techniq...,2eeab08cd59a3296,Senior Data Scientist,"(0, 0, 0)",3.5,11112.0,19.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=2eeab08cd59a3296,1.502674,1.502674,1.502674,1.502674
26,"Atlanta, GA",GE Power,"Architects, Data Scientists, Businesses and Pr...",3cd633102b36edc1,Staff Analytics Engineer Installed Base,"(0, 0, 0)",4.0,153.0,13.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=3cd633102b36edc1,1.502674,1.502674,1.502674,1.502674
27,"Atlanta, GA",NIIT Technologies,"Expertise in operations research, applied stat...",42835cf45915a966,Data Scientist,"(0, 0, 0)",3.5,122.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=42835cf45915a966,1.502674,1.502674,1.502674,1.502674
28,"Atlanta, GA",Feedzai,Implement Feedzai's machine learning algorithm...,241bf43cfe61f5c0,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=241bf43cfe61f5c0,1.502674,1.502674,1.502674,1.502674
29,"Atlanta, GA",Honeywell,Support and mentor data scientists. Masters d...,78f1a9a1e62191ef,"Principal Data Scientist - Atlanta, GA","(0, 0, 0)",3.5,3474.0,24.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=78f1a9a1e62191ef,1.502674,1.502674,1.502674,1.502674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13108,"Santa Clara, CA",LeanTaas,LeanTaaS is looking for extraordinary data sci...,5d731bfd520450cd,Senior Data Scientist,"(0, 0, 0)",NaN,0.0,16.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=5d731bfd520450cd,NaN,NaN,NaN,NaN
13109,"New York, NY",Averity,Enabling our Data Scientists to create product...,65ec1f25972d992b,Executive Director of Data Engineering (Media),"(200000, 230000, 215000)",NaN,0.0,4.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=65ec1f25972d992b,NaN,NaN,NaN,NaN
13110,"McLean, VA","Cognosante, LLC",Cognosante is looking for a few talented data ...,8d1e1f06592788ab,Data Analyst Intern,"(0, 0, 0)",3.5,14.0,0.041667,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=8d1e1f06592788ab,NaN,NaN,NaN,NaN
13111,"Carlsbad, CA",CDM Technology,You like the idea of partnering with scientist...,f7b51f642226d60c,Java/Python Software Engineer,"(124800.0, 124800.0, 124800.0)",NaN,0.0,4.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f7b51f642226d60c,NaN,NaN,NaN,NaN
13112,"Pittsburgh, PA",Health Fidelity,Using groundbreaking NLP and analytics technol...,d7b8192c8ed6599f,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=d7b8192c8ed6599f,NaN,NaN,NaN,NaN
13113,"New York, NY",NBA,Deep bench and experience in leading data scie...,95d2ca6db8e5c267,"Senior Director, Data Intelligence","(0, 0, 0)",4.0,20.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=95d2ca6db8e5c267,NaN,NaN,NaN,NaN
13114,"Houston, TX",MD Anderson Cancer Center,The primary purpose of the Research Statistica...,c3d60a2a43db94fe,Research Statistical Analyst,"(0, 0, 0)",4.0,250.0,30.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=c3d60a2a43db94fe,NaN,NaN,NaN,NaN
13115,"New York, NY",automotiveMastermind Inc.,"An MS/PhD program in Statistics, Mathematics, ...",2d12ad4b56eb3cb8,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=2d12ad4b56eb3cb8,NaN,NaN,NaN,NaN
13116,"New York, NY",Analytic Partners,Lead/assist in methodology research and soluti...,d156a798af051399,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=d156a798af051399,NaN,NaN,NaN,NaN
13117,"Redmond, WA",Posh Technologies,Design and build new data set processes for mo...,11cf38718f8c5eec,Data Scientist(Position5),"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=11cf38718f8c5eec,NaN,NaN,NaN,NaN
13118,"Hershey, PA",Hershey,"8+ years experience in Statistics, Machine Lea...",88b5434ff5ebee2c,Data Scientist,"(0, 0, 0)",3.5,308.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=88b5434ff5ebee2c,NaN,NaN,NaN,NaN
13119,"Manhattan, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Today, PHL responds to essential and emergency...",f94515b4ae33dd47,"Senior Laboratory Data Analyst, Bureau of the ...","(0, 0, 0)",4.0,5.0,22.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f94515b4ae33dd47,NaN,NaN,NaN,NaN
13120,"New York, NY",Correlation One,We are a science-driven systematic trading fir...,d3afe33484d088a4,Quantitative Research Analyst,"(0, 0, 0)",NaN,0.0,11.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=d3afe33484d088a4,NaN,NaN,NaN,NaN
13121,"Westchester, NY",L.J. Gonzer Associates,Data analysis and interpretation. Preparing ma...,0640e5d08d73f155,Ph.D Data Scientist,"(0, 0, 0)",3.5,2.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=0640e5d08d73f155,NaN,NaN,NaN,NaN
13122,"New York, NY",Rockstar New York,Serve as a subject matter expert to the securi...,0e486be090f66c4e,Security Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=0e486be090f66c4e,NaN,NaN,NaN,NaN
13123,"Clayton, MO",Business Intelligence-Finance,"Masters degree in Statistics, Mathematics, Co...",46cdbbd2f5a93a98,Data Scientist I,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=46cdbbd2f5a93a98,NaN,NaN,NaN,NaN
13124,"Hartford, CT",PNS IT Solutions LLC,Leadership of the team involves direct managem...,0cb4527a47b567d7,Data Scientist / Data Modeling / Data Engineer,"(0, 0, 0)",NaN,0.0,12.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=0cb4527a47b567d7,NaN,NaN,NaN,NaN
13125,"Chicago, IL",HERE,"Data mining, machine learning, and optimizatio...",1636eef60b3362f7,Principal Data Scientist,"(0, 0, 0)",3.5,56.0,10.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=1636eef60b3362f7,NaN,NaN,NaN,NaN
13126,"Pleasanton, CA",10X Genomics,Deep understanding of the NGS applications spa...,50a2e75ed126754e,Applications Data Analyst,"(0, 0, 0)",NaN,0.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=50a2e75ed126754e,NaN,NaN,NaN,NaN
13127,"Cambridge, MA",BioPoint,"Strong statistical quantitative skills, includ...",8e3b71a666945af0,Outcomes Research Statistician (8480),"(0, 0, 0)",NaN,0.0,1.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=8e3b71a666945af0,NaN,NaN,NaN,NaN
13128,"Seattle, WA",Adaptive Biotechnologies,Maintain and establish good working relationsh...,f9957b82b86276f7,Biostatistician,"(0, 0, 0)",NaN,0.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f9957b82b86276f7,NaN,NaN,NaN,NaN
13129,"Research Triangle Park, NC",SciMetrika,ScitoVation scientist have earned a reputation...,5a6bca92e8012c2a,Statistical Modeler,"(0, 0, 0)",4.0,3.0,1.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=5a6bca92e8012c2a,NaN,NaN,NaN,NaN
13130,"Medford, MA","Agero, Inc.",5 years of experience building and applying so...,cb8cea591851c2a5,Data Scientist,"(0, 0, 0)",NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=cb8cea591851c2a5,NaN,NaN,NaN,NaN
13131,"Carmel, IN",Adesa Inc.,Data access by data scientists and the mainten...,14777a837760f869,Data Science Arhitect,"(0, 0, 0)",3.0,205.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=14777a837760f869,NaN,NaN,NaN,NaN
13132,"Morrisville, NC",Lab Support,Ability to identify aberrant/out of spec data ...,664005e69d87418a,Associate Scientist- Data Review,"(0, 0, 0)",3.5,55.0,1.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=664005e69d87418a,NaN,NaN,NaN,NaN
13133,"Minneapolis, MN",General Mills,"Comfortable in basic statistical analysis, mod...",7b3a98f4ccc83b68,Data Scientist - Global Business Solutions,"(0, 0, 0)",4.0,559.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=7b3a98f4ccc83b68,NaN,NaN,NaN,NaN
13134,"Atlanta, GA","eHire, LLC",Strong background in applying statistical mach...,f0341f282e4dc253,Sr Data Scientist,"(150000, 150000, 150000)",NaN,0.0,16.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f0341f282e4dc253,NaN,NaN,NaN,NaN
13135,"Tampa, FL","Elite WorkForce, Inc",Senior Data Scientist Location:. Data Scientis...,cad4d0671d1752c3,Senior Data Scientist,"(0, 0, 0)",NaN,0.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=cad4d0671d1752c3,NaN,NaN,NaN,NaN
13136,"Michigan,",Sparrow Health System,Work with and assist Sparrow Graduate Medical ...,8a102fe16026588b,SCRI-RESEARCH DATA ANALYST,"(0, 0, 0)",3.5,56.0,16.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=8a102fe16026588b,NaN,NaN,NaN,NaN
13137,"Santa Clara Valley, CA",Apple,Experience with machine learning tools and lib...,269a60a59d86d234,Data Scientist - Maps POI,"(0, 0, 0)",4.0,2570.0,22.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=269a60a59d86d234,NaN,NaN,NaN,NaN

In [ ]:
#Cleans title
master_df['title'] = map(lambda x: x.lower(), master_df['title'])
master_df['title'] = (master_df['title'].replace( 'sr.','senior ', regex=True))
master_df['title'] = (master_df['title'].replace( 'senior  ','senior ', regex=True))
#Remove title from database
temp_df = master_df.T
temp_df = temp_df[[ind for ind, x in enumerate(master_df['title']) if "title" not in x]].T
master_df = temp_df.reset_index(drop=True)
#Remove Intern from database
temp_df = master_df.T
temp_df = temp_df[[ind for ind, x in enumerate(master_df['title']) if "intern" not in x]].T
master_df = temp_df.reset_index(drop=True)
#Remove Devop from database
temp_df = master_df.T
temp_df = temp_df[[ind for ind, x in enumerate(master_df['title']) if "devop" not in x]].T
master_df = temp_df.reset_index(drop=True)
df_range = len(master_df)
master_df['level'] = 0
#Entry = 0
#Middle = 1
#Senior = 2
for x in range(df_range):
    if "associate" in master_df['title'][x] or "junior" in master_df['title'][x] or "entry" in master_df['title'][x]:
        master_df['level'][x] = 0
    elif "senior" in master_df['title'][x] or "principal" in master_df['title'][x] or "lead" in master_df['title'][x]:
        master_df['level'][x] = 2
    else:
        master_df['level'][x] = 1

Lastly, we need to clean up salary data. 
1. Some of the salaries are not yearly but hourly, these will be useful to us for now
2. The salaries are given as text and usually with ranges.

#### Filter out the salaries that are not yearly (filter those that refer to hour)

In [8]:
## YOUR CODE HERE

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [9]:
## YOUR CODE HERE

### Save your results as a CSV

In [14]:
## YOUR CODE HERE