# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Project 4: Web Scraping & Logistic Regression

1. Collect data on data science salary trends from a job listings aggregator for your analysis.
  - Select and parse data from at least ~1000 postings for jobs, potentially from multiple location searches.
2. Find out what factors most directly impact salaries (title, location, department, etc.). In this case, we do not want to predict mean salary as would be done in a regression. Your boss believes that salary is better represented in categories than continuously
  - Test, validate, and describe your models. What factors predict salary category? How do your models perform?
3. Prepare a presentation for your Principal detailing your analysis.

**BONUS PROBLEMS:**
1. Your boss would rather tell a client incorrectly that they would get a lower salary job than tell a client incorrectly that they would get a high salary job. Adjust one of your logistic regression models to ease her mind, and explain what it is doing and any tradeoffs. Plot the ROC curve.
2. Text variables and regularization:
  - **Part 1**: Job descriptions contain more potentially useful information you could leverage. Use the job summary to find words you think would be important and add them as predictors to a model.
  - **Part 2**: Gridsearch parameters for Ridge and Lasso for this model and report the best model.


**Goal:** Scrape & clean data, run logistic regression, derive insights, present findings.

In [24]:
## Import libraries

import requests
import bs4
from bs4 import BeautifulSoup
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium import webdriver

import pandas as pd
import numpy as np
import datetime
import urllib
import urllib2
import re

from time import sleep # To prevent overwhelming the server between connections
from collections import Counter # Keep track of our term counts
from nltk.corpus import stopwords # Filter out stopwords, such as 'the', 'or', 'and'

from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, auc, roc_auc_score, roc_curve
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.grid_search import GridSearchCV

# Scrape Data - Indeed.com

In [3]:
################################################################
############### EDIT THESE CONSTANTS
############### 
###############        EDIT THESE CONSTANTS

MAX_RESULTS_PER_CITY = 1000      ### DO NOT SET MORE THAN 1000
URL_SEARCH_TERM = 'Data Scientist' ### DO NOT SET MORE THAN SINGLE SEARCH TERM (TITLE)
CITY_SET = ['New York', 'Chicago', 'San Francisco', 'Austin', 'Atlanta', '', 'Boston', 'Seattle'\
            'Los Angeles','Washington, DC', 'San Jose','Denver', 'Atlanta','Houston',\
            'Dallas','Nashville','San Diego','Cleveland','Minneapolis','Baltimore','Philadelphia','Detroit']
###############
################################################################


def extract_location_from_resultRow(result):
    try:
        location = (result.find(class_='location').text.strip())
    except:
        location = ''
    return location

def extract_company_from_resultRow(result):
    try:
        company = (result.find(class_='company').text.strip())
    except:
        company = ''
    return company

def extract_jkid_from_resultRow(result):
    try:
        row = (result.find(class_='jobtitle turnstileLink'))
        jkid = result['data-jk']
    except: 
        jkid = ''
    return jkid

def extract_title_from_resultRow(result):
    try:
        title = (result.find(class_='turnstileLink'))
        title_text = title.text
    except: 
        title_text = ''
    return title_text

def extract_salary_from_resultRow(result):
    try:
        salary = (result.find(class_='snip').find('nobr').text)
    except:
        salary = ''
    salary_text = salary
    return salary_text

def extract_reviews_from_resultRow(result):
    try:
        reviews = (result.find(class_='slNoUnderline').text.strip().strip(' reviews').replace(',',''))
    except: 
        reviews = ''
    return reviews

def extract_stars_from_resultRow(result):
    try: 
        stars = (result.find(class_='rating')['style']).split(';background-position:')[1].split(':')[1].split('px')[0].strip()
    except: 
        stars = ''
    return stars

def extract_date_from_resultRow(result):
    try: 
        date = (result.find(class_='date').text.strip(' ago').strip())
    except: 
        date = ''
    return date

def extract_summary_from_resultRow(result):
    try: 
        summary = (result.find("span", {"itemprop" : "description"}).text.strip())
    except: 
        summary = ''
    return summary

In [4]:
dcap = dict(DesiredCapabilities.PHANTOMJS)
dcap["phantomjs.page.settings.userAgent"] = ("Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36")

driver = webdriver.PhantomJS(executable_path='/Users/kristensu/Downloads/phantomjs-2.1.1-macosx/bin/phantomJS', desired_capabilities=dcap)
driver.set_window_size(1024, 768) 

for city in CITY_SET:
    job_dict = []
    now = datetime.datetime.now()
    for start in range(0, MAX_RESULTS_PER_CITY, 10):

        URL = "http://www.indeed.com/jobs?q="+urllib.quote(URL_SEARCH_TERM)+"&l="+urllib.quote(city)+"&start="+str(start)
        driver.get(URL)
        soup = BeautifulSoup(driver.page_source, "lxml")

        for i in soup.findAll("div", {"data-tn-component" : "organicJob"}):

            location = extract_location_from_resultRow(i)
            company = extract_company_from_resultRow(i)
            summary = extract_summary_from_resultRow(i)
            jkid = extract_jkid_from_resultRow(i)
            title = extract_title_from_resultRow(i)
            salary = extract_salary_from_resultRow(i)
            reviews = extract_reviews_from_resultRow(i)
            stars = extract_stars_from_resultRow(i)
            post_date = extract_date_from_resultRow(i)

            job_dict.append([location, company, summary, jkid, title, salary, stars, reviews, post_date, now])
            
        job_df = pd.DataFrame(job_dict, columns=['location', 'company', 'summary', 'jkid', 'title', 'salary', 'stars', 'reviews', 'post_date', 'pull_date'])       

    job_df.to_csv('scrape'+city+'_'+str(MAX_RESULTS_PER_CITY)+'.csv', encoding='utf-8')

# Scrape Data - glassdoor.com

In [ ]:
### Insert Amish's code here

# Wrangle Data

In [ ]:
### Merge df's here

# Import master.csv

In [31]:
master_df = pd.read_csv('master-3.csv')

# DELETE ANY HEADER ROWS LEFT OVER FROM CSV MERGE
try: master_df = master_df[master_df['reviews'] != 'reviews'] 
except: pass

//anaconda/lib/python2.7/site-packages/pandas/core/ops.py:714: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

# Clean Data

In [6]:
###### REVIEWS CLEAN TO FLOAT
######

master_df['reviews'] = master_df['reviews'].fillna(0)

def indeed_review_cleanup(review): 
    try:
        review = review.str.replace(',','')
        review = review.strip(' reviews')
        review = review.strip(' review')
        review = review.strip('reviews')
        review = review.strip()
        review = float(review)
    except:
        #print review
        pass
    return review

master_df['clean_review'] = master_df[['reviews']].applymap(lambda x:indeed_review_cleanup(x))

master_df['clean_review'].sort_values().unique()

master_df['clean_review'] = master_df['clean_review'].astype(float)
master_df['reviews'] = master_df['clean_review']
master_df.drop('clean_review', axis=1, inplace=True)

#########  END CLEAN REVIEWS
###################

In [7]:
###### POST_DATE CLEAN TO FLOAT
######

try:
    master_df['clean_post_date'] = master_df['post_date']
except: pass


def post_date_to_day_float(dateValue):
    try:
        temp = dateValue
        dateValue.replace('s','')
        if 'day' in dateValue:
            temp = dateValue.split()[0]
        elif 'hour' in dateValue:
            temp = dateValue.split()[0]
            temp = float(temp)/24
        elif 'minute' in dateValue:
            temp = dateValue.split()[0]
            temp = float(temp)/24/60
        if '+' in dateValue:
            temp = 45           
    except: 
        pass
    return temp

master_df['clean_post_date'] = master_df[['clean_post_date']].applymap(lambda x: post_date_to_day_float(x))

master_df['clean_post_date'].sort_values().unique()

master_df['clean_post_date'] = master_df['clean_post_date'].astype(float)
master_df['post_date'] = master_df['clean_post_date']
master_df.drop('clean_post_date', axis=1, inplace=True)
master_df.rename(columns = {'post_date':'post_date_daysAgo'}, inplace=True)

#########  END CLEAN POST_DATE
###################

In [8]:
###### STARS CLEAN TO FLOAT
######


master_df['clean_stars'] = master_df['stars'].fillna(0)
master_df['clean_stars'] = master_df[['stars']].astype(float).applymap(lambda x: x//6/2)


master_df['stars'] = master_df['clean_stars']
master_df.drop('clean_stars', axis=1, inplace=True)


#########  END CLEAN STARS
###################

In [9]:
#####Create JOB_LINK column from JKID
#####

master_df['job_link'] = master_df[['jkid']].applymap(lambda x: 'http://www.indeed.com/rc/clk?jk='+x)

#########  END JOB_LINK COLUMN
###################

In [10]:
##### Location Cleanup
#####

def location_cleanup(location):
    temp = location
    temp_city = location.split(',')[0]
    try:
        temp_state = location.split(',')[1].split()[0]
    except: 
        temp_state = ''
    return temp_city+", "+temp_state
    
master_df['location_clean'] = master_df[['location']].applymap(lambda x: location_cleanup(x))
master_df['location_clean'].sort_values().unique()

master_df['location'] = master_df['location_clean']
master_df.drop('location_clean', axis=1, inplace=True)

#########  END LOCATION CLEANUP COLUMN
###################

In [11]:
##### Salary Cleanup
#####

master_df['salary'] = master_df['salary'].fillna(0)

def cleanup_salary(salary):
    if "year" in str(salary):
        temp = salary.strip(" a year")
        temp = temp.split('-')
        low_range = int(temp[0].strip().replace("$","").replace(",",""))
        high_range = int(temp[-1].strip().replace("$","").replace(",",""))
        avg = (low_range + high_range) / 2
        salary_list = [low_range,high_range,avg]
    elif "month" in str(salary):
        temp = salary.replace("a month","")
        temp = temp.split('-')
        low_range = int(temp[0].replace("$","").replace(",",""))*12
        high_range = int(temp[-1].replace("$","").replace(",",""))*12
        avg = (low_range + high_range) / 2
        salary_list = [low_range,high_range,avg]
    elif "hour" in str(salary):
        temp = salary.replace("an hour","")
        temp = temp.split('-')
        low_range = float(temp[0].replace("$","").replace(",",""))*2080
        high_range = float(temp[-1].replace("$","").replace(",",""))*2080
        avg = (low_range + high_range) / 2
        salary_list = [low_range,high_range,avg]
    else:
        salary_list = [0,0,0]
        low_range = 0
        high_range = 0
        avg = 0
        
    return low_range, high_range, avg
master_df['salary_clean'] = master_df[['salary']].applymap(lambda x: cleanup_salary(x))

master_df['salary'] = master_df['salary_clean']

master_df['sal_low'] = master_df['salary'].apply(lambda x: x[0])
master_df['sal_high'] = master_df['salary'].apply(lambda x: x[1])
master_df['sal_avg'] = master_df['salary'].apply(lambda x: x[2])

master_df.drop('salary_clean', axis=1, inplace=True)
master_df.drop('salary', axis=1, inplace=True)



#########  END SALARY CLEANUP COLUMN
###################
#Add Comment
# master_df['salary_clean'] = master_df[['salary']].applymap(lambda x: cleanup_salary(x))

# master_df['salary'] = master_df['salary_clean']
# master_df.drop('salary_clean', axis=1, inplace=True)

#########  END SALARY CLEANUP COLUMN
###################

In [ ]:
# has_salary = master_df[master_df['salary'] != (0,0,0)].shape[0]
# all_records = master_df.shape[0]
# print "Job listings with salary info:", has_salary
# print "Total job listings: ", all_records
# print "Salaried listings / Total listings", round((float(has_salary) / all_records) * 100, 3), '%'
# master_df.head(5)
# master_df['title'].sort_values().unique()

# stacked = pd.DataFrame(master_df['summary'].str.split().tolist()).stack()
# final = pd.DataFrame(stacked.value_counts())
# final.reset_index(inplace=True)
# final['unique'] = final['index'].sort_values().unique()
# final['unique']
# import nltk
# final['tagged'] = final[['index']].applymap(lambda x: nltk.pos_tag(x.strip()))
# final.info()
master_df.shape

In [12]:
URL = 'https://www.expatistan.com/cost-of-living/index/north-america' 
driver = webdriver.PhantomJS(executable_path='/Users/kristensu/Downloads/phantomjs-2.1.1-macosx/bin/phantomjs')
driver.set_window_size(1024, 768) 
driver.get(URL)
soup = BeautifulSoup(driver.page_source,'lxml')

In [13]:
c = []
r = []
for city in soup.findAll('table',class_="city-index"):
    for cities in soup.findAll('td',class_='city-name'):
        c.append(cities.text)
    for rank in soup.findAll('td',class_='price-index'):
        r.append(rank.text)

In [ ]:
len(c)

In [14]:
COL = pd.DataFrame([c, r]).T
COL = COL.rename(columns = {0:'Cities',1:'price_index'})
COL['Cities'] = COL['Cities'].apply(lambda x: str(x).split(',')).apply(lambda x: x[0]).apply(lambda x: str(x).replace(' (United States)',''))
COL['price_index'] = COL['price_index'].astype(int)
new_base  = COL.loc[0,'price_index']
COL['COL_new'] = COL['price_index'].apply(lambda x: float(new_base)/x)
COL.loc[16,'Cities'] = 'Minneapolis'
COL.loc[2,'Cities'] = 'Washington, DC'
COL.loc[0,'Cities'] = 'New York'
print master_df.shape
master_df = pd.merge(master_df,COL.iloc[:,[0,-1]], left_on='search_city',right_on='Cities',how='left')
del master_df['Cities']

master_df

(13138, 16)

,Unnamed: 0,Unnamed: 0.1,location,company,summary,jkid,title,stars,reviews,post_date_daysAgo,pull_date,search_city,job_link,sal_low,sal_high,sal_avg,COL_new
0,0.0,0,"Atlanta, GA",KPMG,"Machine learning, data visualization, statisti...",53b7f855d4891e19,Data Scientist,4.0,1768.0,2.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=53b7f855d4891e19,0.0,0.0,0.0,1.502674
1,1.0,1,"Atlanta, GA",ASSURANT,"3+ years of relevant experience in analytics, ...",9ecd8095dd0355f8,Data Scientist,3.5,1107.0,10.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=9ecd8095dd0355f8,0.0,0.0,0.0,1.502674
2,2.0,2,"Atlanta, GA",360i,The Associate Data Scientist will be mentored ...,c2b6dcbcb0895072,Associate Data Scientist,4.0,9.0,11.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=c2b6dcbcb0895072,0.0,0.0,0.0,1.502674
3,3.0,3,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,40d8215afa28f4bb,HEALTH SCIENTIST,4.5,64.0,1.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=40d8215afa28f4bb,88305.0,114802.0,101553.0,1.502674
4,4.0,4,"Atlanta, GA",Vesta Corporation,"Or PhD in Computer Science, Statistics, Applie...",24cec20de39398ca,Senior Data Scientist,3.0,31.0,9.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=24cec20de39398ca,0.0,0.0,0.0,1.502674
5,5.0,5,"Atlanta, GA",Cox Automotive,Interprets problems and develops solutions to ...,4dd0428a36b610d7,Data Scientist,3.0,42.0,12.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=4dd0428a36b610d7,0.0,0.0,0.0,1.502674
6,6.0,6,"Atlanta, GA",ASSURANT,The primary objective of this position is to e...,ed7467a761020f51,Sr Data Scientist - Fraud,3.5,1107.0,1.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=ed7467a761020f51,0.0,0.0,0.0,1.502674
7,7.0,7,"Atlanta, GA",Ga. Dept. of Admin. Services,SQL Server knowledge for developing queries an...,134c301ec3ba87c4,Statistical Data Analyst,NaN,0.0,5.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=134c301ec3ba87c4,0.0,0.0,0.0,1.502674
8,8.0,8,"Atlanta, GA",State Farm Mutual Automobile Insurance Company,Academic background in quantitative discipline...,594e039f37d4ec5d,Research Statistician,4.0,3358.0,3.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=594e039f37d4ec5d,0.0,0.0,0.0,1.502674
9,9.0,9,"Atlanta, GA",Honeywell,"Data modeling, mining, pattern analysis, data ...",9b253c3eeae5f37a,Analytics Data Scientist,3.5,3474.0,10.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=9b253c3eeae5f37a,0.0,0.0,0.0,1.502674
10,10.0,10,"Atlanta, GA",Google,The Google Cloud training team already develop...,b96291bcf9c19e0a,"Cloud Instructor (Big Data, Machine Learning),...",4.0,1218.0,3.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=b96291bcf9c19e0a,0.0,0.0,0.0,1.502674
11,11.0,11,"Atlanta, GA",Travelport,Developing and implementing advanced analytics...,324aa9db249c02a7,Data Scientist,4.0,52.0,30.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=324aa9db249c02a7,0.0,0.0,0.0,1.502674
12,12.0,12,"Atlanta, GA",Kabbage,"As a part of the Data Science team, you will d...",6e3ccea1c8472429,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=6e3ccea1c8472429,0.0,0.0,0.0,1.502674
13,13.0,13,"Atlanta, GA",Home Depot,3 years of experience in data mining and stati...,07d2ec530def558d,DATA SCIENTIST,3.5,20594.0,29.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=07d2ec530def558d,0.0,0.0,0.0,1.502674
14,14.0,14,"Atlanta, GA",360i,Data Scientist will work directly with 360i cl...,abb5e77d57d05bfb,Sr Data Scientist,4.0,9.0,19.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=abb5e77d57d05bfb,0.0,0.0,0.0,1.502674
15,15.0,15,"Atlanta, GA","eHire, LLC",Strong background in applying statistical mach...,f0341f282e4dc253,Sr Data Scientist,NaN,0.0,16.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=f0341f282e4dc253,150000.0,150000.0,150000.0,1.502674
16,16.0,16,"Atlanta, GA",Bastille,Position Bastille is seeking badass Data Scien...,f5d182f58df6fd06,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=f5d182f58df6fd06,0.0,0.0,0.0,1.502674
17,17.0,17,"Atlanta, GA",Honeywell,"Master’s degree in Computer Science, Mathemati...",3ab193931df8ad50,"Sr Data Scientist - Atlanta, GA",3.5,3474.0,24.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=3ab193931df8ad50,0.0,0.0,0.0,1.502674
18,18.0,18,"Atlanta, GA",Georgia Tech Research Institute,The Georgia Tech Research Institute's Machine ...,0b18bd331be1a5ca,Machine Learning-Data Science Computer Vision ...,4.0,255.0,11.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=0b18bd331be1a5ca,0.0,0.0,0.0,1.502674
19,19.0,19,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,ece367560a42bf9b,Health Scientist (Informatics),4.5,64.0,2.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=ece367560a42bf9b,104349.0,135656.0,120002.0,1.502674
20,20.0,20,"Atlanta, GA",HD Supply,Responsible for modeling complex enterprise pr...,5e4122b4e399341b,Data Scientist,3.5,489.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=5e4122b4e399341b,0.0,0.0,0.0,1.502674
21,21.0,21,"Atlanta, GA",Stackfolio,A competitive full-time salary as well as a gr...,be3a7444db34e9a3,Lead Data Scientist,NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=be3a7444db34e9a3,80000.0,80000.0,80000.0,1.502674
22,22.0,22,"Atlanta, GA",KPMG,"Machine learning, data visualization, statisti...",57dc2330cb3ed3c0,Sr Associate - Data Scientist,4.0,1768.0,24.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=57dc2330cb3ed3c0,0.0,0.0,0.0,1.502674
23,23.0,23,"Atlanta, GA",SunTrust,Performs sophisticated data analytics (encompa...,16b342fb19d2cf92,"Consumer Banking Data Scientist - Atlanta, GA",3.5,2101.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=16b342fb19d2cf92,0.0,0.0,0.0,1.502674
24,24.0,24,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. S...,c033d176ea5a13bf,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=c033d176ea5a13bf,0.0,0.0,0.0,1.502674
25,25.0,25,"Alpharetta, GA",Verizon,Apply machine learning and statistical techniq...,2eeab08cd59a3296,Senior Data Scientist,3.5,11112.0,19.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=2eeab08cd59a3296,0.0,0.0,0.0,1.502674
26,26.0,26,"Atlanta, GA",GE Power,"Architects, Data Scientists, Businesses and Pr...",3cd633102b36edc1,Staff Analytics Engineer – Installed Base,4.0,153.0,13.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=3cd633102b36edc1,0.0,0.0,0.0,1.502674
27,27.0,27,"Atlanta, GA",NIIT Technologies,"Expertise in operations research, applied stat...",42835cf45915a966,Data Scientist,3.5,122.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=42835cf45915a966,0.0,0.0,0.0,1.502674
28,28.0,28,"Atlanta, GA",Feedzai,Implement Feedzai's machine learning algorithm...,241bf43cfe61f5c0,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=241bf43cfe61f5c0,0.0,0.0,0.0,1.502674
29,29.0,29,"Atlanta, GA",Honeywell,Support and mentor data scientists. Master’s d...,78f1a9a1e62191ef,"Principal Data Scientist - Atlanta, GA",3.5,3474.0,24.000000,2016-10-17 00:20:29.507371,Atlanta,http://www.indeed.com/rc/clk?jk=78f1a9a1e62191ef,0.0,0.0,0.0,1.502674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13108,970.0,970,"Santa Clara, CA",LeanTaas,LeanTaaS is looking for extraordinary data sci...,5d731bfd520450cd,Senior Data Scientist,NaN,0.0,16.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=5d731bfd520450cd,0.0,0.0,0.0,NaN
13109,971.0,971,"New York, NY",Averity,Enabling our Data Scientists to create product...,65ec1f25972d992b,Executive Director of Data Engineering (Media),NaN,0.0,4.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=65ec1f25972d992b,200000.0,230000.0,215000.0,NaN
13110,972.0,972,"McLean, VA","Cognosante, LLC",Cognosante is looking for a few talented data ...,8d1e1f06592788ab,Data Analyst Intern,3.5,14.0,0.041667,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=8d1e1f06592788ab,0.0,0.0,0.0,NaN
13111,973.0,973,"Carlsbad, CA",CDM Technology,You like the idea of partnering with scientist...,f7b51f642226d60c,Java/Python Software Engineer,NaN,0.0,4.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f7b51f642226d60c,124800.0,124800.0,124800.0,NaN
13112,974.0,974,"Pittsburgh, PA",Health Fidelity,Using groundbreaking NLP and analytics technol...,d7b8192c8ed6599f,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=d7b8192c8ed6599f,0.0,0.0,0.0,NaN
13113,975.0,975,"New York, NY",NBA,Deep bench and experience in leading data scie...,95d2ca6db8e5c267,"Senior Director, Data Intelligence",4.0,20.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=95d2ca6db8e5c267,0.0,0.0,0.0,NaN
13114,976.0,976,"Houston, TX",MD Anderson Cancer Center,The primary purpose of the Research Statistica...,c3d60a2a43db94fe,Research Statistical Analyst,4.0,250.0,30.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=c3d60a2a43db94fe,0.0,0.0,0.0,NaN
13115,977.0,977,"New York, NY",automotiveMastermind Inc.,"An MS/PhD program in Statistics, Mathematics, ...",2d12ad4b56eb3cb8,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=2d12ad4b56eb3cb8,0.0,0.0,0.0,NaN
13116,978.0,978,"New York, NY",Analytic Partners,Lead/assist in methodology research and soluti...,d156a798af051399,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=d156a798af051399,0.0,0.0,0.0,NaN
13117,979.0,979,"Redmond, WA",Posh Technologies,Design and build new data set processes for mo...,11cf38718f8c5eec,Data Scientist(Position5),NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=11cf38718f8c5eec,0.0,0.0,0.0,NaN
13118,980.0,980,"Hershey, PA",Hershey,"8+ years experience in Statistics, Machine Lea...",88b5434ff5ebee2c,Data Scientist,3.5,308.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=88b5434ff5ebee2c,0.0,0.0,0.0,NaN
13119,981.0,981,"Manhattan, NY",DEPT OF HEALTH/MENTAL HYGIENE,"Today, PHL responds to essential and emergency...",f94515b4ae33dd47,"Senior Laboratory Data Analyst, Bureau of the ...",4.0,5.0,22.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f94515b4ae33dd47,0.0,0.0,0.0,NaN
13120,982.0,982,"New York, NY",Correlation One,We are a science-driven systematic trading fir...,d3afe33484d088a4,Quantitative Research Analyst,NaN,0.0,11.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=d3afe33484d088a4,0.0,0.0,0.0,NaN
13121,983.0,983,"Westchester, NY",L.J. Gonzer Associates,Data analysis and interpretation. Preparing ma...,0640e5d08d73f155,Ph.D Data Scientist,3.5,2.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=0640e5d08d73f155,0.0,0.0,0.0,NaN
13122,984.0,984,"New York, NY",Rockstar New York,Serve as a subject matter expert to the securi...,0e486be090f66c4e,Security Data Scientist,NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=0e486be090f66c4e,0.0,0.0,0.0,NaN
13123,985.0,985,"Clayton, MO",Business Intelligence-Finance,"Master’s degree in Statistics, Mathematics, Co...",46cdbbd2f5a93a98,Data Scientist I,NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=46cdbbd2f5a93a98,0.0,0.0,0.0,NaN
13124,986.0,986,"Hartford, CT",PNS IT Solutions LLC,Leadership of the team involves direct managem...,0cb4527a47b567d7,Data Scientist / Data Modeling / Data Engineer,NaN,0.0,12.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=0cb4527a47b567d7,0.0,0.0,0.0,NaN
13125,987.0,987,"Chicago, IL",HERE,"Data mining, machine learning, and optimizatio...",1636eef60b3362f7,Principal Data Scientist,3.5,56.0,10.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=1636eef60b3362f7,0.0,0.0,0.0,NaN
13126,988.0,988,"Pleasanton, CA",10X Genomics,Deep understanding of the NGS applications spa...,50a2e75ed126754e,Applications Data Analyst,NaN,0.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=50a2e75ed126754e,0.0,0.0,0.0,NaN
13127,989.0,989,"Cambridge, MA",BioPoint,"Strong statistical quantitative skills, includ...",8e3b71a666945af0,Outcomes Research Statistician (8480),NaN,0.0,1.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=8e3b71a666945af0,0.0,0.0,0.0,NaN
13128,990.0,990,"Seattle, WA",Adaptive Biotechnologies,Maintain and establish good working relationsh...,f9957b82b86276f7,Biostatistician,NaN,0.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f9957b82b86276f7,0.0,0.0,0.0,NaN
13129,991.0,991,"Research Triangle Park, NC",SciMetrika,ScitoVation scientist have earned a reputation...,5a6bca92e8012c2a,Statistical Modeler,4.0,3.0,1.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=5a6bca92e8012c2a,0.0,0.0,0.0,NaN
13130,992.0,992,"Medford, MA","Agero, Inc.",5 years of experience building and applying so...,cb8cea591851c2a5,Data Scientist,NaN,0.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=cb8cea591851c2a5,0.0,0.0,0.0,NaN
13131,993.0,993,"Carmel, IN",Adesa Inc.,Data access by data scientists and the mainten...,14777a837760f869,Data Science Arhitect,3.0,205.0,45.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=14777a837760f869,0.0,0.0,0.0,NaN
13132,994.0,994,"Morrisville, NC",Lab Support,Ability to identify aberrant/out of spec data ...,664005e69d87418a,Associate Scientist- Data Review,3.5,55.0,1.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=664005e69d87418a,0.0,0.0,0.0,NaN
13133,995.0,995,"Minneapolis, MN",General Mills,"Comfortable in basic statistical analysis, mod...",7b3a98f4ccc83b68,Data Scientist - Global Business Solutions,4.0,559.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=7b3a98f4ccc83b68,0.0,0.0,0.0,NaN
13134,996.0,996,"Atlanta, GA","eHire, LLC",Strong background in applying statistical mach...,f0341f282e4dc253,Sr Data Scientist,NaN,0.0,16.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=f0341f282e4dc253,150000.0,150000.0,150000.0,NaN
13135,997.0,997,"Tampa, FL","Elite WorkForce, Inc",Senior Data Scientist Location:. Data Scientis...,cad4d0671d1752c3,Senior Data Scientist,NaN,0.0,20.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=cad4d0671d1752c3,0.0,0.0,0.0,NaN
13136,998.0,998,"Michigan,",Sparrow Health System,Work with and assist Sparrow Graduate Medical ...,8a102fe16026588b,SCRI-RESEARCH DATA ANALYST,3.5,56.0,16.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=8a102fe16026588b,0.0,0.0,0.0,NaN
13137,999.0,999,"Santa Clara Valley, CA",Apple,Experience with machine learning tools and lib...,269a60a59d86d234,Data Scientist - Maps POI,4.0,2570.0,22.000000,2016-10-17 00:12:22.949204,NaN,http://www.indeed.com/rc/clk?jk=269a60a59d86d234,0.0,0.0,0.0,NaN

# lets delete the unnamed columns earlier

# del master_df['Unnamed: 0']
# del master_df['Unnamed: 0.1']
# del master_df['COL_new_y']
del master_df['COL_new_x']

In [35]:
#need to add more to filter out the titles from mid to senior or entry

senior = ['sr','senior','lead','instructor','principal', 'director','manager','consultant']
mid = []
entry = ['associate','Associate','intern','junior','-1']
senior_bin = []
mid_bin = []
entry_bin = []
for x in master_df['title']:
    if any(word in x.lower() for word in senior):
        senior_bin.append(1)
        mid_bin.append(0)
        entry_bin.append(0)
    elif any(word in x.lower() for word in entry):
        senior_bin.append(0)
        mid_bin.append(0)
        entry_bin.append(1)
    else:
        senior_bin.append(0)
        mid_bin.append(1)
        entry_bin.append(0)

In [36]:
master_df['senior_bin'] = pd.Series(senior_bin)
master_df['mid_bin'] = pd.Series(mid_bin)
master_df['entry_bin'] = pd.Series(entry_bin)
# for x in master_df[master_df['mid_bin'] == 1]['title'].unique():
#     print x

In [37]:
senior = ['sr','senior','lead','instructor','principal', 'director','manager','consultant','chief']
mid = ['data','scientist','analyst','analytics','statistician',"statistical",'machine learning']
entry = ['associate','Associate','intern','junior','-1']
senior_bin = []
mid_bin = []

In [38]:
senior = ['sr','senior','lead','instructor','principal', 'director','manager','consultant','chief']
mid = ['data','scientist','analyst','analytics','statistician',"statistical",'machine learning']
entry = ['associate','Associate','intern','junior','-1']
senior_bin = []
mid_bin = []
entry_bin = []
other_bin = []
for x in master_df['title']:
    if any(word in x.lower() for word in senior):
        senior_bin.append(1)
        mid_bin.append(0)
        entry_bin.append(0)
        other_bin.append(0)
    elif any(word in x.lower() for word in entry):
        senior_bin.append(0)
        mid_bin.append(0)
        entry_bin.append(1)
        other_bin.append(0)        
    elif any(word in x.lower() for word in mid):
        senior_bin.append(0)
        mid_bin.append(1)
        entry_bin.append(0)
        other_bin.append(0)        
    else:
        senior_bin.append(0)
        mid_bin.append(0)
        entry_bin.append(0)
        other_bin.append(1)        
master_df['senior_bin'] = pd.Series(senior_bin)
master_df['mid_bin'] = pd.Series(mid_bin)
master_df['entry_bin'] = pd.Series(entry_bin)
master_df['other_bin'] = pd.Series(other_bin)

In [39]:
#calculates the mean salary or we can use median
mean_sal = master_df[master_df['sal_avg'] > 0]['sal_avg'].mean()
mean_sal

KeyError: 'sal_avg'

In [19]:
#expand on features, this creates the X and y
master_df['sal_bin'] = 0
master_df.loc[master_df['sal_avg'] > mean_sal,'sal_bin'] = 1
features = master_df[(master_df['sal_avg'] > 0) & (master_df['search_city'].notnull())]

X = features.loc[:,['search_city','senior_bin','mid_bin','entry_bin','COL_new']]
X = pd.get_dummies(X,columns = ['search_city'])
y = features.loc[:,'sal_bin']
X = X.astype(int)

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.33, random_state = 77) ## create train-test out of the data given

In [21]:
# this is the code from the lab, using gridsearchCV
#need to expand on C_vals

logreg = LogisticRegression(solver='liblinear')
C_vals = [.1,.5,1]
#C_vals = np.linspace(.33,.66,50)
penalties = ['l1','l2']

gs = GridSearchCV(logreg, {'penalty': penalties, 'C': C_vals}, verbose=False, cv=3)
gs.fit(X_train, Y_train)

print gs.best_params_
logreg = LogisticRegression(C=gs.best_params_['C'], penalty=gs.best_params_['penalty'])
#logreg = LogisticRegression(C=.55, penalty=gs.best_params_['penalty'])
cv_model = logreg.fit(X_train, Y_train)
cv_pred = cv_model.predict(X_train)

{'penalty': 'l2', 'C': 0.5}

In [22]:
cv_model.coef_
x_list = X.columns.tolist()

#need to get coeficients into a list to bring in as a dataframe to pair up with columns


#coef_list = cv_model.coef_.tolist(

In [25]:
y_score = cv_model.decision_function(X_train)
conmat = np.array(confusion_matrix(Y_train, cv_pred, labels=[1,0]))
confusion = pd.DataFrame(conmat,index=['over_mean', 'under_mean'],
                         columns=['predicted_over_mean','predicted_under_mean'])
print confusion
# Used to verify the confusion matrix
# #confusion
# pred_series = pd.Series(cv_pred).to_frame()
# y_check = Y_train.to_frame()
# y_check.reset_index(inplace = True,drop= True)

# conmat_check = pd.concat([y_check,pred_series],axis = 1)
# conmat_check[conmat_check['sal_bin']==1][0].sum()
# # sub_yscore = y_score_sub.reshape((len(y_score_sub),1))
# # sub_yscore.shape

print classification_report(Y_train,cv_pred)
roc_auc_score(Y_train, y_score)

            predicted_over_mean  predicted_under_mean
over_mean                    87                    59
under_mean                   30                   193
             precision    recall  f1-score   support

          0       0.77      0.87      0.81       223
          1       0.74      0.60      0.66       146

avg / total       0.76      0.76      0.75       369

0.82634068431721852

In [26]:
glassdoor_df = pd.read_csv('glassdoor_df.csv')

In [27]:
glassdoor_df.head(3)

,Unnamed: 0,company,title,meanPay,City,low_sal,high_sal,sal_avg,entry_bin,mid_bin,senior_bin
0,0,careerbuilder,Data Scientist,86172,atlanta,86172,86172,86172,0,1,0
1,1,ncr,Data Scientist,86000 - 94000,atlanta,86000,94000,90000,0,1,0
2,2,the home depot,Data Scientist,90000 - 104000,atlanta,90000,104000,97000,0,1,0

In [33]:
master_df.head(100)

,Unnamed: 0,location,company,summary,jkid,title,salary,stars,reviews,post_date,pull_date,search_city
0,0,"Atlanta, GA 30338",KPMG,"Machine learning, data visualization, statisti...",53b7f855d4891e19,Data Scientist,NaN,51.000000,1768.0,3 days,2016-10-17 23:45:52.664015,Atlanta
1,1,"Atlanta, GA 30339",ASSURANT,"3+ years of relevant experience in analytics, ...",9ecd8095dd0355f8,Data Scientist,NaN,43.200000,1108.0,11 days,2016-10-17 23:45:52.664015,Atlanta
2,2,"Atlanta, GA 30306 (Virginia-Highland area)",360i,The Associate Data Scientist will be mentored ...,c2b6dcbcb0895072,Associate Data Scientist,NaN,51.000000,9.0,12 days,2016-10-17 23:45:52.664015,Atlanta
3,3,"Atlanta, GA",Ga. Dept. of Admin. Services,SQL Server knowledge for developing queries an...,70f23d3b618d4b8e,Statistical Data Analyst,"$36,000 - $46,000 a year",NaN,NaN,6 days,2016-10-17 23:45:52.664015,Atlanta
4,4,"Atlanta, GA",Honeywell,"Data modeling, mining, pattern analysis, data ...",9b253c3eeae5f37a,Analytics Data Scientist,NaN,44.400000,3477.0,11 days,2016-10-17 23:45:52.664015,Atlanta
5,5,"Atlanta, GA 30339",ASSURANT,The primary objective of this position is to e...,ed7467a761020f51,Sr Data Scientist - Fraud,NaN,43.200000,1108.0,2 days,2016-10-17 23:45:52.664015,Atlanta
6,6,"Atlanta, GA 30303 (Five Points area)",Vesta Corporation,"Or PhD in Computer Science, Statistics, Applie...",24cec20de39398ca,Senior Data Scientist,NaN,40.200000,31.0,10 days,2016-10-17 23:45:52.664015,Atlanta
7,7,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,40d8215afa28f4bb,HEALTH SCIENTIST,"$88,305 - $114,802 a year",54.000000,64.0,2 days,2016-10-17 23:45:52.664015,Atlanta
8,8,"Atlanta, GA",Travelport,Developing and implementing advanced analytics...,324aa9db249c02a7,Data Scientist,NaN,51.600000,52.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
9,9,"Atlanta, GA 30308 (Old Fourth Ward area)",Stackfolio,A competitive full-time salary as well as a gr...,be3a7444db34e9a3,Lead Data Scientist,"$80,000 a year",NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
10,10,"Atlanta, GA",CEB,"Serve as an internal subject matter expert, pr...",c13848ddc3456fc4,Research Scientist,NaN,40.800000,72.0,7 hours,2016-10-17 23:45:52.664015,Atlanta
11,11,"Atlanta, GA 30306 (Virginia-Highland area)",360i,Data Scientist will work directly with 360i cl...,abb5e77d57d05bfb,Sr Data Scientist,NaN,51.000000,9.0,20 days,2016-10-17 23:45:52.664015,Atlanta
12,12,"Atlanta, GA",Kabbage,"As a part of the Data Science team, you will d...",6e3ccea1c8472429,Data Scientist,NaN,NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
13,13,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,ece367560a42bf9b,Health Scientist (Informatics),"$104,349 - $135,656 a year",54.000000,64.0,3 days,2016-10-17 23:45:52.664015,Atlanta
14,14,"Atlanta, GA",Strive Consulting LLC,Preforming SQL queries on large data tables. S...,dedd076d3befa2ae,Mid/Sr Data Scientist,NaN,NaN,NaN,7 days,2016-10-17 23:45:52.664015,Atlanta
15,15,"Atlanta, GA",Cox Automotive,Interprets problems and develops solutions to ...,4dd0428a36b610d7,Data Scientist,NaN,40.800000,42.0,13 days,2016-10-17 23:45:52.664015,Atlanta
16,16,"Alpharetta, GA 30005",LexisNexis,3-5+ years demonstrated applied modeling and a...,739ca94e7a0bed05,Statistical Modeler,NaN,43.800000,354.0,6 days,2016-10-17 23:45:52.664015,Atlanta
17,17,"Atlanta, GA",State Farm Mutual Automobile Insurance Company,Academic background in quantitative discipline...,d802e1098386cf76,Research Statistician,NaN,51.000000,3358.0,4 days,2016-10-17 23:45:52.664015,Atlanta
18,18,"Atlanta, GA 30309 (Midtown area)",HD Supply,Responsible for modeling complex enterprise pr...,5e4122b4e399341b,Data Scientist,NaN,42.000000,489.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
19,19,"Alpharetta, GA 30005",LexisNexis,Applied modeling and analytics experience in a...,a55cca05efac758d,Principal Statistical Modeler,NaN,43.800000,354.0,4 days,2016-10-17 23:45:52.664015,Atlanta
20,20,"Atlanta, GA 30318 (Rockdale area)",Georgia Tech Research Institute,The Georgia Tech Research Institute's Machine ...,0b18bd331be1a5ca,Machine Learning-Data Science Computer Vision ...,NaN,52.800003,255.0,12 days,2016-10-17 23:45:52.664015,Atlanta
21,21,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. S...,c033d176ea5a13bf,Data Scientist,NaN,NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
22,22,"Atlanta, GA",Centers for Disease Control and Prevention,Whether we are protecting the American people ...,f7997468ea82b26a,Mathematical Statistician,"$104,349 - $135,656 a year",54.000000,64.0,17 days,2016-10-17 23:45:52.664015,Atlanta
23,23,"Atlanta, GA",SunTrust,Performs sophisticated data analytics (encompa...,16b342fb19d2cf92,"Consumer Banking Data Scientist - Atlanta, GA",NaN,42.600000,2101.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
24,24,"Atlanta, GA 30326 (Buckhead area)","eHire, LLC",Strong background in applying statistical mach...,f0341f282e4dc253,Sr Data Scientist,"$150,000 a year",NaN,NaN,17 days,2016-10-17 23:45:52.664015,Atlanta
25,25,"Atlanta, GA",Honeywell,"Master’s degree in Computer Science, Mathemati...",3ab193931df8ad50,"Sr Data Scientist - Atlanta, GA",NaN,44.400000,3477.0,25 days,2016-10-17 23:45:52.664015,Atlanta
26,26,"Atlanta, GA 30303 (Five Points area)",SimplePart,You will be responsible for a team of analysts...,78a5029ce1dc2c53,Director of Business Analytics,NaN,NaN,NaN,5 hours,2016-10-17 23:45:52.664015,Atlanta
27,27,"Atlanta, GA 30338",KPMG,"KPMG is currently seeking a Data Scientist, to...",564598809d60ebbc,"Data Scientist, Natural Language Processing",NaN,51.000000,1768.0,3 days,2016-10-17 23:45:52.664015,Atlanta
28,28,"Alpharetta, GA 30022",Verizon,Apply machine learning and statistical techniq...,2eeab08cd59a3296,Senior Data Scientist,NaN,44.400000,11118.0,20 days,2016-10-17 23:45:52.664015,Atlanta
29,29,"Atlanta, GA",NIIT Technologies,"Expertise in operations research, applied stat...",42835cf45915a966,Data Scientist,NaN,42.600000,122.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,"Alpharetta, GA",AT&T,Data Analytics or Machine Learning nanodegree;...,fefa5d19c1036ec6,Professional Data Scientist BIG DATA,NaN,44.400000,14298.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
71,71,"Atlanta, GA 30309 (Midtown area)",Equifax,"Manipulate large data sets, integrate diverse ...",8afe8243cd9b6c14,Statistical Consultant,NaN,43.200000,220.0,10 hours,2016-10-17 23:45:52.664015,Atlanta
72,72,"Atlanta, GA 30338",KPMG,"Machine learning, data visualization, statisti...",09d2595f347a2619,Manager - Data Scientist,NaN,51.000000,1768.0,25 days,2016-10-17 23:45:52.664015,Atlanta
73,73,"Atlanta, GA",StrategyWise,"Technical expertise regarding data models, dat...",5799213023e69929,Data Analyst,NaN,NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
74,74,"Atlanta, GA",North Highland,Extensive experience with wide array of analyt...,9f50fa0514c0b1aa,Business Intelligence Data Scientist,NaN,41.400000,18.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
75,75,"Atlanta, GA",UCB,"Help design, then lead or manage advanced anal...",00b6a44d7f426b8e,Head of Commercial Data and Analytics,NaN,42.600000,54.0,15 days,2016-10-17 23:45:52.664015,Atlanta
76,76,"Atlanta, GA 30328","Intercontinental Exchange, Inc.",Investigate and manage large data sets. 2 year...,3de191f59f554a55,Quantitative Analyst (5051),NaN,NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
77,77,"Atlanta, GA",Home Depot,And operates under minimal supervision and men...,55dfcaba163b8c89,"Senior Data Analyst, Supply Chain",NaN,43.800000,20610.0,26 days,2016-10-17 23:45:52.664015,Atlanta
78,78,"Atlanta, GA",Honeywell,You will be responsible for working closely wi...,27b511fcc7265dd7,Analytics DevOps Engineer,NaN,44.400000,3477.0,10 days,2016-10-17 23:45:52.664015,Atlanta
79,79,"Atlanta, GA",Oak Ridge Associated Universities,Experience with R and large data sets. It will...,7cb01e6c9ce9dfd5,Statistical Analysis Fellowship - CDC,NaN,43.200000,15.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
80,80,"Atlanta, GA",PreVisor,Serve as an internal subject matter expert eit...,b07cde8b257051da,Associate Research Scientist - 6-month intern ...,NaN,NaN,NaN,28 days,2016-10-17 23:45:52.664015,Atlanta
81,81,"Duluth, GA 30096",CHASE Professionals,1-3 years of Data Science/Data Analytics. Our ...,869e076b2b2ca58e,Data Scientist/ Data Analyst,NaN,43.800000,166.0,3 days,2016-10-17 23:45:52.664015,Atlanta
82,82,"Atlanta, GA",Oak Ridge Associated Universities,Currently the Branch is leading the developmen...,4928d3911710e6b0,Biostatistics; Statistician Fellowship -- CDC,NaN,43.200000,15.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
83,83,"Atlanta, GA",HDR,We create an unshakable foundation for progres...,0881307458ef3b0c,Project Management Systems Analyst,NaN,51.000000,122.0,10 days,2016-10-17 23:45:52.664015,Atlanta
84,84,"Atlanta, GA",Emory University,The clinical informatics group fosters collabo...,514f87b53e191e5e,Assistant Professor -TT - Signal Processing & ...,NaN,51.600000,254.0,17 days,2016-10-17 23:45:52.664015,Atlanta
85,85,"Alpharetta, GA",AT&T,"And with our Big Data know-how, you’ll discove...",9602654420268460,Big Data Technical Intern I,NaN,44.400000,14298.0,26 days,2016-10-17 23:45:52.664015,Atlanta
86,86,"Atlanta, GA",PreVisor,"Serve as an internal subject matter expert, pr...",9b75487e5b14d1d4,Research Scientist,NaN,NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
87,87,"Atlanta, GA",Bluefusioninc,Experience in formulating and implementing opt...,bd6b2f66d91ef38a,Operations Research Analyst,NaN,NaN,NaN,19 days,2016-10-17 23:45:52.664015,Atlanta
88,88,"Atlanta, GA",Visionaire Partners,"Once defined, you will be responsible in trans...",b4a8e28f88d0b080,Data Scientist,NaN,52.199997,5.0,12 days,2016-10-17 23:45:52.664015,Atlanta
89,89,"Atlanta, GA",Capgemini,Supervised and Un-supervised machine learning ...,fd3512169c7325e1,Data Science Consultant,NaN,43.800000,2002.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
90,90,"Atlanta, GA",Analytic Recruiting,Senior Data Scientist and Analytics Lead with ...,d67b0f93e14af031,Senior Data Scientist,"$100,000 - $125,000 a year",51.000000,2.0,30+ days,2016-10-17 23:45:52.664015,Atlanta
91,91,"Atlanta, GA",Northrop Grumman,Review project data and assess quality. Organi...,a2d937a8d7efb91e,Health Research Analyst 2,NaN,51.000000,2126.0,14 days,2016-10-17 23:45:52.664015,Atlanta
92,92,"Norcross, GA",CI Radar,Become a subject matter expert on clients’ mar...,adf27202c0ea4526,Business Research Analyst - Entry Level,"$30,000 - $32,000 a year",NaN,NaN,12 days,2016-10-17 23:45:52.664015,Atlanta
93,93,"Atlanta, GA",RaceTrac,Communicates project plans and articulates rol...,cefa2b3bf3741997,Optimization Research Analyst,NaN,43.200000,694.0,20 days,2016-10-17 23:45:52.664015,Atlanta
94,94,"Atlanta, GA 30324 (Buckhead area)",Wabash Solutions,Strong knowledge of operations research and da...,b4323c1b2bb13cb9,Operations Research Analyst,NaN,NaN,NaN,17 days,2016-10-17 23:45:52.664015,Atlanta
95,95,"Atlanta, GA","Aptonet, inc",As a data engineer you’ll use your sense of ur...,09dcf95bfed022f5,Big Data Software Engineer,NaN,NaN,NaN,30+ days,2016-10-17 23:45:52.664015,Atlanta
96,96,"Atlanta, GA 30326 (Buckhead area)",JLL,Proactively deliver information and insights o...,06fb0a51e02a9053,Sr Research Analyst (Industrial),NaN,43.800000,759.0,6 days,2016-10-17 23:45:52.664015,Atlanta
97,97,"Alpharetta, GA 30005",ADP,"At ADP, the world's largest B2B cloud company,...",8c8f1cb4e68c81bb,Director of Application Development,NaN,44.400000,1657.0,3 days,2016-10-17 23:45:52.664015,Atlanta
98,98,"Atlanta, GA 30318 (Rockdale area)",Georgia Tech Research Institute,Our expert scientists and engineers turn ideas...,463e45aca1e4a7fd,Applications Engineer and Intelligence Analyst...,NaN,52.800003,255.0,25 days,2016-10-17 23:45:52.664015,Atlanta
99,99,"Atlanta, GA 30318 (Rockdale area)",Georgia Tech Research Institute,GTRI is a group of world-class engineers and s...,f3c71b357a04c584,Research Scientist,NaN,52.800003,255.0,19 days,2016-10-17 23:45:52.664015,Atlanta

Lastly, we need to clean up salary data. 
1. Some of the salaries are not yearly but hourly, these will be useful to us for now
2. The salaries are given as text and usually with ranges.

#### Filter out the salaries that are not yearly (filter those that refer to hour)

In [ ]:
## YOUR CODE HERE

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [ ]:
## YOUR CODE HERE

### Save your results as a CSV

In [ ]:
## YOUR CODE HERE