# Web Scraping for Indeed.com

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

In [4]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [5]:
import requests
import bs4
from bs4 import BeautifulSoup
from IPython.display import HTML
import re
import numpy as np
import pandas as pd

In [6]:
## YOUR CODE HERE

i = requests.get(URL)
i_soup = BeautifulSoup(i.content, "lxml")
i_soup

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- Make sure these functions are robust and can handle cases where the data/field may not be available.
- Test the functions on the results above

In [7]:
## YOUR CODE HERE

def mark_sponsored(soup_file):
    sponsored_col = []
    for result in soup_file.findAll('div', {'class' : re.compile('row.*')}):
        if len(result.findAll('span', class_='sdn')) > 0 :
            entry = 'True'
            sponsored_col.append(entry)
        else:
            entry = 'False'
            sponsored_col.append(entry)
    return sponsored_col

def extract_location_from_result(soup_file):
    location_col = []
    for d in soup_file.findAll('span', class_='location'):
        entry = d.text
        location_col.append(entry)
    return location_col

def extract_company_from_result(soup_file):
    company_col = []
    for d in soup_file.findAll('span', class_='company'):
        entry = d.text
        company_col.append(entry)
    return company_col

def extract_job_from_result(soup_file):
    job_col = []
    for result in soup_file.findAll('a', {'data-tn-element' : re.compile('job.*')}):
        entry = result.text
        job_col.append(entry)
    return job_col

def extract_salary_from_result(soup_file):
    salary_col = []
    for result in soup_file.findAll('div', {'class' : re.compile('row.*')}):
        sal = result.findAll('nobr')
        if len(sal) > 0 :
            rstring = str(sal)
            salary_col.append(rstring)
        else:
            salary_col.append(np.nan)
    return salary_col

In [8]:
type(i_soup)

bs4.BeautifulSoup

In [9]:
print mark_sponsored(i_soup)
print
print extract_job_from_result(i_soup)
print
print extract_company_from_result(i_soup)
print
print extract_location_from_result(i_soup)
print 
print extract_salary_from_result(i_soup)

['True', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True']

[u'Machine Learning Quantitative Analyst', u'Data Engineer', u'Deep Learning Data Scientist', u'AVP Quantitative Analyst', u'Senior Data Scientist', u'Reporting Analyst', u'Experiment Data Analyst / Statistician', u'Senior Data Scientist', u'Senior Data Scientist', u'Senior Data Scientist - Verticals', u'Research Scientist', u'Quantitative Analyst', u'Data Scientist / Lead Quantitative Analyst', u'Data Scientist, Imaging Informatics', u'Data Scientist - Relocation to China (Chinese Visa required)']

[u'\n\n        Bloomberg', u'\n\n        Indeed', u'\n    WorkFusion', u'\n\n\n        Barclays\n', u'\n\n    7Park Data\n', u'\n\n\n        PlaceIQ\n', u'\n\n\n        Dow Jones\n', u'\n\n\n        Capital Group\n', u'\n\n\n        CAPCO\n', u'\n\n\n        Bloomberg\n', u'\n\n\n        Yahoo! Inc.\n', u'\n\n    StreetID\n', u'\n\n\n        Guidepoint Global\n', u'\n\n        Memorial Sloan Kettering', u'\n\n        Booking.com']

[u'New York, NY', u'New York, NY 10036', u'New York, NY', u'New York, NY', u'New York, NY', u'New York, NY', u'New York, NY 10001 (Chelsea area)', u'New York, NY 10111 (Midtown area)', u'New York, NY 10271 (Financial District area)', u'New York, NY', u'New York, NY', u'New York, NY', u'New York, NY', u'New York, NY', u'New York, NY']

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '[<nobr>$120,000 a year</nobr>]', nan, nan, nan]

In [10]:
def build_jobpost_db(soup_file):

    company = extract_company_from_result(soup_file) 
    job = extract_job_from_result(soup_file)
    location = extract_location_from_result(soup_file)
    salary = extract_salary_from_result(soup_file)
    sponsored = mark_sponsored(soup_file)
    
    jobdf = pd.DataFrame({'Job' : job, 'Company' : company, 'Location' : location, 'Salary' : salary, 'Sponsored' : \
                                                                                          sponsored})
    
    return jobdf

In [11]:
build_jobpost_db(i_soup)

,Company,Job,Location,Salary,Sponsored
0,\n\n Bloomberg,Machine Learning Quantitative Analyst,"New York, NY",NaN,True
1,\n\n Indeed,Data Engineer,"New York, NY 10036",NaN,True
2,\n WorkFusion,Deep Learning Data Scientist,"New York, NY",NaN,True
3,\n\n\n Barclays\n,AVP Quantitative Analyst,"New York, NY",NaN,False
4,\n\n 7Park Data\n,Senior Data Scientist,"New York, NY",NaN,False
5,\n\n\n PlaceIQ\n,Reporting Analyst,"New York, NY",NaN,False
6,\n\n\n Dow Jones\n,Experiment Data Analyst / Statistician,"New York, NY 10001 (Chelsea area)",NaN,False
7,\n\n\n Capital Group\n,Senior Data Scientist,"New York, NY 10111 (Midtown area)",NaN,False
8,\n\n\n CAPCO\n,Senior Data Scientist,"New York, NY 10271 (Financial District area)",NaN,False
9,\n\n\n Bloomberg\n,Senior Data Scientist - Verticals,"New York, NY",NaN,False
10,\n\n\n Yahoo! Inc.\n,Research Scientist,"New York, NY",NaN,False
11,\n\n StreetID\n,Quantitative Analyst,"New York, NY","[<nobr>$120,000 a year</nobr>]",False
12,\n\n\n Guidepoint Global\n,Data Scientist / Lead Quantitative Analyst,"New York, NY",NaN,False
13,\n\n Memorial Sloan Kettering,"Data Scientist, Imaging Informatics","New York, NY",NaN,True
14,\n\n Booking.com,Data Scientist - Relocation to China (Chinese ...,"New York, NY",NaN,True

#### Scaling code to collect results from multiple cities and starting points.

In [12]:

max_results_per_city = 10

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Denver', 'Las+Vegas', 'San+Jose', 'Boulder', 'Covallis','Seattle', 'Fort+Collins', 'Provo', 'Burlington', 'Boston']):
    for start in range(0, max_results_per_city, 10):
        URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={city}&start={start}".format(**locals())
        # Grab the results from the request (as above)
        i = requests.get(URL)
        i_soup = BeautifulSoup(i.content, "lxml")
        # Append to the full set of results
        results.append(i_soup)

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [13]:
## YOUR CODE HERE
list_of_dfs = []

for soup_file in results:
    list_of_dfs.append(build_jobpost_db(soup_file))

jobsdf = pd.concat(list_of_dfs)
jobsdf = jobsdf.reset_index()
    
jobsdf

,index,Company,Job,Location,Salary,Sponsored
0,0,\n\n Return Path,Data Scientist,"Broomfield, CO 80021",NaN,True
1,1,\n RefactorU,Data Scientist (Curriculum Developer / Instruc...,"Boulder, CO",NaN,True
2,2,\n\n Pearson,Machine Learning Engineer,"Centennial, CO",NaN,True
3,3,\n\n CaliberMind\n,Senior Data Scientist,"Boulder, CO","[<nobr>$120,000 a year</nobr>]",False
4,4,\n\n RefactorU\n,Data Scientist (Curriculum Developer / Instruc...,"Boulder, CO",NaN,False
5,5,\n\n\n Oracle\n,Senior Data Scientist - Retail Analytics,"Westminster, CO",NaN,False
6,6,\n\n\n Google\n,"Cloud Instructor (Big Data, Machine Learning),...","Boulder, CO 80302",NaN,False
7,7,\n\n\n University of Colorado\n,Managing Director for STROBE,"Boulder, CO","[<nobr>$100,000 - $115,000 a year</nobr>]",False
8,8,"\n\n Wiland, Inc.\n",Statistician,"Niwot, CO 80503",NaN,False
9,9,\n\n\n Agilent\n,Analytical Services Scientist,"Boulder, CO",NaN,False
10,10,\n\n\n Labcorp\n,Statistical Analyst,"Denver, CO",NaN,False
11,11,\n\n\n Denver Public Schools\n,RESEARCH ANALYST – 16996,"Denver, CO","[<nobr>$57,580 - $69,098 a year</nobr>]",False
12,12,\n\n\n KBI Biopharma\n,PD Scientist II-DSP #230,"Boulder, CO",NaN,False
13,13,\n LENA Research Foundation,Sr. Research Engineer: Machine Learning and Co...,"Boulder, CO",NaN,True
14,14,\n\n Pearson,"Senior Research Engineer, Machine Learning","Centennial, CO",NaN,True
15,0,\n\n HERE,Principal Data Scientist,"Chicago, IL 60601",NaN,True
16,1,\n Precima,Data Scientist,"Chicago, IL",NaN,True
17,2,\n\n Allstate Insurance,Junior Data Scientist,"Northbrook, IL 60062",NaN,True
18,3,\n\n BMW Technology Corporation\n,Machine Learning Researcher - BMW Technology C...,"Chicago, IL",NaN,False
19,4,\n\n\n Metropolitan Water Reclamation D...,Senior Environmental Soil Scientist,"Chicago, IL","[<nobr>$93,257 - $137,114 a year</nobr>]",False
20,5,\n\n\n Google\n,"Machine Learning Deployment Engineer, Professi...","Chicago, IL",NaN,False
21,6,\n\n\n Kaplan\n,Senior Data Scientist,"Chicago, IL",NaN,False
22,7,\n\n National Opinion Research Center (NORC)\n,Statistician,"Chicago, IL",NaN,False
23,8,\n\n\n The Boston Consulting Group\n,Knowledge Analyst - Data Engineering,"Chicago, IL 60654 (Loop area)",NaN,False
24,9,\n\n\n Northwestern University\n,Research Data Analyst,"Chicago, IL",NaN,False
25,10,\n\n Kelton Global\n,"Analyst, Quantitative Research","Chicago, IL",NaN,False
26,11,\n\n\n Northwestern University\n,Statistical Analyst,"Chicago, IL",NaN,False
27,12,\n\n National Opinion Research Center (NORC)\n,Senior Statistician,"Chicago, IL",NaN,False
28,13,\n\n Allstate Insurance,Data Scientist Intern,"Northbrook, IL 60065",NaN,True
29,14,\n\n ABBOTT LABORATORIES,Statistical Data Analyst / Programmer,"Des Plaines, IL",NaN,True
...,...,...,...,...,...,...
164,0,\n Businessolver,Machine Learning Engineer,"Seattle, WA",NaN,True
165,1,\n\n HERE,Lead Analytics Engineer - Predictive Analytics,"Seattle, WA 98101",NaN,True
166,2,\n Altius Institute for Biomedical Sciences,Computational Scientist / Engineer,"Seattle, WA 98121",NaN,True
167,3,\n\n Allen Institute\n,Python Developer (Microscopy Tools),"Seattle, WA 98103 (Green Lake - Wallingford area)",NaN,False
168,4,\n\n Lenati\n,"Consultant, Statistical Analysis and Predictiv...","Seattle, WA 98119 (Queen Anne area)",NaN,False
169,5,\n\n HERO.Jobs\n,"Machine Learning Engineer - Big Data, Python, R","Seattle, WA","[<nobr>$160,000 a year</nobr>]",False
170,6,\n\n\n SDL\n,Senior Data Scientist,"Seattle, WA 98199 (Magnolia area)",NaN,False
171,7,\n\n Z2 DataLabs\n,Data Science Instructor (Local Candidates ONLY),"Bellevue, WA",[<nobr>$150 an hour</nobr>],False
172,8,\n\n\n Amazon Corporate LLC\n,Research Scientist,"Seattle, WA",NaN,False
173,9,\n\n UMetis\n,Big Data Engineer,"Bellevue, WA 98004 (Downtown area)",NaN,False
174,10,\n\n\n Amazon Corporate LLC\n,Applied Scientist,"Seattle, WA",NaN,False
175,11,\n\n\n Amazon Corporate LLC\n,Business Analyst,"Seattle, WA",NaN,False
176,12,\n\n\n Microsoft\n,Senior Data Scientist,"Redmond, WA 98052",NaN,False
177,13,\n\n T-Mobile,Big Data Scientist,"Bellevue, WA 98006",NaN,True
178,14,\n\n CyberCoders,Data Scientist,"Seattle, WA",NaN,True
179,0,\n Cognitive Scale,Data Scientist,"Austin, TX 78730",NaN,True
180,1,\n Cognitive Scale,Software Engineer - Machine Learning,"Austin, TX 78730",NaN,True
181,2,\n\n Indeed,Data Engineer,"Austin, TX 78731",NaN,True
182,3,\n\n\n Apple\n,Data Science Engineer,"Austin, TX",NaN,False
183,4,\n\n\n 3M\n,"3M HIS Specialist, Algorithm Data Engineers (M...","Austin, TX 78753 (Windsor Hills area)",NaN,False
184,5,\n\n\n CCC Information Services Inc.\n,Data Automation & Operations Engineer,"Austin, TX",NaN,False
185,6,\n\n\n General Motors\n,Senior Artificial Intelligence Programmer / Re...,"Austin, TX",NaN,False
186,7,\n\n\n IBM\n,Watson Health - Biostatistician,"Austin, TX",NaN,False
187,8,\n\n LawnStarter\n,Senior Data Scientist,"Austin, TX",NaN,False
188,9,\n\n\n IBM\n,Entry Level Cognitive Software Engineer,"Austin, TX",NaN,False
189,10,\n\n\n HomeAway\n,Market Research Analyst - Consumer Trends,"Austin, TX",NaN,False
190,11,\n\n\n IBM\n,WW (CoC) - Talent & Engagement - Talent Analyt...,"Austin, TX",NaN,False
191,12,\n\n\n Google\n,"Cloud Instructor (Big Data, Machine Learning),...","Austin, TX",NaN,False
192,13,\n Cognitive Scale,Statistical NLP,"Austin, TX 78730",NaN,True
193,14,\n MaxPoint,Senior Data Scientist - Geospatial Analytics,"Austin, TX 78759",NaN,True

In [28]:
## Save as csv
jobsdf.to_csv('jobScrape.csv', encoding='utf-8')

In [29]:
jobsdf

,Company,Job,Location,Salary,Sponsored
0,\n LENA Research Foundation,Sr. Research Engineer: Machine Learning and Co...,"Boulder, CO",NaN,True
1,"\n\n Alteryx, Inc.","Product Manager, Advanced Analytics","Broomfield, CO",NaN,True
2,\n\n CyberCoders,Data Scientist,"Boulder, CO",NaN,True
3,\n\n\n Navigant Consulting\n,Research Analyst,"Boulder, CO",NaN,False
4,\n\n cliexa\n,Data Scientist Intern,"Boulder, CO",NaN,False
5,\n\n\n University of Colorado\n,Professional Research Asst,"Boulder, CO",NaN,False
6,"\n\n Somalogic, Inc.\n",Bioinformatics Assoc. II/Sr. Assoc./Analyst/Sc...,"Boulder, CO 80301",NaN,False
7,\n\n\n Oracle\n,"Senior Product Manager - Measurement, Oracle D...","Broomfield, CO",NaN,False
8,\n\n\n Ibotta\n,Senior Data Scientist,"Denver, CO 80202 (Lodo area)",NaN,False
9,\n\n\n University of Colorado\n,Research Associate,"Boulder, CO",NaN,False
10,\n\n\n Deloitte\n,Big Data Senior Consultant,"Denver, CO 80203 (Capitol Hill area)",NaN,False
11,\n\n\n Deloitte\n,Big Data Manager,"Denver, CO 80203 (Capitol Hill area)",NaN,False
12,\n\n\n Planet Pharma\n,Statistical Programmer,"Denver, CO",NaN,False
13,\n Specialty Chemicals,Research Scientist,"Denver, CO",NaN,True
14,\n Eventus Solutions Group,Junior Data Scientist,"Englewood, CO",NaN,True
15,\n Eventus Solutions Group,Junior Data Scientist,"Englewood, CO",NaN,True
16,"\n\n Alteryx, Inc.","Product Manager, Advanced Analytics","Broomfield, CO",NaN,True
17,\n Specialty Chemicals,Research Scientist,"Denver, CO",NaN,True
18,\n\n\n Ball Aerospace\n,Administrative Associate II - National Defense...,"Broomfield, CO",NaN,False
19,"\n\n Corgenix, Inc\n",Postdoctoral Fellow - Assay Development,"Broomfield, CO 80020",NaN,False
20,\n\n\n UCAR\n,Engineer II,"Broomfield, CO",NaN,False
21,\n\n Specialty Chemicals\n,Research Scientist,"Denver, CO",NaN,False
22,\n\n\n IMM\n,Software Engineer ? Big Data,"Boulder, CO 80302",NaN,False
23,\n\n\n Archer\n,Software Engineer,"Boulder, CO",NaN,False
24,\n\n\n Southwest Research Institute\n,SR. RESEARCH SCIENTIST - HELIOPHYSICS,"Boulder, CO",NaN,False
25,\n\n\n OnDeck\n,Business Intelligence Analyst,"Denver, CO",NaN,False
26,\n\n Stanley Brothers Social Enterprises\n,Research and Development Scientist,"Boulder, CO 80301",NaN,False
27,\n\n\n Department Of The Interior\n,"Statistician, GS-1530-12 (DEU-PERM-DS)","Lakewood, CO","[<nobr>$76,341 - $99,243 a year</nobr>]",False
28,\n\n CyberCoders,Data Scientist,"Boulder, CO",NaN,True
29,\n LENA Research Foundation,Sr. Research Engineer: Machine Learning and Co...,"Boulder, CO",NaN,True
...,...,...,...,...,...
1899,"\n\n RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,True
1900,\n Sense Corp,Data Scientist,"Austin, TX",NaN,True
1901,\n\n MaxPoint\n,Senior Data Scientist - Econometrics,"Austin, TX 78759 (Arboretum area)",NaN,False
1902,\n\n\n NVIDIA\n,Research Scientist for Computer Vision / Machi...,"Austin, TX",NaN,False
1903,\n\n\n Alcatel-Lucent\n,Software Developer Co-op,"Austin, TX",NaN,False
1904,\n\n Ocean Conservancy\n,"Conservation Biologist, Gulf Restoration Program","Austin, TX 78701 (Downtown area)",NaN,False
1905,\n\n\n CDK Global\n,Business Security Officer,"Austin, TX",NaN,False
1906,\n\n\n Express Scripts\n,Senior Quantitative UX Researcher,"Austin, TX",NaN,False
1907,\n\n Signature Science\n,Bioinformatics Specialist,"Austin, TX",NaN,False
1908,\n\n The University of Texas System\n,Institutional Research Analyst,"Austin, TX","[<nobr>$4,459 a month</nobr>]",False
1909,\n\n\n Thermo Fisher Scientific\n,Application Scientist,"Austin, TX",NaN,False
1910,\n\n Emoters Robotics\n,Robotics software engineer (involves machine l...,"Austin, TX","[<nobr>$70,000 - $100,000 a year</nobr>]",False
1911,\n\n Indeed,Data Engineer,"Austin, TX",NaN,True
1912,\n\n Main Street Hub,Data Scientist,"Austin, TX",NaN,True
1913,\n\n Indeed,Data Scientist,"Austin, TX",NaN,True
1914,"\n\n RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,True
1915,\n Sense Corp,Data Scientist,"Austin, TX",NaN,True
1916,"\n\n\n Gartner, Inc.\n","Content Marketing Analyst, Gartner Research","Austin, TX",NaN,False
1917,\n\n MaxPoint\n,Senior Data Scientist - Machine Learning,"Austin, TX 78759 (Arboretum area)",NaN,False
1918,\n\n\n The Jag Group\n,Senior Data Scientist - Machine Learning,"Austin, TX 73301 (St Edwards area)",NaN,False
1919,\n\n\n Natera\n,Clinical Data Reporter,"Austin, TX 78731",NaN,False
1920,"\n\n TEL Technology Center, America, Inc.\n",Scientist,"Austin, TX",NaN,False
1921,\n\n Zilliant\n,Senior Software Engineer – Science Team,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
1922,\n\n Galvanize\n,"Associate Instructor, Data Scientist","Austin, TX",NaN,False
1923,\n\n\n Indeed\n,Data Scientist,"Austin, TX 78759 (Arboretum area)",NaN,False
1924,\n\n\n University of Texas at Austin\n,Engineering Scientist Associate - GNSS Analyst...,"Austin, TX","[<nobr>$5,400 - $6,500 a month</nobr>]",False
1925,\n\n\n HomeAway\n,Research Data Scientist,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
1926,\n\n Indeed,Data Engineer,"Austin, TX",NaN,True
1927,\n\n Main Street Hub,Data Scientist,"Austin, TX",NaN,True
1928,\n\n Indeed,Data Scientist,"Austin, TX",NaN,True