In [2]:
import bs4
from bs4 import BeautifulSoup
import requests
import re
import json
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, classification_report, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold, train_test_split
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor,\
AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier, \
RandomForestClassifier, BaggingRegressor
from sklearn.neighbors import KNeighborsRegressor

## Webscraping

### IMDB: Get film ids

In [11]:
# Function that will make an api call to omdbapi.com and return film id

def get_id_250():
    response = requests.get('http://www.imdb.com/chart/top')
    html = response.text
    entries = re.findall("<a href.*?/title/(.*?)/", html)
    return list(set(entries))

entries = get_id_250()

In [12]:
len(entries)

250

### Fill in film data from omdapi.com

In [ ]:
# Function that will make an api call to omdbapi.com and return film data by film id
"""  
     Decided to include full plot summary in case I choose to use NLTK for predicting in future
     Decided to include Rotten Tomatoes ratings and metrics as it may also be a useful feature in models 
"""

# From JSON/APIs lab
def get_entry(entry):
    res = requests.get('http://www.omdbapi.com/?i='+entry+'&plot=full&r=json&tomatoes=true')
    if res.status_code != 200:
        print entry, res.status_code
    else:
        print '.',
    try:
        j = json.loads(res.text)
    except ValueError:
        j = None
    return j

entries_dict_list = [get_entry(e) for e in entries]

In [7]:
len(entries_dict_list)

250

key_list = []
for key, values in entries_dict_list[0].items():
    key_list.append(key)
    
key_list

In [57]:
df = pd.DataFrame(entries_dict_list)
df.head(1)

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,tomatoFresh,tomatoImage,tomatoMeter,tomatoRating,tomatoReviews,tomatoRotten,tomatoURL,tomatoUserMeter,tomatoUserRating,tomatoUserReviews
0,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",Won 3 Oscars. Another 87 wins & 131 nominations.,N/A,USA,24 Feb 2015,Damien Chazelle,"Drama, Music",English,88,A promising young drummer enrolls at a cut-thr...,...,246,certified,94,8.6,261,15,http://www.rottentomatoes.com/m/whiplash_2014/,94,4.5,66092

In [59]:
print df.shape
print df.columns

(250, 35)
Index([u'Actors', u'Awards', u'BoxOffice', u'Country', u'DVD', u'Director',
       u'Genre', u'Language', u'Metascore', u'Plot', u'Poster', u'Production',
       u'Rated', u'Released', u'Response', u'Runtime', u'Title', u'Type',
       u'Website', u'Writer', u'Year', u'imdbID', u'imdbRating', u'imdbVotes',
       u'tomatoConsensus', u'tomatoFresh', u'tomatoImage', u'tomatoMeter',
       u'tomatoRating', u'tomatoReviews', u'tomatoRotten', u'tomatoURL',
       u'tomatoUserMeter', u'tomatoUserRating', u'tomatoUserReviews'],
      dtype='object')

### IMDB: Get gross, opening weekend and budget

In [21]:
def get_gross(entry):
    response = requests.get('http://www.imdb.com/title/' + entry)
    html = response.text
    try:
        gross_list = re.findall("Gross:</h4>[ ]*\$([^ ]*)", html)
        gross = int(gross_list[0].replace(',', ''))
        print '.',
        return gross
    except Exception as ex:
        print
        print ex, entry, response.status_code
        return None

In [22]:
grosses = [(e, get_gross(e)) for e in entries]

. . . . . . .
list index out of range tt0046268 200

list index out of range tt0055630 200
. . . . .
list index out of range tt0057115 200
.
list index out of range tt0071315 200
. . . .
list index out of range tt0074896 200
. .
list index out of range tt0021749 200
. .
list index out of range tt0053125 200
. . .
list index out of range tt1220719 200

list index out of range tt0025316 200
. .
list index out of range tt0083922 200
. . .
list index out of range tt0072684 200
.
list index out of range tt0074958 200
. . . .
list index out of range tt0036775 200
. . . . . .
list index out of range tt0978762 200
. .
list index out of range tt0080678 200
. .
list index out of range tt0056592 200
.
list index out of range tt0095327 200
. . . . . . . . .
list index out of range tt0046438 200
.
list index out of range tt0015864 200
.
list index out of range tt0045152 200
. . . .
list index out of range tt0046911 200
.
list index out of range tt0050986 200
.
list index out of range tt0091251 200
. . . . . . . . . .
list index out of range tt0032553 200

list index out of range tt0032551 200
. . . . . .
list index out of range tt0060827 200
. . .
list index out of range tt0031679 200
. . . . . .
list index out of range tt0053198 200
. . .
list index out of range tt0050825 200

list index out of range tt0042876 200

list index out of range tt0083987 200
. . .
list index out of range tt0044079 200

list index out of range tt0041546 200
. . . . . .
list index out of range tt0092067 200
. . . .
list index out of range tt1954470 200
. . . . . . . .
list index out of range tt0057012 200

list index out of range tt0096283 200
.
list index out of range tt0064116 200
. . . . .
list index out of range tt0081505 200

list index out of range tt0038650 200
.
list index out of range tt0034583 200
. . . . .
list index out of range tt0046250 200
. .
list index out of range tt0033870 200
. . .
list index out of range tt0040897 200
. .
list index out of range tt0019254 200

list index out of range tt0066921 200

list index out of range tt0061512 200

list index out of range tt0033467 200
.
list index out of range tt0169102 200

list index out of range tt0017925 200
. . . .
list index out of range tt0055031 200
.
list index out of range tt0087544 200
. . .
list index out of range tt0050083 200
. .
list index out of range tt0018455 200
. . . .
list index out of range tt0077416 200
. . . . . .
list index out of range tt0087884 200
. . .
list index out of range tt0050976 200
. . . . . . . . .
list index out of range tt0043014 200

list index out of range tt0079944 200
.
list index out of range tt0053604 200
. . . . .
list index out of range tt0051201 200
.
list index out of range tt0032976 200
.
list index out of range tt0059578 200

list index out of range tt0072890 200
. . . . . . .
list index out of range tt1028532 200
. . . . . .
list index out of range tt0075314 200

In [23]:
df1 = pd.DataFrame(grosses, columns=['imdbID', 'Gross'])
df1.head()

      imdbID        Gross
0  tt2582802   13092000.0
1  tt0047478     269061.0
2  tt0082971  242374454.0
3  tt0050212   27200000.0
4  tt0848228  623279547.0

In [26]:
def get_opening(entry):
    response = requests.get('http://www.imdb.com/title/' + entry)
    html = response.text
    try:
        opening_list = re.findall("Opening Weekend:</h4>[ ]*\$([^ ]*)", html)
        opening = int(opening_list[0].replace(',', ''))
        print '.',
        return opening
    except Exception as ex:
        print
        print ex, entry, response.status_code
        return None

In [28]:
opening = [(e, get_opening(e)) for e in entries]

 . . .
list index out of range tt0050212 200
. . .
list index out of range tt0046268 200

list index out of range tt0055630 200
. . . . .
list index out of range tt0057115 200
.
list index out of range tt0071315 200

list index out of range tt0114746 200
. . .
list index out of range tt0074896 200
. .
list index out of range tt0021749 200
.
list index out of range tt1187043 200

list index out of range tt0053125 200
.
list index out of range tt0112471 200
.
list index out of range tt1220719 200

list index out of range tt0025316 200
. .
list index out of range tt0083922 200

list index out of range tt0088247 200
.
list index out of range tt0087843 200

list index out of range tt0072684 200
.
list index out of range tt0074958 200
.
list index out of range tt0052618 200
. .
list index out of range tt0036775 200
.
list index out of range tt0110357 200
. . .
list index out of range tt0075148 200

list index out of range tt0978762 200
.
list index out of range tt0036868 200

list index out of range tt0080678 200

list index out of range tt0093779 200

list index out of range tt0108052 200

list index out of range tt0056592 200

list index out of range tt0088763 200

list index out of range tt0095327 200
.
list index out of range tt0053291 200
.
list index out of range tt0407887 200
. . . .
list index out of range tt0114814 200

list index out of range tt0046438 200

list index out of range tt0107048 200

list index out of range tt0015864 200

list index out of range tt0107207 200

list index out of range tt0045152 200
.
list index out of range tt0167261 200

list index out of range tt0167260 200

list index out of range tt0095016 200

list index out of range tt0046911 200
.
list index out of range tt0050986 200
.
list index out of range tt0091251 200
.
list index out of range tt0078748 200
.
list index out of range tt0012349 200

list index out of range tt0372784 200

list index out of range tt0101414 200

list index out of range tt0113247 200

list index out of range tt0107290 200
.
list index out of range tt0070735 200

list index out of range tt0032553 200

list index out of range tt0032551 200
.
list index out of range tt0361748 200
. . . .
list index out of range tt0060827 200

list index out of range tt0266697 200
. .
list index out of range tt0031679 200

list index out of range tt0080684 200
. . . .
list index out of range tt0102926 200

list index out of range tt0053198 200
. . .
list index out of range tt0050825 200

list index out of range tt0042876 200

list index out of range tt0083987 200
. . .
list index out of range tt0044079 200

list index out of range tt0041546 200
.
list index out of range tt0114369 200
.
list index out of range tt0091763 200
. . .
list index out of range tt0090605 200

list index out of range tt0120737 200

list index out of range tt0120735 200
.
list index out of range tt1954470 200
. .
list index out of range tt0110413 200

list index out of range tt0058461 200
. . . .
list index out of range tt0057012 200

list index out of range tt0096283 200
.
list index out of range tt0064116 200

list index out of range tt0114709 200
. . .
list index out of range tt0105236 200

list index out of range tt0081505 200

list index out of range tt0038650 200
.
list index out of range tt0034583 200
. . .
list index out of range tt0054215 200
.
list index out of range tt0046250 200
. .
list index out of range tt0033870 200

list index out of range tt0112573 200
.
list index out of range tt0097576 200

list index out of range tt0040897 200

list index out of range tt0062622 200
.
list index out of range tt0019254 200

list index out of range tt0066921 200

list index out of range tt0061512 200

list index out of range tt0033467 200
.
list index out of range tt0169102 200

list index out of range tt0017925 200
. . .
list index out of range tt0064115 200

list index out of range tt0055031 200
.
list index out of range tt0087544 200

list index out of range tt0113277 200

list index out of range tt0105695 200
.
list index out of range tt0050083 200
.
list index out of range tt0110912 200

list index out of range tt0018455 200
. .
list index out of range tt0434409 200

list index out of range tt0117951 200

list index out of range tt0077416 200
. . . . .
list index out of range tt0099685 200

list index out of range tt0087884 200
.
list index out of range tt0060196 200

list index out of range tt0112641 200

list index out of range tt0050976 200

list index out of range tt0092005 200
.
list index out of range tt0111161 200
.
list index out of range tt0071562 200
. . . .
list index out of range tt0043014 200

list index out of range tt0079944 200

list index out of range tt0093058 200

list index out of range tt0053604 200

list index out of range tt0109830 200
.
list index out of range tt0073195 200
. .
list index out of range tt0051201 200

list index out of range tt0075686 200

list index out of range tt0032976 200

list index out of range tt1375666 200

list index out of range tt0059578 200

list index out of range tt0072890 200
.
list index out of range tt0103064 200
. . . .
list index out of range tt0047296 200

list index out of range tt1028532 200
. .
list index out of range tt0073486 200

list index out of range tt0209144 200

list index out of range tt0208092 200
.
list index out of range tt0075314 200

In [29]:
df2 = pd.DataFrame(opening, columns=['imdbID', 'Opening'])
df2.head()

      imdbID      Opening
0  tt2582802     135388.0
1  tt0047478      21830.0
2  tt0082971    1673731.0
3  tt0050212          NaN
4  tt0848228  207438708.0

In [34]:
def get_budget(entry):
    response = requests.get('http://www.imdb.com/title/' + entry)
    html = response.text
    try:
        budget_list = re.findall("Budget:</h4>[ ]*\$([^ ]*)", html)
        budget = int(budget_list[0].replace(',', ''))
        print '.',
        return budget
    except Exception as ex:
        print
        print ex, entry, response.status_code
        return None

In [35]:
budgets = [(e, get_budget(e)) for e in entries]

. . . . . . .
list index out of range tt0046268 200

list index out of range tt0055630 200
. . . . . . . . .
list index out of range tt0363163 200
.
list index out of range tt1865505 200
. . . . .
list index out of range tt1187043 200
. . . . . . . . . . . . . . . . . . . . . . .
list index out of range tt0071853 200
. .
list index out of range tt0978762 200
. . . . . . . . . . . .
list index out of range tt0044741 200
. . . .
list index out of range tt0046438 200
. . . . . . . .
list index out of range tt0046911 200
.
list index out of range tt0050986 200
.
list index out of range tt0091251 200
. . . . . .
list index out of range tt0113247 200
. . . . . . . . . . .
list index out of range tt0060827 200
. .
list index out of range tt0211915 200
. . . . . . .
list index out of range tt0053198 200
. . . . . . . . . .
list index out of range tt0041546 200
. . . . . .
list index out of range tt0092067 200
. .
list index out of range tt0120735 200
.
list index out of range tt1954470 200
. .
list index out of range tt0110413 200
.
list index out of range tt0119698 200
. . . . . . . . .
list index out of range tt0022100 200
. . . .
list index out of range tt0041959 200
. . . . . . . . . . . . . . . .
list index out of range tt0019254 200
. . .
list index out of range tt0050783 200
. . . . . . . . . . . . . . .
list index out of range tt0018455 200

list index out of range tt1675434 200
. . . . . . . . . .
list index out of range tt0087884 200

list index out of range tt0457430 200
. . . .
list index out of range tt0017136 200
. . . . . . . .
list index out of range tt0079944 200
. . . . . . . . . . . . . . .
list index out of range tt0056801 200
. . . . . . . . .
list index out of range tt0208092 200
. .

In [36]:
df3 = pd.DataFrame(opening, columns=['imdbID', 'Budget'])
df3.head()

      imdbID       Budget
0  tt2582802     135388.0
1  tt0047478      21830.0
2  tt0082971    1673731.0
3  tt0050212          NaN
4  tt0848228  207438708.0

In [38]:
print df1.columns
print df2.columns
print df3.columns

Index([u'imdbID', u'Gross'], dtype='object')
Index([u'imdbID', u'Opening'], dtype='object')
Index([u'imdbID', u'Budget'], dtype='object')

In [40]:
df_gross = df1.copy()
df_opening = df2.copy()
df_budget = df3.copy()

In [43]:
print df_gross.columns, df_gross.shape
print df_opening.columns, df_opening.shape
print df_budget.columns, df_opening.shape

Index([u'imdbID', u'Gross'], dtype='object') (250, 2)
Index([u'imdbID', u'Opening'], dtype='object') (250, 2)
Index([u'imdbID', u'Budget'], dtype='object') (250, 2)

### Merge all dataframes into 1 master df

In [60]:
# Merge gross, opening and budget dfs
df_imdb = pd.merge(df1, df2, on="imdbID")
df_imdb = pd.merge(df_imdb, df3, on="imdbID")
df_imdb.head(3)

      imdbID        Gross    Opening     Budget
0  tt2582802   13092000.0   135388.0   135388.0
1  tt0047478     269061.0    21830.0    21830.0
2  tt0082971  242374454.0  1673731.0  1673731.0

In [61]:
# Merge original df (from omdbapi) with df_imdb
df = pd.merge(df, df_imdb)
print df.shape
df.head()

(250, 38)

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,tomatoRating,tomatoReviews,tomatoRotten,tomatoURL,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,Gross,Opening,Budget
0,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",Won 3 Oscars. Another 87 wins & 131 nominations.,N/A,USA,24 Feb 2015,Damien Chazelle,"Drama, Music",English,88,A promising young drummer enrolls at a cut-thr...,...,8.6,261,15,http://www.rottentomatoes.com/m/whiplash_2014/,94,4.5,66092,13092000.0,135388.0,135388.0
1,"Toshirô Mifune, Takashi Shimura, Keiko Tsushim...",Nominated for 2 Oscars. Another 5 wins & 6 nom...,N/A,Japan,01 Mar 1999,Akira Kurosawa,"Action, Adventure, Drama",Japanese,98,"A veteran samurai, who has fallen on hard time...",...,9.3,57,0,http://www.rottentomatoes.com/m/1018639-seven_...,97,4.5,89264,269061.0,21830.0,21830.0
2,"Harrison Ford, Karen Allen, Paul Freeman, Rona...",Won 4 Oscars. Another 30 wins & 23 nominations.,N/A,USA,21 Oct 2003,Steven Spielberg,"Action, Adventure","English, German, Hebrew, Spanish, Arabic, Nepali",85,The year is 1936. An archeology professor name...,...,9.2,71,4,http://www.rottentomatoes.com/m/raiders_of_the...,96,4.1,823404,242374454.0,1673731.0,1673731.0
3,"William Holden, Alec Guinness, Jack Hawkins, S...",Won 7 Oscars. Another 23 wins & 7 nominations.,N/A,"UK, USA",21 Nov 2000,David Lean,"Adventure, Drama, War","English, Japanese, Thai",N/A,After settling his differences with a Japanese...,...,9.2,53,3,http://www.rottentomatoes.com/m/bridge_on_the_...,93,4.0,53967,27200000.0,NaN,NaN
4,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Nominated for 1 Oscar. Another 34 wins & 75 no...,"$623,279,547.00",USA,25 Sep 2012,Joss Whedon,"Action, Sci-Fi, Thriller","English, Russian",69,"Nick Fury is the director of S.H.I.E.L.D., an ...",...,8.0,318,26,http://www.rottentomatoes.com/m/marvels_the_av...,91,4.4,1128701,623279547.0,207438708.0,207438708.0

In [62]:
dfc = df.copy()

In [70]:
df.columns = [i.encode("utf-8") for i in df.columns]
df.columns.values

array(['Actors', 'Awards', 'BoxOffice', 'Country', 'DVD', 'Director',
       'Genre', 'Language', 'Metascore', 'Plot', 'Poster', 'Production',
       'Rated', 'Released', 'Response', 'Runtime', 'Title', 'Type',
       'Website', 'Writer', 'Year', 'imdbID', 'imdbRating', 'imdbVotes',
       'tomatoConsensus', 'tomatoFresh', 'tomatoImage', 'tomatoMeter',
       'tomatoRating', 'tomatoReviews', 'tomatoRotten', 'tomatoURL',
       'tomatoUserMeter', 'tomatoUserRating', 'tomatoUserReviews', 'Gross',
       'Opening', 'Budget'], dtype=object)

In [75]:
original_cols = df.columns.values
df.columns.values = [
    'imdbID', 'Title', 'Gross', 'Opening', 'Budget',
    'Actors', 'Awards', 'BoxOffice', 'Country', 'DVD', 'Director',
    'Genre', 'Language', 'Metascore', 'Plot', 'Poster', 'Production',
    'Rated', 'Released', 'Response', 'Runtime',  'Type',
    'Website', 'Writer', 'Year',  'imdbRating', 'imdbVotes',
    'tomatoConsensus', 'tomatoFresh', 'tomatoImage', 'tomatoMeter',
    'tomatoRating', 'tomatoReviews', 'tomatoRotten', 'tomatoURL',
    'tomatoUserMeter', 'tomatoUserRating', 'tomatoUserReviews']

['Actors' 'Awards' 'BoxOffice' 'Country' 'DVD' 'Director' 'Genre'
 'Language' 'Metascore' 'Plot' 'Poster' 'Production' 'Rated' 'Released'
 'Response' 'Runtime' 'Title' 'Type' 'Website' 'Writer' 'Year' 'imdbID'
 'imdbRating' 'imdbVotes' 'tomatoConsensus' 'tomatoFresh' 'tomatoImage'
 'tomatoMeter' 'tomatoRating' 'tomatoReviews' 'tomatoRotten' 'tomatoURL'
 'tomatoUserMeter' 'tomatoUserRating' 'tomatoUserReviews' 'Gross' 'Opening'
 'Budget']