In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.cross_validation import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import confusion_matrix

In [ ]:
#Income: 50000 > 1
#Income: 50000 < 0

In [37]:
dfa = pd.read_csv('/Users/kristensu/dropbox/GA-DSI/DSI-copy/curriculum/week-05/1.3-classification-challenge/classification_challenge_submission.csv')

In [38]:
dfa.head()

,Unnamed: 0,age,type_employer,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country
0,18099,45,Federal-gov,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,20,United-States
1,10672,17,Private,12th,8,Never-married,Sales,Own-child,White,Male,0,0,40,United-States
2,17947,24,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States
3,13753,46,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,4064,0,40,United-States
4,4279,59,Private,Bachelors,13,Separated,Adm-clerical,Unmarried,White,Male,0,0,60,United-States

In [28]:
filepath = '/Users/kristensu/dropbox/GA-DSI/DSI-copy/curriculum/week-05/1.3-classification-challenge/classification_challenge_training.csv'
df = pd.read_csv(filepath) # read in the census-derived data; mind the separator
df.drop('Unnamed: 0', axis=1, inplace=True)
print df.shape
df.head(2)

(24420, 14)

,age,type_employer,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
1,32,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,1

In [35]:
df.corr()

,age,education_num,capital_gain,capital_loss,hr_per_week,income
age,1.000000,0.038360,0.074624,0.065578,0.077808,0.236897
education_num,0.038360,1.000000,0.121197,0.082685,0.150153,0.334498
capital_gain,0.074624,0.121197,1.000000,-0.031220,0.082369,0.222043
capital_loss,0.065578,0.082685,-0.031220,1.000000,0.056033,0.151048
hr_per_week,0.077808,0.150153,0.082369,0.056033,1.000000,0.238022
income,0.236897,0.334498,0.222043,0.151048,0.238022,1.000000

In [34]:
df.head(10)

,age,type_employer,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
1,32,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,1
2,29,Private,10th,6,Married-spouse-absent,Adm-clerical,Unmarried,White,Female,0,0,40,Mexico,0
3,30,Private,Assoc-voc,11,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,Mexico,0
4,66,Private,HS-grad,9,Widowed,Priv-house-serv,Not-in-family,White,Female,0,0,8,United-States,0
5,84,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,20,United-States,0
6,24,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,2174,0,45,United-States,0
7,42,State-gov,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,1
8,31,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
9,25,Private,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,1

In [33]:
print df['education'].unique()
print df['marital'].unique()
print df['relationship'].unique()
print df['occupation'].unique()
print df['education_num'].unique()

['11th' 'HS-grad' '10th' 'Assoc-voc' 'Bachelors' 'Some-college'
 'Assoc-acdm' '12th' 'Doctorate' 'Masters' '9th' '5th-6th' '1st-4th'
 'Prof-school' '7th-8th' 'Preschool']
['Married-civ-spouse' 'Married-spouse-absent' 'Widowed' 'Never-married'
 'Divorced' 'Separated' 'Married-AF-spouse']
['Husband' 'Wife' 'Unmarried' 'Not-in-family' 'Own-child' 'Other-relative']
['Handlers-cleaners' 'Adm-clerical' 'Priv-house-serv' 'Farming-fishing'
 'Exec-managerial' 'Craft-repair' 'Prof-specialty' 'Other-service' 'Sales'
 '?' 'Tech-support' 'Protective-serv' 'Machine-op-inspct'
 'Transport-moving' 'Armed-Forces']
[ 7  9  6 11 13 10 12  8 16 14  5  3  2 15  4  1]

In [12]:
df.dtypes

Unnamed: 0        int64
age               int64
type_employer    object
education        object
education_num     int64
marital          object
occupation       object
relationship     object
race             object
sex              object
capital_gain      int64
capital_loss      int64
hr_per_week       int64
country          object
income            int64
dtype: object

In [14]:
df['income'].value_counts()

0    18559
1     5861
Name: income, dtype: int64

In [ ]:
# Check values and their counts
pd.set_option('display.max_rows', 500)
df.apply(lambda c: c.value_counts()).T.stack()

In [17]:
df['type_employer'].unique()

array(['Private', 'Self-emp-not-inc', 'State-gov', 'Local-gov', '?',
       'Self-emp-inc', 'Federal-gov', 'Without-pay', 'Never-worked'], dtype=object)

In [145]:
"""Clean/munge your data."""
y = df['income']
X = df

X_train, X_test, Y_train, Y_test = train_test_split(df, target) ## create train-test out of the data given

In [158]:
""" Fit a binary classification predictor."""

y_pred = ?.predict(X_test)
y_score = ?.decision_function(X_test) # Submit these response, the output of model.decision_function

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [12]:
""" Check your performance so far."""

conmat = np.array(confusion_matrix(Y_test, y_pred, labels=[1,0]))
confusion = pd.DataFrame(conmat, index=['over_50k', 'under_50k'],
                            columns=['predicted_over50k','predicted_under50k'])

print(confusion)
print classification_report(Y_test,y_pred)
roc_auc_score(Y_test, y_score)

""" Plot AUC"""

FPR = dict()
TPR = dict()
ROC_AUC = dict()

# For class 1, find the area under the curve
FPR[1], TPR[1], _ = roc_curve(Y_test, y_score)
ROC_AUC[1] = auc(FPR[1], TPR[1])

# Plot of a ROC curve for class 1 (has_cancer)
plt.figure(figsize=[11,9])
plt.plot(FPR[1], TPR[1], label='ROC curve (area = %0.2f)' % ROC_AUC[1], linewidth=4)
plt.plot([0, 1], [0, 1], 'k--', linewidth=4)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate', fontsize=18)
plt.ylabel('True Positive Rate', fontsize=18)
plt.title('Receiver operating characteristic for high/low income', fontsize=18)
plt.legend(loc="lower right")
plt.show()

NameError: name 'Y_test' is not defined