In [8]:
import requests
import bs4
from bs4 import BeautifulSoup, BeautifulStoneSoup
import urllib2
from IPython.display import HTML
import re
import numpy as np
import pandas as pd
import json
import urllib
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
# low 100 and top 250

def get_low_100():
    response = requests.get('http://www.imdb.com/chart/bottom')
    html = response.text
    low_entries = re.findall("<a href.*?/title/(.*?)/", html)
    return list(set(low_entries))

def get_top_250():
    response = requests.get('http://www.imdb.com/chart/top')
    html = response.text
    top_entries = re.findall("<a href.*?/title/(.*?)/", html)
    return list(set(top_entries))

In [10]:
low_imdb = get_low_100()
top_imdb = get_top_250()

In [11]:
low_and_top = low_imdb + top_imdb
print len(low_and_top)

350

In [12]:
def get_entry(entry):
    res = requests.get('http://www.omdbapi.com/?i='+entry)
    if res.status_code != 200:
        print entry, res.status_code
    else:
        print '.',
    try:
        j = json.loads(res.text)
    except ValueError:
        j = None
    return j


def get_gross(entry):
    response = requests.get('http://www.imdb.com/title/'+entry)
    html = response.text
    try:
        gross_list = re.findall("Gross:</h4>[ ]*\$([^ ]*)", html)
        gross = int(gross_list[0].replace(',', ''))
        print '.',
        return gross
    except Exception as ex:
        print
        print ex, entry, response.status_code
        return None

In [13]:
entries_dict_list = [get_entry(e) for e in low_and_top]

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [14]:
grosses = [(e, get_gross(e)) for e in low_and_top]

.
list index out of range tt0058548 200

list index out of range tt0089280 200

list index out of range tt0830861 200
.
list index out of range tt0057507 200

list index out of range tt0105643 200

list index out of range tt0057181 200

list index out of range tt1309000 200
.
list index out of range tt0112873 200

list index out of range tt0092297 200

list index out of range tt1316037 200

list index out of range tt0054333 200

list index out of range tt0088380 200
.
list index out of range tt2071491 200

list index out of range tt1651323 200
. . .
list index out of range tt0953989 200
.
list index out of range tt0058615 200
.
list index out of range tt0451109 200
.
list index out of range tt0071198 200

list index out of range tt0055946 200

list index out of range tt0053464 200

list index out of range tt0077834 200

list index out of range tt0162930 200
.
list index out of range tt0330994 200

list index out of range tt0114658 200

list index out of range tt0382028 200
.
list index out of range tt0174685 200
.
list index out of range tt0096149 200

list index out of range tt0367677 200

list index out of range tt0072666 200

list index out of range tt4458206 200

list index out of range tt0060666 200
.
list index out of range tt0086026 200

list index out of range tt0054673 200
. .
list index out of range tt0417056 200

list index out of range tt0456014 200

list index out of range tt0066476 200
.
list index out of range tt0075343 200
.
list index out of range tt0055562 200
.
list index out of range tt0086972 200

list index out of range tt0050717 200
.
list index out of range tt4404474 200

list index out of range tt0470833 200

list index out of range tt0145529 200

list index out of range tt3036740 200

list index out of range tt0087258 200
. .
list index out of range tt0808240 200

list index out of range tt0249516 200

list index out of range tt0421051 200

list index out of range tt0061191 200
. . .
list index out of range tt5290620 200

list index out of range tt0315775 200
.
list index out of range tt0037798 200

list index out of range tt0059464 200

list index out of range tt2814362 200

list index out of range tt1674047 200

list index out of range tt0053241 200

list index out of range tt0469849 200

list index out of range tt0081693 200

list index out of range tt0073396 200

list index out of range tt0096870 200

list index out of range tt0088772 200

list index out of range tt0088100 200

list index out of range tt0364986 200

list index out of range tt0201844 200
.
list index out of range tt0100665 200

list index out of range tt1623780 200

list index out of range tt0060753 200
. . .
list index out of range tt0929809 200

list index out of range tt0473310 200

list index out of range tt0463392 200
. . . . . . .
list index out of range tt0046268 200

list index out of range tt0055630 200
. . . . .
list index out of range tt0057115 200
.
list index out of range tt0071315 200
. . . . .
list index out of range tt0074896 200
. .
list index out of range tt0021749 200
. .
list index out of range tt0050613 200

list index out of range tt0053125 200
. . .
list index out of range tt1220719 200

list index out of range tt0025316 200
. .
list index out of range tt0083922 200
. . .
list index out of range tt0072684 200
.
list index out of range tt0074958 200
. . . .
list index out of range tt0036775 200
. . . . . .
list index out of range tt0978762 200
. .
list index out of range tt0080678 200
. .
list index out of range tt0056592 200
.
list index out of range tt0095327 200
. . . . . . . . .
list index out of range tt0046438 200
.
list index out of range tt0015864 200
.
list index out of range tt0045152 200
. . . .
list index out of range tt0046911 200
.
list index out of range tt0050986 200
.
list index out of range tt0091251 200
. . . . . . . . . .
list index out of range tt0032553 200

list index out of range tt0032551 200
. . . . . .
list index out of range tt0060827 200
. . .
list index out of range tt0031679 200
. . . . . .
list index out of range tt0053198 200
. . .
list index out of range tt0050825 200

list index out of range tt0042876 200

list index out of range tt0083987 200
. . .
list index out of range tt0044079 200

list index out of range tt0041546 200
. . . . . .
list index out of range tt0092067 200
. . . .
list index out of range tt1954470 200
. . . . . . . .
list index out of range tt0057012 200

list index out of range tt0096283 200
.
list index out of range tt0064116 200
. . . .
list index out of range tt0081505 200

list index out of range tt0038650 200
.
list index out of range tt0034583 200
. . . . .
list index out of range tt0046250 200
. .
list index out of range tt0033870 200
. . .
list index out of range tt0040897 200
. .
list index out of range tt0066921 200

list index out of range tt0061512 200

list index out of range tt0033467 200
.
list index out of range tt0169102 200

list index out of range tt0017925 200
. . . .
list index out of range tt0055031 200
.
list index out of range tt0087544 200
. . .
list index out of range tt0050083 200
. .
list index out of range tt0018455 200
. . . .
list index out of range tt0077416 200
. . . . . . . . .
list index out of range tt0050976 200
. . . . . . . . .
list index out of range tt0043014 200

list index out of range tt0079944 200
.
list index out of range tt0053604 200
. . . . .
list index out of range tt0051201 200
.
list index out of range tt0032976 200
.
list index out of range tt0059578 200

list index out of range tt0044706 200

list index out of range tt0072890 200
. . . . . . .
list index out of range tt1028532 200
. . . . . .
list index out of range tt0075314 200

In [15]:
df1 = pd.DataFrame(grosses, columns=['imdbID', 'Gross'])
df1.head()

      imdbID       Gross
0  tt0118665  27141959.0
1  tt0058548         NaN
2  tt0089280         NaN
3  tt0830861         NaN
4  tt0299930   5660084.0

In [16]:
imdb_df = pd.DataFrame(entries_dict_list)

In [17]:
imdb_df.tail()

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,Released,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes
345,"Michael Berryman, Peter Brocco, Dean R. Brooks...",Won 5 Oscars. Another 30 wins & 13 nominations.,USA,Milos Forman,Drama,English,79,A criminal pleads insanity after getting into ...,http://ia.media-imdb.com/images/M/MV5BMTk5OTA4...,R,21 Nov 1975,True,133 min,One Flew Over the Cuckoo's Nest,movie,"Lawrence Hauben (screenplay), Bo Goldman (scre...",1975,tt0073486,8.7,"671,394"
346,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",Nominated for 2 Oscars. Another 54 wins & 55 n...,USA,Christopher Nolan,"Mystery, Thriller",English,80,A man creates a strange system to help him rem...,http://ia.media-imdb.com/images/M/MV5BMTc4MjUx...,R,25 May 2001,True,113 min,Memento,movie,"Christopher Nolan (screenplay), Jonathan Nolan...",2000,tt0209144,8.5,"837,228"
347,"Benicio Del Toro, Dennis Farina, Vinnie Jones,...",4 wins & 6 nominations.,"UK, USA",Guy Ritchie,"Comedy, Crime","English, Russian",55,"Unscrupulous boxing promoters, violent bookmak...",http://ia.media-imdb.com/images/M/MV5BMTk5NzE0...,R,19 Jan 2001,True,102 min,Snatch.,movie,Guy Ritchie,2000,tt0208092,8.3,"593,348"
348,"Tatsuya Nakadai, Akira Terao, Jinpachi Nezu, D...",Won 1 Oscar. Another 25 wins & 22 nominations.,"Japan, France",Akira Kurosawa,"Action, Drama",Japanese,96,"An elderly lord abdicates to his three sons, a...",http://ia.media-imdb.com/images/M/MV5BNTEyNjg0...,R,01 Jun 1985,True,162 min,Ran,movie,"Akira Kurosawa (screenplay), Hideo Oguni (scre...",1985,tt0089881,8.3,"76,569"
349,"Diahnne Abbott, Frank Adu, Victor Argo, Gino A...",Nominated for 4 Oscars. Another 21 wins & 15 n...,USA,Martin Scorsese,"Crime, Drama","English, Spanish",93,A mentally unstable Vietnam War veteran works ...,http://ia.media-imdb.com/images/M/MV5BMTQ1Nzg3...,R,08 Feb 1976,True,113 min,Taxi Driver,movie,Paul Schrader,1976,tt0075314,8.3,"499,135"

In [18]:
results = []

for title in imdb_df['Title']:
    title = title.encode('utf8')
    title = title.replace(" ", "+")
    URL = "http://www.omdbapi.com/?t={title}&plot=full&r=xml&tomatoes=true".format(**locals())
    i = requests.get(URL)
    i_soup = BeautifulSoup(i.content, "lxml-xml")
    results.append(i_soup)

In [19]:
def extract_everything(list_of_soup_files):
    """Extract desired movie info using BS4. Future: will refactor using modulo (%) 
    to pass in a list of desired tag/attribute names if possible..."""
    list_dict_350 = []
    for soup_file in list_of_soup_files:
        dict_350 = {}
        
        titles=soup_file.findAll('movie',{"title":True})
        for title in titles:
            dict_350['title'] = title['title']
        
        ratings=soup_file.findAll('movie',{"rated":True})
        for rating in ratings:
            dict_350['rating'] = str(rating['rated'])
        
        release_dates=soup_file.findAll('movie',{"released":True})
        for release in release_dates:
            dict_350['released'] = str(release['released'])
        
        run_times=soup_file.findAll('movie',{"runtime":True})
        for run_time in run_times:
            dict_350['runtime'] = str(run_time['runtime'])
        
        genres=soup_file.findAll('movie',{"genre":True})
        for genre in genres:
            dict_350['genre'] = str(genre['genre'])
        
        directors=soup_file.findAll('movie',{"director":True})
        for director in directors:
            dict_350['director'] = director['director'].encode('utf8')
        
        writers=soup_file.findAll('movie',{"writer":True})
        for writer in writers:
            dict_350['writer'] = writer['writer'].encode('utf8')
        
        actors=soup_file.findAll('movie',{"actors":True})
        for actor in actors:
            dict_350['actors'] = actor['actors'].encode('utf8')
        
        plots=soup_file.findAll('movie',{"plot":True})
        for plot in plots:
            dict_350['plot'] = plot['plot'].encode('utf8')
        
        languages=soup_file.findAll('movie',{"language":True})
        for language in languages:
            dict_350['language'] = str(language['language'])
        
        countrys=soup_file.findAll('movie',{"country":True})
        for country in countrys:
            dict_350['country'] = str(country['country'])
        
        awards=soup_file.findAll('movie',{"awards":True})
        for award in awards:
            dict_350['awards'] = str(award['awards'])
        
        metascores=soup_file.findAll('movie',{"metascore":True})
        for metascore in metascores:
            dict_350['metascore'] = str(metascore['metascore'])
        
        imdbRatings=soup_file.findAll('movie',{"imdbRating":True})
        for imdbRating in imdbRatings:
            dict_350['imdbRating'] = str(imdbRating['imdbRating'])
        
        imdbVotes=soup_file.findAll('movie',{"imdbVotes":True})
        for imdbVote in imdbVotes:
            dict_350['imdbVotes'] = str(imdbVote['imdbVotes'])
        
        imdbIDs=soup_file.findAll('movie',{"imdbID":True})
        for imdbID in imdbIDs:
            dict_350['imdbID'] = str(imdbID['imdbID'])
        
        tomatoMeters=soup_file.findAll('movie',{"tomatoMeter":True})
        for tomatoMeter in tomatoMeters:
            dict_350['tomatoMeter'] = str(tomatoMeter['tomatoMeter'])
    
        tomatoImages=soup_file.findAll('movie',{"tomatoImage":True})
        for tomatoImage in tomatoImages:
            dict_350['tomatoImage'] = str(tomatoImage['tomatoImage'])
                
        tomatoRatings=soup_file.findAll('movie',{"tomatoRating":True})
        for tomatoRating in tomatoRatings:
            dict_350['tomatoRating'] = str(tomatoRating['tomatoRating'])
                
        tomatoReviews=soup_file.findAll('movie',{"tomatoReviews":True})
        for tomatoReview in tomatoReviews:
            dict_350['tomatoReviews'] = str(tomatoReview['tomatoReviews'])
                
        tomatoFreshs=soup_file.findAll('movie',{"tomatoFresh":True})
        for tomatoFresh in tomatoFreshs:
            dict_350['tomatoFresh'] = str(tomatoFresh['tomatoFresh'])
                
        tomatoRottens=soup_file.findAll('movie',{"tomatoRotten":True})
        for tomatoRotten in tomatoRottens:
            dict_350['tomatoRotten'] = str(tomatoRotten['tomatoRotten'])
                
        tomatoConsensuses=soup_file.findAll('movie',{"tomatoConsensus":True})
        for tomatoConsensus in tomatoConsensuses:
            dict_350['tomatoConsensus'] = tomatoConsensus['tomatoConsensus'].encode('utf8')
                
        tomatoUserMeters=soup_file.findAll('movie',{"tomatoUserMeter":True})
        for tomatoUserMeter in tomatoUserMeters:
            dict_350['tomatoUserMeter'] = tomatoUserMeter['tomatoUserMeter'].encode('utf8')
                
        tomatoUserRatings=soup_file.findAll('movie',{"tomatoUserRating":True})
        for tomatoUserRating in tomatoUserRatings:
            dict_350['tomatoUserRating'] = str(tomatoUserRating['tomatoUserRating'])
                
        tomatoUserReviews=soup_file.findAll('movie',{"tomatoUserReviews":True})
        for tomatoUserReview in tomatoUserReviews:
            dict_350['tomatoUserReviews'] = str(tomatoUserReview['tomatoUserReviews'])
                
        DVDs=soup_file.findAll('movie',{"DVD":True})
        for DVD in DVDs:
            dict_350['DVD'] = str(DVD['DVD'])
                
        BoxOffices=soup_file.findAll('movie',{"BoxOffice":True})
        for BoxOffice in BoxOffices:
            dict_350['BoxOffice'] = str(BoxOffice['BoxOffice'])
                
        Productions=soup_file.findAll('movie',{"Production":True})
        for Production in Productions:
            dict_350['Production'] = str(Production['Production'])
            
        years=soup_file.findAll('movie',{"year":True})
        for year in years:
            dict_350['year'] = str(year['year'])
        
        list_dict_350.append(dict_350)        
    
    return list_dict_350

all_350_raw = extract_everything(results)

In [20]:
imdb_350_raw = pd.DataFrame.from_records(all_350_raw)
imdb_350_raw = pd.merge(imdb_350_raw, df1)
imdb_350_raw.tail()

,BoxOffice,DVD,Production,actors,awards,country,director,genre,imdbID,imdbRating,...,tomatoMeter,tomatoRating,tomatoReviews,tomatoRotten,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,writer,year,Gross
340,N/A,09 Dec 1997,United Artists,"Michael Berryman, Peter Brocco, Dean R. Brooks...",Won 5 Oscars. Another 30 wins & 13 nominations.,USA,Milos Forman,Drama,tt0073486,8.7,...,95,8.9,58,3,96,4.2,277294,"Lawrence Hauben (screenplay), Bo Goldman (scre...",1975,112000000.0
341,N/A,04 Sep 2001,Newmarket Films,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",Nominated for 2 Oscars. Another 54 wins & 55 n...,USA,Christopher Nolan,"Mystery, Thriller",tt0209144,8.5,...,92,8.2,168,13,94,4.1,377470,"Christopher Nolan (screenplay), Jonathan Nolan...",2000,25530884.0
342,N/A,03 Jul 2001,Columbia Pictures,"Benicio Del Toro, Dennis Farina, Vinnie Jones,...",4 wins & 6 nominations.,"UK, USA",Guy Ritchie,"Comedy, Crime",tt0208092,8.3,...,73,6.4,139,38,93,4.0,392948,Guy Ritchie,2000,30093107.0
343,N/A,22 Nov 2005,Rialto Pictures,"Tatsuya Nakadai, Akira Terao, Jinpachi Nezu, D...",Won 1 Oscar. Another 25 wins & 22 nominations.,"Japan, France",Akira Kurosawa,"Action, Drama",tt0089881,8.3,...,96,9.0,76,3,95,4.3,37710,"Akira Kurosawa (screenplay), Hideo Oguni (scre...",1985,3522421.0
344,N/A,15 Jun 1999,Columbia Pictures,"Diahnne Abbott, Frank Adu, Victor Argo, Gino A...",Nominated for 4 Oscars. Another 21 wins & 15 n...,USA,Martin Scorsese,"Crime, Drama",tt0075314,8.3,...,99,9.0,68,1,93,4.1,256666,Paul Schrader,1976,NaN

In [21]:
imdb_350_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 0 to 344
Data columns (total 31 columns):
BoxOffice            345 non-null object
DVD                  345 non-null object
Production           345 non-null object
actors               345 non-null object
awards               345 non-null object
country              345 non-null object
director             345 non-null object
genre                345 non-null object
imdbID               345 non-null object
imdbRating           345 non-null object
imdbVotes            345 non-null object
language             345 non-null object
metascore            345 non-null object
plot                 345 non-null object
rating               345 non-null object
released             345 non-null object
runtime              345 non-null object
title                345 non-null object
tomatoConsensus      345 non-null object
tomatoFresh          345 non-null object
tomatoImage          345 non-null object
tomatoMeter          345 non-null object
tomatoRating         345 non-null object
tomatoReviews        345 non-null object
tomatoRotten         345 non-null object
tomatoUserMeter      345 non-null object
tomatoUserRating     345 non-null object
tomatoUserReviews    345 non-null object
writer               345 non-null object
year                 345 non-null object
Gross                213 non-null float64
dtypes: float64(1), object(30)
memory usage: 86.2+ KB

In [22]:
#Box office seems to have no use....
imdb_350_raw = imdb_350_raw.drop('BoxOffice', 1)
imdb_350_raw.head(1)

,DVD,Production,actors,awards,country,director,genre,imdbID,imdbRating,imdbVotes,...,tomatoMeter,tomatoRating,tomatoReviews,tomatoRotten,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,writer,year,Gross
0,27 Jul 1999,TriStar Pictures,"Kathleen Turner, Christopher Lloyd, Kim Cattra...",1 win & 2 nominations.,USA,Bob Clark,"Comedy, Crime, Family",tt0118665,2.5,"19,205",...,2,1.9,44,43,23,2.5,82185,"Steven Paul (story), Francisca Matos (story), ...",1999,27141959.0

In [23]:
imdb_350_raw.to_csv('imdb_raw.csv', encoding='utf-8')