In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [147]:
# read in the raw data from the github url

df = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [148]:
###ncf = cities.groupby('country')['name'].count().to_frame('count')

###ncf[ncf.index.to_series().isin(['Azerbaijan', 'Austria'])]

###[4:16]  
###to find values in an index

In [149]:
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN

In [150]:
cdf = df.copy()

In [151]:
type(cdf)

pandas.core.frame.DataFrame

In [152]:
cdf.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN

In [153]:
cdf.columns

Index([u'permalink', u'name', u'homepage_url', u'category_list', u' market ',
       u' funding_total_usd ', u'status', u'country_code', u'state_code',
       u'region', u'city', u'funding_rounds', u'founded_at', u'founded_month',
       u'founded_quarter', u'founded_year', u'first_funding_at',
       u'last_funding_at', u'Unnamed: 18'],
      dtype='object')

#### 1. Clean the data. Use .apply and lambda functions where you can

In [154]:
# rename the columns to remove spaces and extra characters
cdf.rename(columns = lambda x: x.strip())

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,NaN
5,/organization/n-plusn,#NAME?,http://plusn.com,|Software|,Software,"600,000",operating,USA,NY,New York City,New York,1,1/1/12,2012-01,2012-Q1,2012.0,8/29/12,8/29/12,NaN
6,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,"7,000,000",NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,10/10/11,2011-10,2011-Q4,2011.0,5/31/13,5/31/13,NaN
7,/organization/fox-networks,.Fox Networks,http://www.dotfox.com,|Advertising|,Advertising,"4,912,393",closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaN,NaN,NaN,NaN,1/16/07,1/16/07,NaN
8,/organization/0-6-com,0-6.com,http://www.0-6.com,|Curated Web|,Curated Web,"2,000,000",operating,NaN,NaN,NaN,NaN,1,1/1/07,2007-01,2007-Q1,2007.0,3/19/08,3/19/08,NaN
9,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,1/1/10,2010-01,2010-Q1,2010.0,7/24/14,7/24/14,NaN
10,/organization/0xdata,0xdata,http://www.0xdata.com,|Analytics|,Analytics,"1,700,000",operating,USA,CA,SF Bay Area,Mountain View,1,1/1/11,2011-01,2011-Q1,2011.0,1/3/13,1/3/13,NaN
11,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,|E-Commerce|,E-Commerce,"40,000",operating,CHL,NaN,Santiago,Las Condes,1,1/1/12,2012-01,2012-Q1,2012.0,2/18/13,2/18/13,NaN
12,/organization/1-4-all,1-4 All,NaN,|Entertainment|Games|Software|,Entertainment,-,operating,USA,NC,North Carolina,Connellys Springs,1,NaN,NaN,NaN,NaN,4/21/13,4/21/13,NaN
13,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,|Health and Wellness|,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1,1/1/86,1986-01,1986-Q1,1986.0,8/19/10,8/19/10,NaN
14,/organization/1-800-doctors,1-800-DOCTORS,http://1800doctors.com,|Health and Wellness|,Health and Wellness,"1,750,000",operating,USA,NJ,Newark,Iselin,1,1/1/84,1984-01,1984-Q1,1984.0,3/2/11,3/2/11,NaN
15,/organization/1-618-technology,1.618 Technology,NaN,|Real Estate|,Real Estate,-,operating,USA,FL,Orlando,Orlando,1,12/7/13,2013-12,2013-Q4,2013.0,1/22/14,1/22/14,NaN
16,/organization/10-20-media,10-20 Media,http://www.10-20media.com,|E-Commerce|,E-Commerce,"2,050,000",operating,USA,MD,Baltimore,Woodbine,4,1/1/01,2001-01,2001-Q1,2001.0,6/18/09,12/28/11,NaN
17,/organization/1000-corks,1000 Corks,http://1000corks.com,|Search|,Search,"40,000",operating,USA,OR,"Portland, Oregon",Lake Oswego,1,1/1/08,2008-01,2008-Q1,2008.0,8/23/11,8/23/11,NaN
18,/organization/1000-markets,1000 Markets,http://www.1000markets.com,|Marketplaces|Art|E-Commerce|,Art,"500,000",acquired,NaN,NaN,NaN,NaN,1,1/1/09,2009-01,2009-Q1,2009.0,5/15/09,5/15/09,NaN
19,/organization/1000jobboersen-de,1000jobboersen.de,http://www.1000jobboersen.de,|Curated Web|,Curated Web,-,operating,DEU,NaN,Berlin,Berlin,1,NaN,NaN,NaN,NaN,9/16/11,9/16/11,NaN
20,/organization/1000memories,1000memories,http://1000memories.com,|Curated Web|,Curated Web,"2,535,000",acquired,USA,CA,SF Bay Area,San Francisco,2,7/1/10,2010-07,2010-Q3,2010.0,1/1/10,2/16/11,NaN
21,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,|Curated Web|,Curated Web,"4,462,651",operating,USA,WA,Seattle,Bellevue,4,1/1/08,2008-01,2008-Q1,2008.0,10/14/09,1/15/14,NaN
22,/organization/1001-menus,1001 Menus,http://1001menus.com,|Local Businesses|Restaurants|,Local Businesses,"1,869,079",operating,FRA,NaN,Paris,Paris,2,11/20/10,2010-11,2010-Q4,2010.0,12/27/12,11/13/13,NaN
23,/organization/1006-tv,1006.tv,http://www.1006.tv/,|Media|Games|,Games,"10,000,000",operating,NaN,NaN,Beijing,Beijing,3,1/1/09,2009-01,2009-Q1,2009.0,1/1/11,7/31/14,NaN
24,/organization/100du-tv,100du.tv,http://www.100du.com,|Hospitality|,Hospitality,"3,000,000",operating,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1/7/08,8/13/10,NaN
25,/organization/100e-com,100e.com,http://www.100e.com,|Education|,Education,"3,000,000",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,1/1/06,1/1/06,NaN
26,/organization/100plus,100Plus,http://www.100plus.com,|Analytics|,Analytics,"1,250,000",acquired,USA,CA,SF Bay Area,San Francisco,2,9/16/11,2011-09,2011-Q3,2011.0,11/2/11,11/30/11,NaN
27,/organization/1010data,1010data,http://www.1010data.com,|Software|,Software,"35,000,000",operating,USA,NY,New York City,New York,1,1/1/00,2000-01,2000-Q1,2000.0,3/8/10,3/8/10,NaN
28,/organization/10bestthings,10BestThings,http://10bestthings.com,|Curated Web|,Curated Web,"50,000",closed,USA,OH,Cleveland,Cleveland,1,4/1/09,2009-04,2009-Q2,2009.0,4/1/09,4/1/09,NaN
29,/organization/10sec,10sec,https://10s.ec/,|Social Commerce|E-Commerce|Mobile Commerce|,E-Commerce,"1,600,000",NaN,NaN,NaN,NaN,NaN,1,7/8/13,2013-07,2013-Q3,2013.0,5/8/14,5/8/14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44920,/organization/zweitgeist,zweitgeist,http://www.weblin.com,|Messaging|Software|,Messaging,"651,000",operating,DEU,NaN,Hamburg,Hamburg,1,6/24/06,2006-06,2006-Q2,2006.0,2/1/07,2/1/07,NaN
44921,/organization/zwipe,Zwipe,http://zwipe.com,|Mobile|,Mobile,"3,500,000",operating,NOR,NaN,NaN,0152 Oslo,1,1/1/09,2009-01,2009-Q1,2009.0,12/10/13,12/10/13,NaN
44922,/organization/zwittle,Zwittle,http://zwittle.com,|Software|,Software,"190,000",operating,USA,UT,Salt Lake City,Logan,1,1/1/11,2011-01,2011-Q1,2011.0,4/19/12,4/19/12,NaN
44923,/organization/zwoor-com,zwoor.com,http://www.zwoor.com,|Meeting Software|Polling|Surveys|Android|iPho...,Android,"100,000",operating,NaN,NaN,NaN,NaN,1,1/1/10,2010-01,2010-Q1,2010.0,1/1/11,1/1/11,NaN
44924,/organization/zyante,Zyante,http://www.zyante.com,|News|,News,"870,000",operating,USA,CA,SF Bay Area,Los Gatos,2,1/1/12,2012-01,2012-Q1,2012.0,12/1/13,4/2/14,NaN
44925,/organization/zyb,ZYB,http://zyb.com,|Social Network Media|Networking|Mobile|,Mobile,"3,845,100",acquired,DNK,NaN,Copenhagen,Copenhagen,2,NaN,NaN,NaN,NaN,1/1/05,9/1/06,NaN
44926,/organization/zyga-technology,Zyga,http://www.zyga.com,|Medical Devices|Health Care|,Health Care,"45,750,000",operating,USA,MN,Minneapolis,Minnetonka,4,1/1/08,2008-01,2008-Q1,2008.0,10/6/08,12/16/13,NaN
44927,/organization/zygo,Zygo Communications,http://www.zygocommunications.com/who,|SMS|Mobile|,Mobile,-,closed,GBR,NaN,London,London,1,6/21/05,2005-06,2005-Q2,2005.0,11/19/07,11/19/07,NaN
44928,/organization/zygo-corporation,Zygo Corporation,http://www.zygo.com,|Manufacturing|,Manufacturing,"9,000,000",NaN,USA,CT,Connecticut,Middlefield,1,NaN,NaN,NaN,NaN,10/24/11,10/24/11,NaN
44929,/organization/zyken-nightcove,Zyken - NightCove,http://www.zyken.com,|Design|Health and Wellness|Hardware + Software|,Design,"3,384,225",acquired,FRA,NaN,Paris,Paris-l'hopital,4,1/1/05,2005-01,2005-Q1,2005.0,1/1/05,4/1/12,NaN
44930,/organization/zykis,Zykis,http://zykis.com,|Data Security|Automotive|Portals|Education|Ki...,Automotive,"800,000",closed,USA,CA,Anaheim,Irvine,1,10/27/06,2006-10,2006-Q4,2006.0,10/27/06,10/27/06,NaN
44931,/organization/zylie-the-bear,Zylie the Bear,http://zyliethebear.com,|E-Commerce|,E-Commerce,"75,000",operating,USA,CT,Hartford,Greenwich,1,1/1/09,2009-01,2009-Q1,2009.0,6/7/12,6/7/12,NaN
44932,/organization/zyme-solutions,Zyme Solutions,http://www.zymesolutions.com,|Hardware|Hardware + Software|,Hardware,"12,039,999",operating,USA,CA,California,Redwood Shores,5,1/1/04,2004-01,2004-Q1,2004.0,9/12/05,5/1/14,NaN
44933,/organization/zymetis,Zymetis,http://www.zymetis.com,|Biotechnology|,Biotechnology,"2,257,464",closed,USA,MD,Maryland,College Park,2,1/1/06,2006-01,2006-Q1,2006.0,1/11/10,1/31/10,NaN
44934,/organization/zymeworks,Zymeworks,http://zymeworks.com,|Biotechnology|,Biotechnology,"38,900,000",operating,CAN,AB,Vancouver,Vancouver,5,4/1/04,2004-04,2004-Q2,2004.0,3/3/08,1/9/14,NaN
44935,/organization/zympi,Zympi,http://www.zympi.com,|Networking|Web Hosting|Mobile|,Mobile,-,operating,NaN,NaN,NaN,NaN,1,9/3/10,2010-09,2010-Q3,2010.0,11/22/11,11/22/11,NaN
44936,/organization/zyncd,Zyncd,http://www.zyncd.com,|Knowledge Management|Crowdsourcing|,Crowdsourcing,-,operating,GBR,NaN,London,London,1,1/1/14,2014-01,2014-Q1,2014.0,2/1/14,2/1/14,NaN
44937,/organization/zyncro,Zyncro,http://www.zyncro.com,|Social Business|Enterprise 2.0|Cloud Computin...,Cloud Computing,"3,805,520",operating,ESP,NaN,Barcelona,Barcelona,2,9/1/09,2009-09,2009-Q3,2009.0,4/5/11,2/3/12,NaN
44938,/organization/zynga,Zynga,http://www.zynga.com,|Technology|Facebook Applications|Networking|G...,Facebook Applications,"866,550,786",operating,USA,CA,SF Bay Area,San Francisco,9,7/1/07,2007-07,2007-Q3,2007.0,1/1/07,2/18/11,NaN
44939,/organization/zyngenia,Zyngenia,http://www.zyngenia.com,|Biotechnology|,Biotechnology,"25,000,000",operating,USA,MD,Maryland,Gaithersburg,1,1/1/08,2008-01,2008-Q1,2008.0,9/9/10,9/9/10,NaN
44940,/organization/zynstra,Zynstra,http://www.zynstra.com,|Software|,Software,"14,750,000",operating,GBR,NaN,Bath,Bath,4,11/30/11,2011-11,2011-Q4,2011.0,3/3/12,7/9/14,NaN
44941,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,|Biotechnology|,Biotechnology,"34,275,015",operating,USA,MO,Missouri,Fremont,4,1/1/98,1998-01,1998-Q1,1998.0,1/29/10,3/26/14,NaN
44942,/organization/zyraz-technology,Zyraz Technology,http://www.zyraz.com,|Biotechnology|,Biotechnology,"15,398,910",closed,MYS,NaN,Kuala Lumpur,Damansara New Village,3,1/1/94,1994-01,1994-Q1,1994.0,1/1/08,10/9/09,NaN
44943,/organization/zyrra,Zyrra,http://www.zyrra.com,|E-Commerce|,E-Commerce,"1,510,500",operating,USA,MA,Boston,Cambridge,4,NaN,NaN,NaN,NaN,10/21/10,10/18/12,NaN
44944,/organization/zytoprotec,Zytoprotec,http://www.zytoprotec.com,|Biotechnology|,Biotechnology,"2,686,600",operating,AUT,NaN,Gerasdorf Bei Wien,Gerasdorf Bei Wien,1,1/1/07,2007-01,2007-Q1,2007.0,1/29/13,1/29/13,NaN
44945,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Analytics,"120,000",operating,GBR,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14,NaN
44946,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"1,587,301",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,NaN
44947,/organization/zzzzapp-com,Zzzzapp!,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Advertising,"71,525",operating,HRV,NaN,Split,Split,3,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,8/1/13,NaN
44948,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,"9,300,000",operating,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,NaN
44949,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"45,000,000",operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13,NaN

In [155]:
cdf.columns = df.columns.str.strip()

In [156]:
cdf.columns

Index([u'permalink', u'name', u'homepage_url', u'category_list', u'market',
       u'funding_total_usd', u'status', u'country_code', u'state_code',
       u'region', u'city', u'funding_rounds', u'founded_at', u'founded_month',
       u'founded_quarter', u'founded_year', u'first_funding_at',
       u'last_funding_at', u'Unnamed: 18'],
      dtype='object')

### Convert the funding, year founded, and funding_rounds columns to integers

In [157]:
cdf[['funding_total_usd', 'founded_year', 'funding_rounds']].dtypes

funding_total_usd     object
founded_year         float64
funding_rounds         int64
dtype: object

In [158]:
print type(cdf['funding_total_usd'][0])
print type(cdf['founded_year'][1])
print type(cdf['funding_rounds'][2])

print cdf['funding_total_usd'][9]
print cdf['funding_total_usd'][0]
print cdf['founded_year'][1]
print cdf['funding_rounds'][2]

<type 'str'>
<type 'numpy.float64'>
<type 'numpy.int64'>
 -
 750,000
2012.0
2

In [159]:
#convert 'funding_total_usd' to int
cdf['funding_total_usd'] = cdf['funding_total_usd'].str.replace(',',"")

In [160]:
cdf['funding_total_usd'].head()

0      750000
1     1750000
2     4000000
3       40000
4     1500000
Name: funding_total_usd, dtype: object

In [161]:
#Why doesn't this work???
#cdf['funding_total_usd'].replace(',',"", inplace=True)

#Note difference between:
# cdf['funding_total_usd'].replace(',',"", inplace=True) 
# cdf['funding_total_usd'] = cdf['funding_total_usd'].str.replace(',',"")

In [162]:
weird_thing = cdf['funding_total_usd'][9]
cdf['funding_total_usd'].replace(weird_thing, np.nan, inplace=True)
cdf['funding_total_usd'].head(10)

0      750000
1     1750000
2     4000000
3       40000
4     1500000
5      600000
6     7000000
7     4912393
8     2000000
9          NaN
Name: funding_total_usd, dtype: object

In [163]:
cdf['funding_total_usd'].dtype

dtype('O')

In [164]:
pd.to_numeric(cdf['funding_total_usd'])

0           750000.0
1          1750000.0
2          4000000.0
3            40000.0
4          1500000.0
5           600000.0
6          7000000.0
7          4912393.0
8          2000000.0
9                NaN
10         1700000.0
11           40000.0
12               NaN
13               NaN
14         1750000.0
15               NaN
16         2050000.0
17           40000.0
18          500000.0
19               NaN
20         2535000.0
21         4462651.0
22         1869079.0
23        10000000.0
24         3000000.0
25         3000000.0
26         1250000.0
27        35000000.0
28           50000.0
29         1600000.0
            ...
44920       651000.0
44921      3500000.0
44922       190000.0
44923       100000.0
44924       870000.0
44925      3845100.0
44926     45750000.0
44927            NaN
44928      9000000.0
44929      3384225.0
44930       800000.0
44931        75000.0
44932     12039999.0
44933      2257464.0
44934     38900000.0
44935            NaN
44936            NaN
44937      3805520.0
44938    866550786.0
44939     25000000.0
44940     14750000.0
44941     34275015.0
44942     15398910.0
44943      1510500.0
44944      2686600.0
44945       120000.0
44946      1587301.0
44947        71525.0
44948      9300000.0
44949     45000000.0
Name: funding_total_usd, dtype: float64

### Convert category_list so that each cell is a list of categories

In [165]:
cdf['category_list'] = cdf['category_list'].apply(lambda x: (str(x)).split('|')[1:-1])

In [166]:
cdf['category_list'].head()

0              [Credit, Technology, Services, Finance]
1        [Entertainment, Politics, Social Media, News]
2                                              [Games]
3                              [Publishing, Education]
4    [Electronics, Guides, Coffee, Restaurants, Mus...
Name: category_list, dtype: object

In [167]:
# use value_counts on market, status, and country_code to check for any repeats or misnamed entries
m = [pd.value_counts(cdf['market'])]
s = [pd.value_counts(cdf['status'])]
cc = [pd.value_counts(cdf['country_code'])]

print m
print s
print cc

[ Biotechnology                   3868
 Software                        3710
 Curated Web                     2147
 E-Commerce                      2082
 Advertising                     1925
 Mobile                          1628
 Enterprise Software             1324
 Clean Technology                1247
 Games                           1175
 Analytics                       1149
 Hardware + Software             1085
 Health Care                      908
 Education                        903
 Finance                          889
 Health and Wellness              858
 Manufacturing                    662
 None                             609
 Consulting                       512
 Semiconductors                   482
 Social Media                     473
 Hospitality                      463
 Apps                             458
 Security                         436
 Cloud Computing                  410
 Android                          395
 Web Hosting                      380
 Fashion                          312
 Real Estate                      296
 Automotive                       273
 News                             261
                                 ...
 Veterinary                         1
 Smart Grid                         1
 Mobile Social                      1
 Human Computer Interaction         1
 Spas                               1
 High Tech                          1
 Nightlife                          1
 Renewable Tech                     1
 Retail Technology                  1
 Outdoors                           1
 Postal and Courier Services        1
 Commercial Solar                   1
 Green Consumer Goods               1
 High Schools                       1
 Search Marketing                   1
 Synchronization                    1
 Knowledge Management               1
 Cloud-Based Music                  1
 Logistics Company                  1
 Flowers                            1
 Financial Exchanges                1
 Tea                                1
 Estimation and Quoting             1
 Personal Finance                   1
 Shoes                              1
 Indoor Positioning                 1
 Consumer Behavior                  1
 Mining Technologies                1
 Field Support Services             1
 Entertainment Industry             1
Name: market, dtype: int64]
[operating    36135
acquired      3194
closed        2879
Name: status, dtype: int64]
[USA    26540
GBR     2460
CAN     1198
CHN     1183
DEU      881
FRA      854
IND      762
ISR      638
ESP      480
JPN      416
RUS      368
SWE      308
CHL      307
AUS      301
IRL      301
ITA      291
SGP      271
BRA      261
NLD      247
CHE      215
DNK      192
KOR      188
FIN      163
BEL      147
ARG      137
TUR      103
AUT      102
HKG       89
NOR       80
MEX       78
       ...
BRN        1
MAF        1
UZB        1
BRB        1
VEN        1
ROM        1
SOM        1
MCO        1
KWT        1
OMN        1
MUS        1
ALB        1
JEY        1
ZMB        1
MDA        1
DZA        1
REU        1
GLP        1
GIN        1
GIB        1
LKA        1
FST        1
SYC        1
NRU        1
SWZ        1
SEN        1
ZWE        1
LIE        1
MMR        1
BWA        1
Name: country_code, dtype: int64]

In [168]:
# BONUS: convert the date columns to appropriate datetime objects
#founded_at, founded_month, founded_quarter, founded_year, first_funding_at, last_funding_at
cdf.dtypes

permalink             object
name                  object
homepage_url          object
category_list         object
market                object
funding_total_usd     object
status                object
country_code          object
state_code            object
region                object
city                  object
funding_rounds         int64
founded_at            object
founded_month         object
founded_quarter       object
founded_year         float64
first_funding_at      object
last_funding_at       object
Unnamed: 18          float64
dtype: object

In [169]:
print cdf['founded_at'][1]
print cdf['founded_month'][1]
print cdf['founded_quarter'][1]
print cdf['first_funding_at'][1]
print cdf['last_funding_at'][1]

6/1/12
2012-06
2012-Q2
6/30/12
6/30/12

In [170]:
cdf['founded_at'].head()

0         NaN
1      6/1/12
2         NaN
3    10/26/12
4      4/1/11
Name: founded_at, dtype: object

In [171]:
cdf['founded_at'] = pd.to_datetime(cdf['founded_at'], errors='coerce')
cdf['first_funding_at'] = pd.to_datetime(cdf['first_funding_at'], errors='coerce')
cdf['last_funding_at'] = pd.to_datetime(cdf['last_funding_at'], errors='coerce')

In [172]:
print cdf['founded_at'].head() 
print cdf['first_funding_at'].head()
print cdf['last_funding_at'].head()

0          NaT
1   2012-06-01
2          NaT
3   2012-10-26
4   2011-04-01
Name: founded_at, dtype: datetime64[ns]
0   2010-01-01
1   2012-06-30
2   2010-06-04
3   2012-08-09
4   2011-04-01
Name: first_funding_at, dtype: datetime64[ns]
0   2010-01-01
1   2012-06-30
2   2010-09-23
3   2012-08-09
4   2011-04-01
Name: last_funding_at, dtype: datetime64[ns]

In [173]:
cdf['founded_month'] = cdf['founded_month'].apply(lambda x: pd.Period(x, freq='M'))
cdf['founded_quarter'] = cdf['founded_month'].apply(lambda x: pd.Period(x, freq='Q'))

In [174]:
print cdf['founded_month'].head()
print cdf['founded_quarter'].head()

0       NaT
1   2012-06
2       NaT
3   2012-10
4   2011-04
Name: founded_month, dtype: object
0      NaT
1   2012Q2
2      NaT
3   2012Q4
4   2011Q2
Name: founded_quarter, dtype: object

In [ ]:
df.head()

##########
def convert_time(x):
    try:
        return pd.to_datetime(x)
    except:
        return np.nan

cdf['founded_month'] = convert_time(cdf['founded_month'])
cdf['founded_quarter'] = convert_time(cdf['founded_quarter'])

cdf['founded_month'] = cdf['founded_month'].apply(convert_time)
cdf['founded_quarter'] = cdf['founded_quarter'].apply(convert_time)

print cdf['founded_month'].head()
print cdf['founded_quarter'].head()
############

#### 2. Using isnull(), take a subset of the dataframe that has no founded at date

In [179]:
pd.isnull(cdf['founded_at'])

0         True
1        False
2         True
3        False
4        False
5        False
6        False
7         True
8        False
9        False
10       False
11       False
12        True
13       False
14       False
15       False
16       False
17       False
18       False
19        True
20       False
21       False
22       False
23       False
24        True
25        True
26       False
27       False
28       False
29       False
         ...
44920    False
44921    False
44922    False
44923    False
44924    False
44925     True
44926    False
44927    False
44928     True
44929    False
44930    False
44931    False
44932    False
44933    False
44934    False
44935    False
44936    False
44937    False
44938    False
44939    False
44940    False
44941    False
44942    False
44943     True
44944    False
44945    False
44946     True
44947    False
44948     True
44949    False
Name: founded_at, dtype: bool

In [178]:
cdf[pd.isnull(cdf['founded_at'])]

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,"[Credit, Technology, Services, Finance]",Credit,750000,NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaT,NaT,NaT,NaN,2010-01-01,2010-01-01,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,[Games],Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaT,NaT,NaT,NaN,2010-06-04,2010-09-23,NaN
7,/organization/fox-networks,.Fox Networks,http://www.dotfox.com,[Advertising],Advertising,4912393,closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaT,NaT,NaT,NaN,2007-01-16,2007-01-16,NaN
12,/organization/1-4-all,1-4 All,NaN,"[Entertainment, Games, Software]",Entertainment,NaN,operating,USA,NC,North Carolina,Connellys Springs,1,NaT,NaT,NaT,NaN,2013-04-21,2013-04-21,NaN
19,/organization/1000jobboersen-de,1000jobboersen.de,http://www.1000jobboersen.de,[Curated Web],Curated Web,NaN,operating,DEU,NaN,Berlin,Berlin,1,NaT,NaT,NaT,NaN,2011-09-16,2011-09-16,NaN
24,/organization/100du-tv,100du.tv,http://www.100du.com,[Hospitality],Hospitality,3000000,operating,NaN,NaN,NaN,NaN,2,NaT,NaT,NaT,NaN,2008-01-07,2010-08-13,NaN
25,/organization/100e-com,100e.com,http://www.100e.com,[Education],Education,3000000,operating,CHN,NaN,Beijing,Beijing,1,NaT,NaT,NaT,NaN,2006-01-01,2006-01-01,NaN
31,/organization/10six,10Six,http://10sixenergy.com,[],NaN,NaN,operating,USA,NY,New York City,New York,1,NaT,NaT,NaT,NaN,2013-02-01,2013-02-01,NaN
32,/organization/10tracks,10tracks,http://10tracks.com,[],NaN,40000,NaN,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2013-03-01,2013-03-01,NaN
35,/organization/115-network-disks,115 network disks,http://www.115.com/,[Education],Education,NaN,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2011-11-01,2011-11-01,NaN
37,/organization/11i-solutions,11i Solutions,http://www.11isolutions.com,[Enterprise Software],Enterprise Software,1800000,closed,USA,AL,Huntsville,Huntsville,1,NaT,NaT,NaT,NaN,2011-03-22,2011-03-22,NaN
48,/organization/139shop,139shop,http://www.139shop.com,[E-Commerce],E-Commerce,NaN,operating,CHN,NaN,Asia,NaN,1,NaT,NaT,NaT,NaN,2007-02-01,2007-02-01,NaN
52,/organization/phoneuser-network,159.com,http://www.159.com,[Software],Software,6204822,operating,CHN,NaN,Asia,NaN,2,NaT,NaT,NaT,NaN,2008-02-01,2011-03-01,NaN
59,/organization/1871,1871,http://www.1871.com,[],NaN,2500000,operating,USA,IL,Chicago,Chicago,1,NaT,NaT,NaT,NaN,2014-06-17,2014-06-17,NaN
67,/organization/1d4-pty,1d4 Pty,http://www.immortaloutdoors.com,[],NaN,40000,operating,AUS,Aust-Agder,Norway,NaN,1,NaT,NaT,NaT,NaN,2012-04-11,2012-04-11,NaN
73,/organization/1jiajie,1jiajie,http://www.1jiajie.com,[E-Commerce],E-Commerce,163132,operating,CHN,NaN,Beijing,Beijing,1,NaT,NaT,NaT,NaN,2013-09-01,2013-09-01,NaN
78,/organization/1rebel,1Rebel,http://1rebelco.uk,[Fitness],Fitness,1971794,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2014-07-08,2014-07-08,NaN
98,/organization/21grams,21GRAMS,http://www.21grams.se,[Software],Software,2580000,operating,SWE,NaN,Stockholm,Stockholm,1,NaT,NaT,NaT,NaN,2006-04-03,2006-04-03,NaN
106,/organization/24-media-network,24 Media Network,http://nyheter24.se,[News],News,1209701,operating,SWE,NaN,Stockholm,Stockholm,2,NaT,NaT,NaT,NaN,2008-09-01,2009-01-01,NaN
107,/organization/24-quan,24 Quan,NaN,[Real Estate],Real Estate,NaN,operating,NaN,NaN,NaN,NaN,2,NaT,NaT,NaT,NaN,2010-05-01,2011-11-01,NaN
108,/organization/24-7-card,24/7 Card,http://www.247card.com,[Finance],Finance,3452941,closed,USA,CA,Los Angeles,Los Angeles,3,NaT,NaT,NaT,NaN,2010-10-25,2011-12-21,NaN
109,/organization/247-techies,247 Techies,http://www.247techies.com,[Hardware + Software],Hardware + Software,600000,operating,USA,NY,New York City,New York,1,NaT,NaT,NaT,NaN,2012-11-05,2012-11-05,NaN
115,/organization/24tidy,24tidy,http://24tidy.com,[Services],Services,1856561,operating,CHN,NaN,Asia,NaN,2,NaT,NaT,NaT,NaN,2013-12-27,2014-07-14,NaN
118,/organization/25eight,25eight,http://25eightsoftware.com,"[DIY, Electronics, Software]",DIY,25000,closed,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2010-01-26,2010-01-26,NaN
122,/organization/280-north,280 North,http://280north.com,"[Presentations, Software]",Presentations,250000,acquired,NaN,NaN,NaN,NaN,2,NaT,NaT,NaT,NaN,2008-01-01,2008-03-01,NaN
124,/organization/29west,29West,http://www.informatica.com/us/products/messagi...,[],NaN,NaN,acquired,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2007-03-15,2007-03-15,NaN
129,/organization/2checkout-com,2Checkout,http://www.2checkout.com,[E-Commerce],E-Commerce,60000000,operating,USA,OH,"Columbus, Ohio",Columbus,1,NaT,NaT,NaT,NaN,2014-07-16,2014-07-16,NaN
132,/organization/2d2c,2d2c,http://www.2d2c.com,[Hardware + Software],Hardware + Software,2941000,operating,USA,IL,Chicago,Lincolnshire,3,NaT,NaT,NaT,NaN,2009-04-07,2011-01-18,NaN
135,/organization/2duche,2Duche,http://www.2duche.com,[E-Commerce],E-Commerce,NaN,operating,CHN,NaN,Shanghai,Shanghai,2,NaT,NaT,NaT,NaN,2006-06-01,2010-08-01,NaN
142,/organization/2sms,2sms,http://2sms.com,[Messaging],Messaging,939000,operating,USA,IL,Chicago,Schaumburg,1,NaT,NaT,NaT,NaN,2007-11-01,2007-11-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44765,/organization/zixi,Zixi,http://www.zixi.com,[Enterprise Software],Enterprise Software,4000000,operating,USA,MA,Bangor,Waltham,1,NaT,NaT,NaT,NaN,2011-04-11,2011-04-11,NaN
44766,/organization/zjdg-cn,Zjdg.cn,http://www.zjdg.cn,[E-Commerce],E-Commerce,NaN,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2013-12-01,2013-12-01,NaN
44768,/organization/zkipster,zkipster,http://zkipster.com,[None],None,NaN,operating,USA,NY,New York City,New York,1,NaT,NaT,NaT,NaN,2014-02-12,2014-02-12,NaN
44775,/organization/zmqnw-com-cn,Zmqnw.com.cn,http://www.zmqnw.com.cn,[Mobile],Mobile,164744,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2014-01-01,2014-01-01,NaN
44778,/organization/znode,Znode,http://www.znode.com,"[Web Development, Software, Online Shopping, E...",E-Commerce,1700000,acquired,USA,OH,"Columbus, Ohio",Columbus,1,NaT,NaT,NaT,NaN,2008-10-02,2008-10-02,NaN
44789,/organization/zoidu,zoidu,http://www.zoidu.com,[Curated Web],Curated Web,48600,acquired,CAN,NaN,Ottawa,Ottawa,1,NaT,NaT,NaT,NaN,2010-10-20,2010-10-20,NaN
44795,/organization/zolkc,ZolkC,http://www.zolkc.com,[Mobile],Mobile,638550,operating,IRL,NaN,NaN,Co. Waterford,1,NaT,NaT,NaT,NaN,2012-01-13,2012-01-13,NaN
44804,/organization/zonbo-media,Zonbo Media,http://www.zonbo.com.cn,[News],News,NaN,operating,CHN,NaN,Asia,NaN,3,NaT,NaT,NaT,NaN,2003-01-01,2007-03-01,NaN
44805,/organization/zonder,Zonder,http://www.zonder.com,[E-Commerce],E-Commerce,1200000,operating,USA,UT,Salt Lake City,Lehi,1,NaT,NaT,NaT,NaN,2007-01-01,2007-01-01,NaN
44810,/organization/zonit-structured-solutions,Zonit Structured Solutions,http://www.zonit.com,[Web Hosting],Web Hosting,500000,operating,USA,CO,Denver,Boulder,1,NaT,NaT,NaT,NaN,2011-03-17,2011-03-17,NaN
44821,/organization/zoom-technologies,ZOOM Technologies,http://zoom.com,[Mobile],Mobile,7926240,operating,USA,NY,New York City,New York,1,NaT,NaT,NaT,NaN,2010-12-22,2010-12-22,NaN
44822,/organization/zoom-telephonics,Zoom Telephonics,http://www.zoomtel.com,[Web Hosting],Web Hosting,1000000,operating,USA,MA,Boston,Boston,1,NaT,NaT,NaT,NaN,2012-04-12,2012-04-12,NaN
44833,/organization/zoomorama,Zoomorama,http://www.zoomorama.com,[Curated Web],Curated Web,2150110,closed,FRA,NaN,Paris,Paris-l'hopital,2,NaT,NaT,NaT,NaN,2007-04-01,2008-06-01,NaN
44838,/organization/zoomtilt,ZoomTilt,http://www.zoomtilt.com,"[Advertising, Entertainment, Digital Media, In...",Advertising,88000,operating,USA,MA,Boston,Cambridge,1,NaT,NaT,NaT,NaN,2013-02-28,2013-02-28,NaN
44840,/organization/zoona,Zoona,http://www.mtzl.net,[Mobile],Mobile,4000000,operating,ZMB,NaN,NaN,Lusaka,1,NaT,NaT,NaT,NaN,2012-03-02,2012-03-02,NaN
44859,/organization/zounds-hearing-aids,Zounds Hearing Aids,http://zoundsmiddletown.com/,[Health Care],Health Care,10000000,operating,USA,AZ,Phoenix,Tempe,1,NaT,NaT,NaT,NaN,2014-05-22,2014-05-22,NaN
44861,/organization/zouxiu,Zouxiu,http://www.xiu.com/,[E-Commerce],E-Commerce,120000000,operating,NaN,NaN,NaN,NaN,2,NaT,NaT,NaT,NaN,2011-03-01,2011-08-01,NaN
44863,/organization/zoweetv,ZoweeTV,http://www.zoweetv.com,[Games],Games,900000,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2012-01-01,2012-01-01,NaN
44864,/organization/zowpow,ZowPow,http://zowpow.com,[Games],Games,NaN,operating,USA,CA,SF Bay Area,San Francisco,1,NaT,NaT,NaT,NaN,2014-01-01,2014-01-01,NaN
44875,/organization/zte9-corporation,ZTE9 Corporation,http://zte9.com/,[Mobile],Mobile,2059308,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2014-02-01,2014-02-01,NaN
44904,/organization/zura,Zura!,http://www.zura.com.br,[E-Commerce],E-Commerce,NaN,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2008-01-01,2008-01-01,NaN
44908,/organization/zurrba-group,Zurrba,http://www.zurrba.com,[Software],Software,NaN,operating,USA,CA,SF Bay Area,Palo Alto,1,NaT,NaT,NaT,NaN,2014-01-15,2014-01-15,NaN
44909,/organization/zuse,Zuse,NaN,[Software],Software,NaN,operating,USA,NY,New York City,New York,1,NaT,NaT,NaT,NaN,2013-05-01,2013-05-01,NaN
44910,/organization/zuta-labs,ZUtA Labs,http://www.zutalabs.com/,[Printing],Printing,500000,operating,USA,IL,Chicago,Lincolnwood,1,NaT,NaT,NaT,NaN,2014-04-10,2014-04-10,NaN
44911,/organization/zutux,Zutux,http://www.zutux.com,[E-Commerce],E-Commerce,1503926,operating,GBR,NaN,Manchester,Manchester,1,NaT,NaT,NaT,NaN,2012-04-16,2012-04-16,NaN
44925,/organization/zyb,ZYB,http://zyb.com,"[Social Network Media, Networking, Mobile]",Mobile,3845100,acquired,DNK,NaN,Copenhagen,Copenhagen,2,NaT,NaT,NaT,NaN,2005-01-01,2006-09-01,NaN
44928,/organization/zygo-corporation,Zygo Corporation,http://www.zygo.com,[Manufacturing],Manufacturing,9000000,NaN,USA,CT,Connecticut,Middlefield,1,NaT,NaT,NaT,NaN,2011-10-24,2011-10-24,NaN
44943,/organization/zyrra,Zyrra,http://www.zyrra.com,[E-Commerce],E-Commerce,1510500,operating,USA,MA,Boston,Cambridge,4,NaT,NaT,NaT,NaN,2010-10-21,2012-10-18,NaN
44946,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,[Enterprise Software],Enterprise Software,1587301,operating,CHN,NaN,Beijing,Beijing,1,NaT,NaT,NaT,NaN,2012-04-01,2012-04-01,NaN
44948,/organization/a-list-games,[a]list games,http://www.alistgames.com,[Games],Games,9300000,operating,NaN,NaN,NaN,NaN,1,NaT,NaT,NaT,NaN,2011-11-21,2011-11-21,NaN

#### 3. Create a new column, founded_year_x, that's a copy of founded_year. Then, replace all the missing values with either the mean , mode, or median of that column. 
Add a note explaining which statistic you picked and why:

In [ ]:
cdf['founded_year_x']

#### 4. Take a subset of US-based companies using boolean selection

#### 5. Create a pivot table showing total, mean, and median funding amount by year

#### 6. Create a pivot table showing total, mean and median funding amount by market

#### 7. CHALLENGE: Using matplotlib, create a scatter plot showing funding amount on the y-axis, and first_funding_date on the x-axis
(first_funding_date will need to be a timestamp)

#### 8. Here's the fun part. Create a hypothesis based on your data that you can reasonably test. 
For example: "Credit companies based in the US that only get 1 round of funding tend to receive more funding than companies based outside the US"



When you have your hypothesis, write it below, and Slack it to the instructors so we can check in.

#### 9. Test your hypothesis. 

You'll need to evaluate your hypothesis using a t-test (see Monday's lecture 1.3), so make sure you have enough data compare samples. If your original hypothesis is too narrow, you may need to broaden the scope.

#### 10. CHALLENGE
- Plot the distribution of both samples
- Explain your results in one short sentence. 
- Explain your result in a slighly longer technical paragraph, touching on the statistics you presented. 
- Subset your findings: if you looked at a certain market in a certain geography, break it down by another variable (e.g number of funding rounds) and compare those samples.