### Solving List Comprehension Practice Problems Again

In [1]:
import pandas as pd
import numpy as np
import string

##### 1. convert each string from lowercase to uppercase

[Hint: python strings can be turned to uppercase by appending: .upper(), e.g 'hello'.upper()]

In [2]:
strings = ['black','Yellow','ReD','GreeN','BLUe']
strings_upper = [i.upper() for i in strings]
strings_upper

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

##### 2. take the numbers in the list and keep only the even numbers

[Hint: the modulo operator **%** can be used to calculate the remainder, e.g. 5 % 2 == 1]

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers = [i for i in numbers if i%2 == 0]
numbers

[2, 4, 6, 8, 10]

##### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

In [4]:
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
alphabet = list(string.ascii_lowercase)
vowels = ['a','e','i','o','u']

In [5]:
characters = ['v' if i in vowels else 'c' if (i in alphabet and i not in vowels) else '?' for i in characters]

In [6]:
characters

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

In [7]:
alphabet_2 = 'aeiou'
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
characters = ['v' if i in list(alphabet_2) else 'c' if (i in alphabet) else '?' for i in characters]
characters

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

##### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In [8]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

In [46]:
number_sets_mean = [sum(i)/len(i) in l if i in range(101) for l in number_sets ]
number_sets_mean

TypeError: 'int' object is not iterable

In [34]:
rando = [1,2,3,-10,-40,101,100]
np.mean(rando)

22.428571428571427

In [39]:
float(sum(rando))/len(rando)

22.428571428571427

In [40]:
number_sets_mean = []
for l in number_sets:
        if l >= 0 and l <= 100:
            number_sets_mean = sum(1)/len(l)
        else:
            pass

In [41]:
number_sets_mean

[]

In [43]:
number_sets_mean = []
for l in number_sets:
    for i in l:
        if i >= 0 and i <= 100:
            number_sets_mean = sum(i)/len(i)
        else:
            pass

TypeError: 'int' object is not iterable

In [83]:
means = [np.mean([l for l in x if l in range(101)]) for x in number_sets]
means

[40.25, 37.0, 55.333333333333336]

##### 5. for each string in each list, if the index of the strings is even, join them like: 'item1 item2'. Otherwise join them like: 'item2 item1'.

In [14]:
strings_1 = ['alpha','bravo','charlie','delta']
strings_2 = ['echo','foxtrot','golf','hotel']

In [24]:
strings_3 = [x +' '+ y if i%2 == 0 else y +' '+ x for i, (x, y) in enumerate(zip(strings_1, strings_2))]

In [25]:
strings_3

['alpha echo', 'foxtrot bravo', 'charlie golf', 'hotel delta']

In [16]:
strings_4 = zip(strings_1, strings_2)
print strings_4

[('alpha', 'echo'), ('bravo', 'foxtrot'), ('charlie', 'golf'), ('delta', 'hotel')]

In [17]:
enumerate(strings_4)

In [30]:
q = list(enumerate(zip(strings_1, strings_2)))

In [31]:
q

[(0, ('alpha', 'echo')),
 (1, ('bravo', 'foxtrot')),
 (2, ('charlie', 'golf')),
 (3, ('delta', 'hotel'))]

##### 6. create a pandas dataframe from the columns and associated values where each column is the first five multiples of the values:

In [47]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]