In [1]:
# import pandas, matplotlib

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read in the csv from https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv

df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv')

In [3]:
# view the head

df.head(2)

,RespondentID,How often do you travel by plane?,Do you ever recline your seat when you fly?,How tall are you?,Do you have any children under 18?,"In a row of three seats, who should get to use the two arm rests?","In a row of two seats, who should get to use the middle arm rest?",Who should have control over the window shade?,Is itrude to move to an unsold seat on a plane?,"Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?",...,Is itrude to wake a passenger up if you are trying to walk around?,"In general, is itrude to bring a baby on a plane?","In general, is it rude to knowingly bring unruly children on a plane?",Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?,Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific

In [4]:
# view the columns - use iteration to print them out
for c in df.columns:
    print c

RespondentID
How often do you travel by plane?
Do you ever recline your seat when you fly?
How tall are you?
Do you have any children under 18?
In a row of three seats, who should get to use the two arm rests?
In a row of two seats, who should get to use the middle arm rest?
Who should have control over the window shade?
Is itrude to move to an unsold seat on a plane?
Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?
On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?
Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?
Is itrude to recline your seat on a plane?
Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?
Is it rude to ask someone to switch seats with you in order to be closer to friends?
Is itrude to ask someone to switch seats with you in order to be closer to family?
Is it rude to wake a passenger up if you are trying to go to the bathroom?
Is itrude to wake a passenger up if you are trying to walk around?
In general, is itrude to bring a baby on a plane?
In general, is it rude to knowingly bring unruly children on a plane?
Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?
Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?
Gender
Age
Household Income
Education
Location (Census Region)

In [5]:
column_list = [df.columns.tolist()]

In [6]:
column_list[0][0:3]

['RespondentID',
 'How often do you travel by plane?',
 'Do you ever recline your seat when you fly?']

In [7]:
column_dict = {column_list[0].index(x):x for x in column_list[0]}

In [8]:
column_dict

{0: 'RespondentID',
 1: 'How often do you travel by plane?',
 2: 'Do you ever recline your seat when you fly?',
 3: 'How tall are you?',
 4: 'Do you have any children under 18?',
 5: 'In a row of three seats, who should get to use the two arm rests?',
 6: 'In a row of two seats, who should get to use the middle arm rest?',
 7: 'Who should have control over the window shade?',
 8: 'Is itrude to move to an unsold seat on a plane?',
 9: 'Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?',
 10: "On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?",
 11: 'Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?',
 12: 'Is itrude to recline your seat on a plane?',
 13: 'Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?',
 14: 'Is it rude to ask someone to switch seats with you in order to be closer to friends?',
 15: 'Is itrude to ask someone to switch seats with you in order to be closer to family?',
 16: 'Is it rude to wake a passenger up if you are trying to go to the bathroom?',
 17: 'Is itrude to wake a passenger up if you are trying to walk around?',
 18: 'In general, is itrude to bring a baby on a plane?',
 19: 'In general, is it rude to knowingly bring unruly children on a plane?',
 20: "Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?",
 21: 'Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?',
 22: 'Gender',
 23: 'Age',
 24: 'Household Income',
 25: 'Education',
 26: 'Location (Census Region)'}

In [9]:
# rename columns with shorter name

df.columns = ['id', 'travel_freq', 'do_you_recline', 'height', 'have_children','three_seats_arm_rest', 'two_seats_arm_rest', \
             'window_shade', 'unsold_seat', 'rude_to_chat', 'getting_up', 'recline_obligation', 'recline_rude', 'elim_recline',\
             'rude_to_switch_friends', 'rude_to_switch_family','rude_to_wake_bathrm', 'rude_to_wake_walk', 'rude_baby', 'rude_unrly_children', \
             'electronics', 'smoked', 'gender', 'age', 'income', 'edu', 'location']

In [10]:
# view head again - now just 3 rows

df.head(n=3)

,id,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [11]:
# view the last 3 rows
df.tail(n=3)

,id,travel_freq,do_you_recline,height,have_children,three_seats_arm_rest,two_seats_arm_rest,window_shade,unsold_seat,rude_to_chat,...,rude_to_wake_walk,rude_baby,rude_unrly_children,electronics,smoked,gender,age,income,edu,location
1037,3431731485,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,East North Central
1038,3431731196,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
1039,3431729581,Once a year or less,Once in a while,"6'3""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific

In [12]:
# check the data type of the DataFrame
type(df)

pandas.core.frame.DataFrame

In [13]:
# How many unique travel frequencies are there? What are they?
print df['travel_freq'].nunique()
print df['travel_freq'].unique()

6
['Once a year or less' 'Once a month or less' 'Never'
 'A few times per week' 'Every day' 'A few times per month']

In [14]:
# How many unique regions are there? What are they?

print df['location'].nunique()
print df['location'].unique()

9
[nan 'Pacific' 'East North Central' 'New England' 'Mountain'
 'South Atlantic' 'East South Central' 'Middle Atlantic'
 'West North Central' 'West South Central']

In [15]:
# Select just those columns that relate to the personal characteristics of the person
# Save that as a DataFrame name char
char = df[['id', 'height', 'gender', 'have_children', 'age', 'income', 'edu', 'location']]

In [16]:
type(char)

pandas.core.frame.DataFrame

In [17]:
char[0:3]

,id,height,gender,have_children,age,income,edu,location
0,3436139758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,"6'3""",Male,Yes,30-44,NaN,Graduate degree,Pacific
2,3434275578,"5'8""",Male,No,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [ ]:
# From the new char DataFrame, select the height. Can you create a histogram?

char['height'][0:3]

In [ ]:
df['height'].hist()
###cannot make histogram this way; go to next question

In [ ]:
# Create a histogram by creating a list comprehension + a function to turn the data into inches
###Must solve
inches_list = [char['height'].tolist()]

In [ ]:
inches_list[0][1][2]

In [ ]:
for i in inches_list:
    for a in i:
        if a != int:
            del a
        elif a == int:
            a

In [ ]:
inches_list[0][1][1]

In [ ]:
inches_list

In [ ]:
inches_list[0][0:4]

In [ ]:
# Slice the first 3 columns using .iloc notation, then use the double bracket notation

df.iloc[0:,0:3]
###of df.iloc[:,:3]

In [ ]:
df[['id', 'travel_freq', 'do_you_recline']][:3]

In [ ]:
## Create a dictionary using .unique and a dictionary comprehension
## Then use a list comprehension with a function to update the count the number of degrees
## How many degreee of each type are there?

col_dict = {k:0 for k in df['edu'].unique()}

In [ ]:
df.value_counts()

In [ ]:
# Now use the education column with the .value_counts() method to check your work. Are they the same?