# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [11]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
%matplotlib inline

In [12]:
sat_csv_path = '/users/kristensu/dropbox/ga-dsi/projects/projects-weekly/project-01/assets/sat_scores.csv' 

rows = []
with open(sat_csv_path, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)

##### 5. Print the data

In [13]:
print rows

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [14]:
header = rows[0]

In [15]:
sat_data = rows
sat_data.remove(sat_data[0])
print sat_data

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [52]:
###restart here
state_names = [i[0] for i in sat_data]

In [53]:
state_names

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'All']

In [41]:
state_names= []
for i in sat_data:
    state_names.append(i[0])

In [43]:
len(state_names)

52

In [36]:
sat_data

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

In [162]:
column_names_list = list(enumerate(header))
column_names_list

[(0, 'State'), (1, 'Rate'), (2, 'Verbal'), (3, 'Math')]

In [163]:
sat_dict = {} 
for index, column_name in column_names_list:
    sat_dict[column_name] = []
    for row in sat_data:
        sat_dict[column_name].append(row[index])

In [ ]:
sat_dict = {} 
for index, column_name is enumerate(header):
    sat_dict[column_name] = []
    for row in sat_data:
        sat_dict[column_name].append(row[index])

In [166]:
state_names = [sat_dict['State']]
state_names

[['CT',
  'NJ',
  'MA',
  'NY',
  'NH',
  'RI',
  'PA',
  'VT',
  'ME',
  'VA',
  'DE',
  'MD',
  'NC',
  'GA',
  'IN',
  'SC',
  'DC',
  'OR',
  'FL',
  'WA',
  'TX',
  'HI',
  'AK',
  'CA',
  'AZ',
  'NV',
  'CO',
  'OH',
  'MT',
  'WV',
  'ID',
  'TN',
  'NM',
  'IL',
  'KY',
  'WY',
  'MI',
  'MN',
  'KS',
  'AL',
  'NE',
  'OK',
  'MO',
  'LA',
  'WI',
  'AR',
  'UT',
  'IA',
  'SD',
  'ND',
  'MS',
  'All']]

In [137]:
print sat_dict

{'Math': ['510', '513', '515', '505', '516', '499', '499', '506', '500', '501', '499', '510', '499', '489', '501', '488', '474', '526', '499', '527', '499', '515', '510', '517', '525', '515', '542', '439', '539', '512', '542', '553', '542', '589', '550', '545', '572', '589', '580', '554', '568', '561', '577', '562', '596', '550', '570', '603', '582', '599', '551', '514'], 'State': ['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All'], 'Rate': ['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67', '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52', '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13', '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6', '6', '5', '5', '4', '4', '4', '45'], 'Verbal': ['509', '499', '511', '495', '520', '501', '500', '511', '506', '510', '501', '508', '493', '491', '499', '486', '482', '526', '498', '527', '493', '485', '514', '498', '523', '509', '539', '534', '539', '527', '543', '562', '551', '576', '550', '547', '561', '580', '577', '559', '562', '567', '577', '564', '584', '562', '575', '593', '577', '592', '566', '506']}

##### 8. Print the types of each column

In [138]:
for i in sat_data[0]:
    print i, type(i)

CT <type 'str'>
82 <type 'str'>
509 <type 'str'>
510 <type 'str'>

In [139]:
type(sat_dict['State'])

list

In [140]:
for a in sat_dict:
    print a, type(a)

Math <type 'str'>
State <type 'str'>
Rate <type 'str'>
Verbal <type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [141]:
###rows = all data
###header = column names
###sat_data = data without column names i.e. without rows[0]
###sat_dict = dictionary of {header:sat_data}

In [142]:
state_names = sat_dict['State']
for header, values in sat_dict.items():
    for v in values:
        if v in state_names:
            pass
        else:
            values = [float(v) for v in values]
            sat_dict[header] = values

In [143]:
###another way to generate new list of floats out of sat_list
values_2 = [[a[0],float(a[1]),float(a[2]),float(a[3])] for a in sat_data]

In [144]:
print values_2[0:3]

[['CT', 82.0, 509.0, 510.0], ['NJ', 81.0, 499.0, 513.0], ['MA', 79.0, 511.0, 515.0]]

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [145]:
state_dict = {}
for a in values_2:
    state_dict.update({a[0]:[a[1],a[2],a[3]]})

In [174]:
state_dict_2 = {}
state_dict_2.update({a: [b, c, d] for [a,b,c,d] in values_2})

In [175]:
state_dict_2

{'AK': [51.0, 514.0, 510.0],
 'AL': [9.0, 559.0, 554.0],
 'AR': [6.0, 562.0, 550.0],
 'AZ': [34.0, 523.0, 525.0],
 'All': [45.0, 506.0, 514.0],
 'CA': [51.0, 498.0, 517.0],
 'CO': [31.0, 539.0, 542.0],
 'CT': [82.0, 509.0, 510.0],
 'DC': [56.0, 482.0, 474.0],
 'DE': [67.0, 501.0, 499.0],
 'FL': [54.0, 498.0, 499.0],
 'GA': [63.0, 491.0, 489.0],
 'HI': [52.0, 485.0, 515.0],
 'IA': [5.0, 593.0, 603.0],
 'ID': [17.0, 543.0, 542.0],
 'IL': [12.0, 576.0, 589.0],
 'IN': [60.0, 499.0, 501.0],
 'KS': [9.0, 577.0, 580.0],
 'KY': [12.0, 550.0, 550.0],
 'LA': [7.0, 564.0, 562.0],
 'MA': [79.0, 511.0, 515.0],
 'MD': [65.0, 508.0, 510.0],
 'ME': [69.0, 506.0, 500.0],
 'MI': [11.0, 561.0, 572.0],
 'MN': [9.0, 580.0, 589.0],
 'MO': [8.0, 577.0, 577.0],
 'MS': [4.0, 566.0, 551.0],
 'MT': [23.0, 539.0, 539.0],
 'NC': [65.0, 493.0, 499.0],
 'ND': [4.0, 592.0, 599.0],
 'NE': [8.0, 562.0, 568.0],
 'NH': [72.0, 520.0, 516.0],
 'NJ': [81.0, 499.0, 513.0],
 'NM': [13.0, 551.0, 542.0],
 'NV': [33.0, 509.0, 515.0],
 'NY': [77.0, 495.0, 505.0],
 'OH': [26.0, 534.0, 439.0],
 'OK': [8.0, 567.0, 561.0],
 'OR': [55.0, 526.0, 526.0],
 'PA': [71.0, 500.0, 499.0],
 'RI': [71.0, 501.0, 499.0],
 'SC': [57.0, 486.0, 488.0],
 'SD': [4.0, 577.0, 582.0],
 'TN': [13.0, 562.0, 553.0],
 'TX': [53.0, 493.0, 499.0],
 'UT': [5.0, 575.0, 570.0],
 'VA': [68.0, 510.0, 501.0],
 'VT': [69.0, 511.0, 506.0],
 'WA': [53.0, 527.0, 527.0],
 'WI': [6.0, 584.0, 596.0],
 'WV': [18.0, 527.0, 512.0],
 'WY': [11.0, 547.0, 545.0]}

##### 11. Create a dictionary with the values for each of the numeric columns

In [176]:
print sat_dict

{'Math': ['510', '513', '515', '505', '516', '499', '499', '506', '500', '501', '499', '510', '499', '489', '501', '488', '474', '526', '499', '527', '499', '515', '510', '517', '525', '515', '542', '439', '539', '512', '542', '553', '542', '589', '550', '545', '572', '589', '580', '554', '568', '561', '577', '562', '596', '550', '570', '603', '582', '599', '551', '514'], 'State': ['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS', 'All'], 'Rate': ['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67', '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52', '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13', '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6', '6', '5', '5', '4', '4', '4', '45'], 'Verbal': ['509', '499', '511', '495', '520', '501', '500', '511', '506', '510', '501', '508', '493', '491', '499', '486', '482', '526', '498', '527', '493', '485', '514', '498', '523', '509', '539', '534', '539', '527', '543', '562', '551', '576', '550', '547', '561', '580', '577', '559', '562', '567', '577', '564', '584', '562', '575', '593', '577', '592', '566', '506']}

In [177]:
new_sat_dict = {}
new_sat_dict = sat_dict

In [178]:
new_sat_dict.pop('State')

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'All']

In [179]:
print new_sat_dict

{'Math': ['510', '513', '515', '505', '516', '499', '499', '506', '500', '501', '499', '510', '499', '489', '501', '488', '474', '526', '499', '527', '499', '515', '510', '517', '525', '515', '542', '439', '539', '512', '542', '553', '542', '589', '550', '545', '572', '589', '580', '554', '568', '561', '577', '562', '596', '550', '570', '603', '582', '599', '551', '514'], 'Rate': ['82', '81', '79', '77', '72', '71', '71', '69', '69', '68', '67', '65', '65', '63', '60', '57', '56', '55', '54', '53', '53', '52', '51', '51', '34', '33', '31', '26', '23', '18', '17', '13', '13', '12', '12', '11', '11', '9', '9', '9', '8', '8', '8', '7', '6', '6', '5', '5', '4', '4', '4', '45'], 'Verbal': ['509', '499', '511', '495', '520', '501', '500', '511', '506', '510', '501', '508', '493', '491', '499', '486', '482', '526', '498', '527', '493', '485', '514', '498', '523', '509', '539', '534', '539', '527', '543', '562', '551', '576', '550', '547', '561', '580', '577', '559', '562', '567', '577', '564', '584', '562', '575', '593', '577', '592', '566', '506']}

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [211]:
math_only = new_sat_dict['Math']
math_only.sort()

In [212]:
print min(math_only)
print max(math_only)

439
603

In [213]:
print min(new_sat_dict['Verbal'])
print max(new_sat_dict['Verbal'])
print min(new_sat_dict['Rate'])
print max(new_sat_dict['Rate'])

482
593
11
9

In [218]:
def min_max(d):
    for k in d:
        d[k].sort()
        print min(d[k])
        print max(d[k])

In [219]:
min_max(new_sat_dict)

439
603
11
9
482
593

In [207]:
new_sat_dict

{'Math': ['439',
  '474',
  '488',
  '489',
  '499',
  '499',
  '499',
  '499',
  '499',
  '499',
  '500',
  '501',
  '501',
  '505',
  '506',
  '510',
  '510',
  '510',
  '512',
  '513',
  '514',
  '515',
  '515',
  '515',
  '516',
  '517',
  '525',
  '526',
  '527',
  '539',
  '542',
  '542',
  '542',
  '545',
  '550',
  '550',
  '551',
  '553',
  '554',
  '561',
  '562',
  '568',
  '570',
  '572',
  '577',
  '580',
  '582',
  '589',
  '589',
  '596',
  '599',
  '603'],
 'Rate': ['82',
  '81',
  '79',
  '77',
  '72',
  '71',
  '71',
  '69',
  '69',
  '68',
  '67',
  '65',
  '65',
  '63',
  '60',
  '57',
  '56',
  '55',
  '54',
  '53',
  '53',
  '52',
  '51',
  '51',
  '34',
  '33',
  '31',
  '26',
  '23',
  '18',
  '17',
  '13',
  '13',
  '12',
  '12',
  '11',
  '11',
  '9',
  '9',
  '9',
  '8',
  '8',
  '8',
  '7',
  '6',
  '6',
  '5',
  '5',
  '4',
  '4',
  '4',
  '45'],
 'Verbal': ['509',
  '499',
  '511',
  '495',
  '520',
  '501',
  '500',
  '511',
  '506',
  '510',
  '501',
  '508',
  '493',
  '491',
  '499',
  '486',
  '482',
  '526',
  '498',
  '527',
  '493',
  '485',
  '514',
  '498',
  '523',
  '509',
  '539',
  '534',
  '539',
  '527',
  '543',
  '562',
  '551',
  '576',
  '550',
  '547',
  '561',
  '580',
  '577',
  '559',
  '562',
  '567',
  '577',
  '564',
  '584',
  '562',
  '575',
  '593',
  '577',
  '592',
  '566',
  '506']}

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.