In [1]:
# load libraries
% matplotlib inline

import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = 6, 6

import seaborn as sns
import numpy as np
import pandas as pd
from sklearn import linear_model
plt.style.use('ggplot')
from __future__ import division 

from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import cross_val_predict
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [4]:
csv_filepath = '/Users/kristensu/dropbox/GA-DSI/DSI-copy/projects/projects-weekly/project-03/Iowa_Liquor_sales_sample_10pct.csv'
df = pd.read_csv(csv_filepath)

In [5]:
df.drop(["County Number", "Volume Sold (Gallons)", "Category Name"], axis=1,inplace=True)

In [6]:
col_name = ['Date', 'Store', 'City', 'Zip', 'County', 'Category',
       'Vendor', 'Item', 'Item Description',
       'Bottle Vol ml', 'State Bottle Cost', 'State Bottle Retail',
       'Bottles Sold', 'Sale $', 'Vol Sold L',]
col_name = [x.lower() for x in col_name]
df.columns = col_name
df.head(2)

,date,store,city,zip,county,category,vendor,item,item description,bottle vol ml,state bottle cost,state bottle retail,bottles sold,sale $,vol sold l
0,11/4/15,3717,SUMNER,50674,Bremer,1051100.0,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0
1,3/2/16,2614,DAVENPORT,52807,Scott,1011100.0,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5

In [16]:
# convert $ to floats
df["sale $"]=df["sale $"].apply(lambda x: x.strip("$"))
df["sale $"]=df["sale $"].apply(lambda x: x.replace(",",""))
df["sale $"]=df["sale $"].astype(float)

In [ ]:
# convert $ to floats

# convert dollars 
df["state bottle cost"]=df["state bottle cost"].apply(lambda x: x.strip("$"))
df["state bottle retail"]=df["state bottle retail"].apply(lambda x: x.strip("$"))


# convert to float
df["state bottle cost"]=df["state bottle cost"].astype(float)
df["state bottle retail"]=df["state bottle retail"].astype(float)

In [18]:
# convert the date to datetime
df["date"] = pd.to_datetime(df["date"])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 15 columns):
date                   270955 non-null datetime64[ns]
store                  270955 non-null int64
city                   270955 non-null object
zip                    270955 non-null object
county                 269878 non-null object
category               270887 non-null float64
vendor                 270955 non-null int64
item                   270955 non-null int64
item description       270955 non-null object
bottle vol ml          270955 non-null int64
state bottle cost      270955 non-null float64
state bottle retail    270955 non-null float64
bottles sold           270955 non-null int64
sale $                 270955 non-null float64
vol sold l             270955 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(5), object(4)
memory usage: 31.0+ MB

In [20]:
# check for missingness on vars
np.sum(df.isnull())
# missing info for county and category

date                      0
store                     0
city                      0
zip                       0
county                 1077
category                 68
vendor                    0
item                      0
item description          0
bottle vol ml             0
state bottle cost         0
state bottle retail       0
bottles sold              0
sale $                    0
vol sold l                0
dtype: int64