# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [2]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [3]:
square_root(2)

1.4142135623730951

In [4]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [5]:
#Function here
def area(x, y):
    return x*y
    
    
#Lambda function here:
area_lambda = lambda x, y: x*y

# Test them out!
print area(4,5), area_lambda(4,5)

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [7]:
df = pd.DataFrame(np.random.randint(0,100,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

    A   B   C   D  Group
0   9  35  47  84      0
1  64  92  15  22      1
2  17   2  75  26      0
3   1  19  59  52      1
4   3  55  88  55      0
5  98  15  40  20      1
6  28  26  39   4      0
7  39  11  64  32      1

In [8]:
df = df.applymap(lambda x: x*2)
df.head()

     A    B    C    D  Group
0   18   70   94  168      0
1  128  184   30   44      2
2   34    4  150   52      0
3    2   38  118  104      2
4    6  110  176  110      0

In [9]:
def _range(x):
    return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

           A            B             C            D
        mean _range  mean _range   mean _range  mean _range
Group
0       28.5     50  59.0    106  124.5     98  84.5    160
2      101.0    194  68.5    162   89.0     98  63.0     64

In [10]:
df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))

           A              B               C              D
        mean <lambda>  mean <lambda>   mean <lambda>  mean <lambda>
Group
0       28.5       50  59.0      106  124.5       98  84.5      160
2      101.0      194  68.5      162   89.0       98  63.0       64

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [75]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(???)

# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(???)

# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
df.pivot_table(???)

A           skewed
B           skewed
C           skewed
D           skewed
Group    normalish
dtype: object

       A  B  C  D
Group
0      2  1  1  2
2      1  3  1  1

In [11]:
df

     A    B    C    D  Group
0   18   70   94  168      0
1  128  184   30   44      2
2   34    4  150   52      0
3    2   38  118  104      2
4    6  110  176  110      0
5  196   30   80   40      2
6   56   52   78    8      0
7   78   22  128   64      2

In [12]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(lambda x: np.sqrt(x))

           A          B          C          D     Group
0   4.242641   8.366600   9.695360  12.961481  0.000000
1  11.313708  13.564660   5.477226   6.633250  1.414214
2   5.830952   2.000000  12.247449   7.211103  0.000000
3   1.414214   6.164414  10.862780  10.198039  1.414214
4   2.449490  10.488088  13.266499  10.488088  0.000000
5  14.000000   5.477226   8.944272   6.324555  1.414214
6   7.483315   7.211103   8.831761   2.828427  0.000000
7   8.831761   4.690416  11.313708   8.000000  1.414214

In [13]:
# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(lambda x: np.mean(x) - np.median(x))

     A    B    C    D  Group
0   18   70   94  168      0
1  128  184   30   44      2
2   34    4  150   52      0
3    2   38  118  104      2
4    6  110  176  110      0
5  196   30   80   40      2
6   56   52   78    8      0
7   78   22  128   64      2

In [35]:
# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'

print df.apply(lambda x: 'skewed' if abs(np.mean(x) - np.median(x)) > np.std(x)*.1 else 'normalish')

A           skewed
B           skewed
C        normalish
D           skewed
Group    normalish
dtype: object

In [37]:
# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
df.pivot_table(index='Group', aggfunc=(lambda x: len([i for i in x if i >100])))

       A  B  C  D
Group
0      0  1  2  2
2      2  1  2  1